<template>
    <agile v-if="list"
           :options="options">
        <div v-for=" (item, i) in list"
             :class="'slide slide-' + item.id"
             :key="item.id"
             :style="{ backgroundImage: 'url(' + item.images.large + ')' }">
            <div class="container">
                <div class="disc" v-html="item.content.rendered"></div>
            </div>
        </div>
    </agile>
</template>

<script>

    import Vue from 'vue'
    import VueAgile from 'vue-agile'
    Vue.use(VueAgile)
    import { mapGetters, mapActions } from 'vuex'
    export default {
        data() {
            return {
                idGrups: 71,
                list: false,
                menu: 'top',
                options: {
                    prevArrow: '<i class="fa fa-chevron-left" aria-hidden="true"></i>',
                    nextArrow: '<i class="fa fa-chevron-right" aria-hidden="true"></i>',
                    dots: true,

                }
            }
        },
        mounted() {

            this.start();
            this.getBanners();

            var thet = this;
            setTimeout(function() {
                $('.slider-home .consult').click( ()=> {
                    thet.setShow(true);
                });
            }, 1000);




        },

        methods: {

            start() {

            },


            ...mapActions([
                'setShow',
            ]),

            getBanners() {
                axios.get('/wp-json/wp/v2/banner?banners=' + this.idGrups)
                    .then(response => {
                        this.list = response.data;
                    })
                    .catch(e => {
                        console.log(e);
                    })
            }

        },


        computed: {
            ...mapGetters({
                modalShow: 'modalShow'
            }),

        }

    }



</script>
