<template>


    <!-- Footer -->
    <footer id="footer" class="footer pb-0">
        <div class="container pt-90 pb-60">
            <div class="row">
                <div class="col-sm-6 col-md-3 footer-about">
                    <div class="widget dark">
                        <img alt="" :src="this.$root.$data.siteData.logo">
                        <p class="font-12 mt-10 mb-10">
                            Ми прагнемо стати найкращими і тому будемо прикладати для цього максимум зусиль.
                        </p>
                        <router-link to="/about-us" class="btn btn-default" >
                            Дізнатись більше
                        </router-link>
                        <ul class="styled-icons soclink">
                            <li class="link-vk"><a target="_blank" href="https://vk.com/bazismed" class="soc-line"><i aria-hidden="true" class="fa fa-vk fa-lg"></i></a></li>
                            <li class="link-fb"><a target="_blank" href="https://www.facebook.com/bazismed/" class="soc-line"><i aria-hidden="true" class="fa fa-facebook fa-lg"></i></a></li>
                            <li class="link-in"><a target="_blank" href="https://www.instagram.com/bazismed/" class="soc-line"><i aria-hidden="true" class="fa fa-instagram fa-lg"></i></a></li>
                            <li class="link-ok"><a target="_blank" href="https://ok.ru/profile/574473292264" class="soc-line"><i aria-hidden="true" class="fa fa-odnoklassniki fa-lg"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title">Останні новини</h5>
                        <recent-posts-widget limit="3"></recent-posts-widget>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark other-link">
                        <h5 class="widget-title line-bottom-theme-colored-2">Корисно</h5>
                        <router-link  :to="{ path: '/prices' }" >Послуги та ціни</router-link>
                        <router-link  :to="{ path: '/complex' }" >Комплексні програми</router-link>
                        <router-link  :to="{ path: '/doctor' }" >Наші лікарі</router-link>
                        <router-link  :to="{ path: '/vacance' }" >Вакансії</router-link>
                        <router-link  :to="{ path: '/blog' }" >Блог</router-link>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h5 class="widget-title line-bottom-theme-colored-2">Години роботи</h5>
                        <div class="opening-hours">
                            <ul class="list list-border">
                                <li class="clearfix"> <span><i class="fa fa-clock-o"></i> Понеділок - п'ятниця :</span>
                                    <div class="value pull-right"> 8.00 – 19.00 </div>
                                </li>
                                <li class="clearfix"> <span class="text-theme-color-2"><i class="fa fa-clock-o"></i> Субота : </span>
                                    <div class="value pull-right text-white"> 9.00 – 15.00 </div>
                                </li>
                                <li class="clearfix"> <span><i class="fa fa-clock-o"></i> Неділя  :</span>
                                    <div class="value pull-right"> <span class="text-highlight bg-theme-colored text-white">вихідний</span>  </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="horizontal-contact-widget mt-30 pt-30 text-center">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="each-widget"> <i class="pe-7s-phone font-36 mb-10"></i>
                                    <div class="title text-white">Зателефонуйте нам</div>
                                    <p>Телефон: <a href="#">+38 (095) 226-02-02</a></p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 mt-sm-50">
                                <div class="each-widget"> <i class="pe-7s-map font-36 mb-10"></i>
                                    <div class="title text-white">Адреса</div>
                                    <p>м. Чернівці, вул. Рівенська, 5А</p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 mt-sm-50">
                                <div class="each-widget"> <i class="pe-7s-mail font-36 mb-10"></i>
                                    <div class="title text-white">Email</div>
                                    <p><a href="#">info@bazismed.com</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 soclink-bottom">
                    <ul class="styled-icons soclink">
                        <li class="link-vk"><a target="_blank" href="https://vk.com/bazismed" class="soc-line"><i aria-hidden="true" class="fa fa-vk fa-lg"></i></a></li>
                        <li class="link-fb"><a target="_blank" href="https://www.facebook.com/bazismed/" class="soc-line"><i aria-hidden="true" class="fa fa-facebook fa-lg"></i></a></li>
                        <li class="link-in"><a target="_blank" href="https://www.instagram.com/bazismed/" class="soc-line"><i aria-hidden="true" class="fa fa-instagram fa-lg"></i></a></li>
                        <li class="link-ok"><a target="_blank" href="https://ok.ru/profile/574473292264" class="soc-line"><i aria-hidden="true" class="fa fa-odnoklassniki fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-theme-colored p-20">
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="text-white font-11 m-0">Copyright &copy;2012 BazisMed.com. All Rights Reserved</p>
                </div>
            </div>
        </div>

        <app-modal></app-modal>
    </footer>
</template>

<script>
    import RecentPostsWidget from '../widgets/RecentPosts'
    import { mapGetters, mapActions } from 'vuex'

    export default {
        components: {
            RecentPostsWidget,
        },
        methods: {
            ...mapActions([
                'setShow',
            ]),
        },

        computed: {
            ...mapGetters({
                modalShow: 'modalShow'
            }),
        },
    }
</script>
