<template>
    <form action="">
        <input type="text" name="pib" placeholder="Ім'я" v-model="pib">
        <masked-input v-model="phone" mask="\+\380 (11) 11-11-111" placeholder="+38 " />
        <div class="send" v-if="send">Надіслано!</div>
        <button @click.prevent="sendForm" v-else class="btn">Зателефонуйте мені</button>

    </form>

</template>

<script>

    import MaskedInput from 'vue-masked-input'
export default {
    props: ['titleProps'],
    data() {
        return {
            pib: '',
            phone: '',
            send: false,
            err: false
        }
    },
    components: {
        MaskedInput
    },
    methods: {
        sendForm(){

            if(!this.phoneLeng) {
                var data = {
                    action: 'ourform',
                    name   : this.pib,
                    phone  : this.phone,
                    title   : this.titleProps,
                };


                var send = this;
                jQuery.post( '/wp-admin/admin-ajax.php', data, function(response) {
                    console.log('Success!:', response);

                    send.send = true;

                });
            }



        }
    },
    computed: {

        phoneLeng(){
            return ((this.phone[this.phone.length-1] != '_') && this.phone.length != 0) ? false : true;
        }

    },
}
</script>

