<template>
    <header id="header" class="header fixed">
        <div class="stuckMenu">
            <div class="container">
                <div class="row">
                    <div class="col-md-9"><appMenuTop tip="fixed"></appMenuTop></div>
                    <div class="col-md-3"><a class="header-btn btn btn-default"
                                             @click.prevent="setShow(true)"
                                             href="#">
                        Записатись на прийом
                    </a></div>
                </div>
            </div>
        </div>
    </header>


</template>


<script>
    import Menu from './Menu'
    import { mapGetters, mapActions } from 'vuex'
    export default {
        data() {
            return {
                scroll: 0
            }
        },
        mounted: function () {
            let _this= this;
            $(window).scroll(
                function (event) {
                    if($(window).scrollTop()>150){
                        _this.scroll = true;
                    }else{
                        _this.scroll = false;
                    }
                }
            );

        },
        components: {
            appMenuTop: Menu,
        },

        methods: {
            ...mapActions([
                'setShow',
            ]),

        },
        computed: {
            ...mapGetters({
                modalShow: 'modalShow'
            }),

        }
    }
</script>