<template>
    <header id="header" class="header mobile" :class="open ? 'open' : ''">

        <div class="stuckMenuMob" @click="open = !open">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <appMenuTop ></appMenuTop>
                    </div>
                    <div class="col-sm-12">
                        <a class="header-btn btn btn-default" href="#">
                            Записатись на прийом
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <ul class="contact">
            <li><a href="tel:+380952260202">+38 (095) 226-02-02</a></li>
            <li><a href="mailto:info@bazismed.com">info@bazismed.com</a></li>
            <li>м. Чернівці, вул. Рівенська, 5А</li>
        </ul>

        <div class="mobBar">

            <router-link to="/" class="logo-mob" >
                <img :src="this.$root.$data.siteData.logo" alt="" @click="open = !open">
            </router-link>


            <button type="button"
                    class="lines-button x2"
                    :class="open ? 'close' : ''"
                    @click="open = !open">
                <span class="lines"></span>
            </button>

        </div>

    </header>


</template>


<script>
    import Menu from './Menu'

    export default {
        data() {
            return {
                scroll: 0,
                open: false
            }
        },
        mounted: function () {



        },
        components: {
            appMenuTop: Menu,
        },


    }
</script>



<style lang="scss">

    $color : #000;
    $transition: .3s;
    header{
        &.mobile{
            position: fixed !important;
            width: 100vw !important;
            height: 100vh;
            background-color: rgb(255, 255, 255);
            top: calc(-100vh + 70px);
            transition: 500ms;
            -webkit-box-shadow: 0 0 20px rgba(34, 34, 34, .2);
            -moz-box-shadow: 0 0 20px rgba(34, 34, 34, .2);
            box-shadow: 0 0 20px rgba(34, 34, 34, .2);


            .mobBar{
                position: absolute;
                bottom: 0;
                width: 100%;
                border-top: 1px solid #ccc;
                heigth: 70px;
                .logo-mob{
                    display: block;
                    width: 70%;
                    float: left;
                    height: 69px;
                    padding: 10px;
                    text-align: center;
                    img{
                        display: inline-block;
                        height: 100%;
                    }
                }
            }





            $button-size : 2.2rem;
            //common to all three-liners
            .lines-button {
                padding: $button-size/2 $button-size/4;
                transition: .3s;
                cursor: pointer;
                user-select: none;
                border-radius: $button-size/7;
                float: right;
                background: none;
                border: none;
                margin-right: 20px;
                /* */
                &:hover {
                    opacity: 1;
                }
                &:active {
                    transition: 0;
                }
                &:focus{
                    outline: none;
                }
            }
            //common to all three-liners
            @mixin line {
                display: inline-block;
                width: $button-size;
                height: $button-size/7;
                background: $color;
                border-radius: $button-size/14;
                transition: $transition;
            }
            //common to all three-liners
            .lines {
                @include line;
                position: relative;

                &:before, &:after {
                    @include line;
                    position: absolute;
                    left:0;
                    content: '';
                    -webkit-transform-origin: $button-size/14 center;
                    transform-origin: $button-size/14 center;
                }
                &:before {
                    top: $button-size/4;
                }
                &:after {
                    top: -$button-size/4;
                }
            }

            //common to all three-liners
            .lines-button:hover {
                .lines {
                    &:before {
                        top: $button-size/3.5;
                    }
                    &:after {
                        top: -$button-size/3.5;
                    }
                }
            }
            .lines-button.close {
                -webkit-transform: scale3d(.8,.8,.8);
                transform: scale3d(.8,.8,.8);
            }
            // for both the arrow up and left icons
            .lines-button.arrow.close {
                .lines {
                    &:before,
                    &:after {
                        top: 0;
                        width: $button-size/1.8;
                    }
                    &:before {
                        -webkit-transform: rotate3d(0,0,1,40deg);
                        transform: rotate3d(0,0,1,40deg);
                    }
                    &:after {
                        -webkit-transform: rotate3d(0,0,1,-40deg);
                        transform: rotate3d(0,0,1,-40deg);
                    }
                }
            }

            //arrow up only: just rotate by 90degrees
            .lines-button.arrow-up.close {
                -webkit-transform: scale3d(.8,.8,.8) rotate3d(0,0,1,90deg);
                transform: scale3d(.8,.8,.8) rotate3d(0, 0, 1,90deg);
            }
            //three-lines to minus only
            .lines-button.minus.close{
                .lines {
                    &:before, &:after{
                        -webkit-transform: none;
                        transform: none;
                        top:0;
                        width: $button-size;
                    }
                }
            }

            //three-lines to x
            .lines-button.x.close{
                .lines {
                    background: transparent;
                    &:before, &:after{
                        -webkit-transform-origin: 50% 50%;
                        transform-origin: 50% 50%;
                        top:0;
                        width: $button-size;
                    }
                    &:before{
                        -webkit-transform: rotate3d(0,0,1,45deg);
                        transform: rotate3d(0,0,1,45deg);
                    }
                    &:after{
                        -webkit-transform: rotate3d(0,0,1,-45deg);
                        transform: rotate3d(0,0,1,-45deg);
                    }
                }
            }

            //three-lines to x method 2
            .lines-button.x2{
                .lines{
                    transition: background .3s .5s ease;

                    &:before, &:after{
                        //set transform origin
                        -webkit-transform-origin: 50% 50%;
                        transform-origin: 50% 50%;
                        transition: top .3s .6s ease, -webkit-transform .3s ease;
                        transition: top .3s .6s ease, transform .3s ease;
                    }
                }
            }

            .lines-button.x2.close{
                float: right;
                .lines {
                    transition: background .3s 0s ease;
                    background: transparent;

                    &:before, &:after{
                        transition: top .3s ease, -webkit-transform .3s .5s ease;//delay the formation of the x till the minus is formed
                        transition: top .3s ease, transform .3s .5s ease;//delay the formation of the x till the minus is formed
                        top:0;
                        width: $button-size;
                    }
                    &:before{
                        -webkit-transform: rotate3d(0,0,1,45deg);
                        transform: rotate3d(0,0,1,45deg);
                    }
                    &:after{
                        -webkit-transform: rotate3d(0,0,1,-45deg);
                        transform: rotate3d(0,0,1,-45deg);
                    }
                }
            }


            .stuckMenuMob{
                .menu{
                    ul{
                        display: block !important;
                        margin: 5px !important;
                        padding: 0;
                        text-align: center;
                        font-size: 18px;

                        li{
                            display: block !important;
                            a{
                                color: rgb(96, 96, 96) !important;
                                display: block !important;
                                height: 44px !important;
                                line-height: 44px !important;
                                letter-spacing: 2px;
                                text-transform: uppercase;
                                .subMenu{
                                    display: none !important;
                                }
                            }
                        }
                    }
                }
                .logo{
                    text-align: center;
                    padding-top: 20px;
                    img{
                        width: 80%;
                    }
                }
                .header-btn{
                    display: none;
                }

            }
            .contact{
                padding: 0;
                margin: 0;
                list-style: none;
                font-size: 14px;
                text-align: center;
                background-color: rgb(204, 204, 204);
                padding: 5px 0;
                position: absolute;
                width: 100%;
                bottom: 70px;
                letter-spacing: 1.5px;
                li{
                    color: rgb(111, 106, 106);
                    a{
                        color: rgb(111, 106, 106);
                    }
                }
            }
            &.open{
                top: 0;
                .logo-mob{
                    position: relative;
                    -webkit-filter: contrast(110%) brightness(110%) sepia(30%) grayscale(100%);
                    filter: contrast(110%) brightness(110%) sepia(30%) grayscale(100%);
                }
            }
        }
    }


</style>