<template>
    <header id="header" class="header">
        <div class="top-panel">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-4 col-md-6">
                        <div class="top-top-block top-local"><span>Адреса:</span> <a href="#">м. Чернівці, вул. Рівенська, 5А</a></div>
                        <div class="top-top-block top-mail"><span>Пошта:</span> <a href="mailto:info@bazismed.com">info@bazismed.com</a></div>
                    </div>
                    <div class="col-xl-6 col-lg-8 col-md-6 text-right">
                        <div class="top-top-block top-tel"><span>Для надзвичайних ситуацій:</span> <a href="tel:+38 (095) 226-02-02">+38 (095) 226-02-02</a></div>
                        <ul class="top-top-block top-social">
                            <li><a target="_blank" href="https://vk.com/bazismed" class="soc-line"><i class="fa fa-vk fa-lg" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" href="https://www.facebook.com/bazismed/" class="soc-line"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/bazismed/" class="soc-line"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" href="https://ok.ru/profile/574473292264" class="soc-line"><i class="fa fa-odnoklassniki fa-lg" aria-hidden="true"></i></a></li>
                        </ul>
                        <app-Mini-Cart></app-Mini-Cart>
                    </div>
                </div>
            </div>
        </div>
        <div class="stuckMenu">
            <div class="container">
                <div class="row">
                    <div class="col-md-9"><appMenuTop tip="norm"></appMenuTop></div>
                    <div class="col-md-3"><a class="header-btn btn btn-default" @click.prevent="setShow(true)" href="#">Записатись на прийом</a></div>
                </div>
            </div>
        </div>

    </header>


</template>


<script>
    import Menu from './Menu'
    import { mapGetters, mapActions } from 'vuex'

    export default {
        data() {
            return {
                scroll: 0,

            }
        },
        mounted: function () {
            let _this= this;
            $(window).scroll(
                function (event) {
                    if($(window).scrollTop()>150){
                        _this.scroll = true;
                    }else{
                        _this.scroll = false;
                    }
                }
            );

        },

        components: {
            appMenuTop: Menu,
        },
        methods: {
            ...mapActions([
                'setShow',
            ]),

        },
        computed: {
            ...mapGetters({
                modalShow: 'modalShow'
            }),
        }
    }
</script>