<template>
    <div class="section section-hours fp-completely" id="hoursHome">
        <div class="full-size"></div>
        <div class="content">
            <!-- Begin of Left Content -->
            <section class="c-left anim">
                <div class="wrapper fit">

                    <!-- Logo Instead of clock -->
                    <!--<div class="home-logo ">
						<img class="" src="img/logo.png" alt="Logo">
					</div>-->

                    <!-- Coutdown Clock -->
                    <div class="clock clock-countdown">
                        <div class="site-config" data-date="01/01/2018 00:00:00" data-date-timezone="+0"></div>
                        <div class="clock-wrapper">
                            <div class="tile tile-years">
                                <span class="years"></span>
                                <span class="txt">років</span>
                            </div>
                            <div class="tile tile-days">
                                <span class="days"></span>
                                <span class="txt">днів</span>
                            </div>
                            <div class="clock-hms">
                                <div class="tile tile-hours">
                                    <span class="hours"></span>
                                    <span class="txt">годин</span>
                                </div>
                                <div class="tile tile-minutes">
                                    <span class="minutes"></span>
                                    <span class="txt">хвилин</span>
                                </div>
                                <div class="tile tile-seconds">
                                    <span class="seconds"></span>
                                    <span class="txt">секунд</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- End of Left Content -->



            <!-- Begin of Right Content -->
            <section class="c-right anim">
                <div class="wrapper">

                    <!-- Title and description -->
                    <div class="title-desc">
                        <div class="t-wrapper">
                            <!-- Logo -->
                            <!--<div class="logo home-logo ">
								<img class="" src="img/logo.png" alt="Logo">
							</div>-->
                            <!-- Title -->
                            <header class="title">
                                <span class="anim-wrapper"><h2><strong>63000</strong> <br> Клієнтів</h2></span>
                                <span class="anim-wrapper"><h3>Нам є чим пишатись! </h3></span>
                            </header>
                            <!-- desc -->
                            <div class="desc">
                                <span class="anim-wrapper"><p>
                                        У багато чому Ми найкращі, і вдається нам це тільки завдяки тому що ми вірні нашим цінностям і принципам!
                                    </p></span>
                            </div>
                        </div>
                    </div>
                    <div class="cta-btns">
                            <span class="anim-wrapper">
                                <router-link to="/about-us" class="btn arrow-circ-btn">
                                    <span class="txt">Про нас</span>
                                    <span class="arrow-icon"></span>
                                </router-link>
                            </span>
                            <span class="anim-wrapper">
                                    <router-link to="/services" class="btn arrow-circ-btn">
                                        <span class="txt">Послуги та ціни</span>
                                        <span class="arrow-icon"></span>
                                    </router-link>
                            </span>
                    </div>

                </div>
            </section>
        </div>


    </div>
</template>
<script>

    var dateCreatedOrg = new Date("December 12, 2012 14:00:00");


    export default {
        data() {
            return {
                date:  Math.trunc((dateCreatedOrg).getTime() / 1000),
                now: Math.trunc((new Date()).getTime() / 1000),
                sec: 0
            }
        },
        mounted: function () {
            this.start();
            console.log(this.date);
            console.log(this.now);


        },

        methods: {
            start: function () {
                var that = this;
                window.setInterval(function () {
                    that.now = Math.trunc((new Date()).getTime() / 1000);


                    that.sec = that.seconds;
                    jQuery('.seconds').html(that.two_digits(that.seconds));
                    jQuery('.minutes').html(that.two_digits(that.minutes));
                    jQuery('.hours').html(that.two_digits(that.hours));
                    jQuery('.days').html(that.two_digits(that.days));
                    jQuery('.years').html(that.years);



                },1000);
            },

            two_digits: function (value) {
                if(value.toString().length <= 1)
                {
                    return "0"+value.toString();
                }
                return value.toString();
            }



        },
        computed: {
            seconds: function seconds() {
                return (this.now -  this.date) % 60;
            },

            minutes: function minutes() {
                return Math.trunc(( this.now - this.date) / 60) % 60;
            },

            hours: function hours() {
                return Math.trunc((this.now - this.date ) / 60 / 60) % 24;
            },

            days: function days() {
                return Math.trunc((  this.now - this.date) / 60 / 60 / 24);
            },

            years: function years() {
                return  Math.trunc(((  this.now - this.date) / 31536000000) * 1000) ;
            },


        },
    }















</script>

<style>


    .section-hours {
        position: relative;
        height: auto;
        box-sizing: border-box;
        color: #fff;
        /*margin-top: 40px;*/
        background-image: url("/img/2222.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        font-size: 14px;
        min-height: 60vh;
        margin: 75px 0 0 0;
    }

    .section-hours:after{
        content: "";
        display: block;
        clear: both;
    }
    .section-hours .content {
        min-height: 100%;
        padding: 0;
        z-index: 2;
        position: relative;
    }


    .section-hours  .content .c-left {
        width: 50%;
        float: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        min-height: 60vh;
    }



    .section-hours .content .c-right {
        min-height: 60vh;
        width: 50%;
        float: right;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
    }


    .section-hours .content .c-left .wrapper {
        padding-top: 96px;
        padding-bottom: 96px;
        padding-left: 64px;
        padding-right: 96px;
        max-width: 720px;
        width: auto;
    }



    .section-hours .anim .clock {
        -webkit-transition: 0.6s;
        transition: 0.6s;
        transition-timing-function: ease;
        transition-delay: 0s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0;
        -webkit-transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
        transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }


    .section-hours .clock::before {
        content: "";
        position: absolute;

        left: auto;
        right: 0;
        height: 4px;
        width: 33%;
        border-top-color: #c83931;
        border-top-color: rgb(255, 255, 255);
        width: 64px;
        top: 60px;
    }


    .section-hours .clock .clock-wrapper .tile .days {
        font-size: 72px;
        line-height: 72px;
        display: block;
        width: 224px;
        border-bottom: 2px solid #ffffff;
        border-bottom-color: rgb(255, 255, 255);
        font-size: 80px;
        line-height: 85px;
    }


    .section-hours .clock .clock-wrapper .tile {
        margin-bottom: 20px;
    }
    .section-hours .clock .clock-wrapper .tile .years {
        display: block;
        width: 136px;
        border-bottom: 2px solid #c83931;
        font-size: 120px;
        line-height: 120px;
    }

    .section-hours .clock .clock-wrapper .tile .days,
    .section-hours  .clock .clock-wrapper .tile .hours,
    .section-hours .clock .clock-wrapper .tile .minutes,
    .section-hours .clock .clock-wrapper .tile .seconds {
        border-bottom-color: #c83931;
    }


    .section-hours .clock {
        position: relative;
    }
    .section-hours .clock .clock-wrapper .tile .txt {
        font-size: 13px;
        line-height: 26px;
        text-transform: uppercase;
    }

    .section-hours .clock .clock-wrapper::before, .section-hours .clock .clock-wrapper::after {
        content: " ";
        display: table;
    }
    .section-hours *, .section-hours *::after, .section-hours *::before {
        box-sizing: inherit;
    }

    .section-hours .clock .clock-wrapper .tile-hours, .section-hours .clock .clock-wrapper .tile-minutes, .section-hours .clock .clock-wrapper .tile-seconds {
        float: left;
        margin-right: 16px;
    }


    .section-hours .clock .clock-wrapper .tile .hours, .section-hours .clock .clock-wrapper .tile .minutes, .section-hours .clock .clock-wrapper .tile .seconds {
        font-size: 32px;
        line-height: 32px;
        display: block;
        width: 64px;
        border-bottom: 2px solid #ffffff;
        border-bottom-color: rgb(255, 255, 255);
    }

    .section-hours .clock .clock-wrapper .tile .hours, .section-hours .clock .clock-wrapper .tile .minutes, .section-hours .clock .clock-wrapper .tile .seconds {
        font-size: 48px;
        line-height: 48px;
    }

    .section-hours .clock .clock-wrapper .tile .days, .section-hours .clock .clock-wrapper .tile .hours, .section-hours .clock .clock-wrapper .tile .minutes, .section-hours .clock .clock-wrapper .tile .seconds {
        border-bottom-color: #c83931;
    }
    .section-hours .clock .clock-wrapper::before, .section-hours .clock .clock-wrapper::after {
        content: " ";
        display: table;
    }
    .section-hours .clock .clock-wrapper::after {
        clear: both;
    }

    .section-hours .clock::after {
        content: "";
        position: absolute;
        top: 36px;
        left: auto;
        right: 0;
        bottom: 27px;
        width: 32px;
        border: 2px solid #ffffff;
        border-top-width: 2px;
        border-left-width: 2px;
        border-top-style: solid;
        border-left-style: solid;
        border-top-color: rgb(255, 255, 255);
        border-right-color: rgb(255, 255, 255);
        border-bottom-color: rgb(255, 255, 255);
        border-left-color: rgb(255, 255, 255);
        border-top: none;
        border-top-color: currentcolor;
        border-left: none;
        border-left-color: currentcolor;
        top: 60px;
        border-color: #c83931;
    }


    .section-hours .full-size {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(39, 39, 39, 0.7);
        position: absolute;
        z-index: 1;
    }


    .section-hours .clock::before {
        content: "";
        position: absolute;
        top: 36px;
        left: auto;
        right: 0;
        height: 4px;

        border-top: 2px solid #ffffff;

        width: 100px;
        top: 60px;
        border-top-color: #c83931;
    }


    .section-hours  .c-right::before {
        position: absolute;
        content: "";
        background: #ffffff;
        top: 15%;
        left: -1px;
        width: 2px;
        height: 70%;
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    .section-hours  .c-left .wrapper.fit, .section-hours.c-right .wrapper.fit {
        max-width: 720px;
    }

    .section-hours .clock .clock-wrapper {
        position: relative;
        padding-right: 32px;
    }
    .section-hours .c-right .wrapper {
        padding-top: 96px;
        padding-bottom: 96px;
        padding-right: 64px;
        padding-left: 96px;
        width: 100%;
        max-width: 720px;
    }

    .section-hours .title-desc {
        max-width: 480px;
    }
    .section-hours .anim .anim-wrapper {
        overflow: hidden;
        display: block;
    }

    .section-hours .anim h2 {
        -webkit-transition: 0.6s;
        transition: 0.6s;
        transition-timing-function: ease;
        transition-delay: 0s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        position: relative;
        -webkit-transform: translateY(120%);
        transform: translateY(120%);
        -webkit-transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
        transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
        -webkit-transform: none;
        transform: none;
        -webkit-transition-delay: 0.6s;
        transition-delay: 0.6s;
        font-size: 72px;
    }
    .section-hours  .title-desc h1, .section-hours  .title-desc h2, .section-hours  .title-desc h3, .section-hours  .title-desc h4 {
        margin-bottom: 0.25em;
    }

    .section-hours  header {
        display: block;
    }
    .section-hours  .title {
        text-align: left;
    }
    .section-hours strong, .section-hours .bold {
        font-weight: bold;
    }
    .section-hours .anim .anim-wrapper {
        overflow: hidden;
        display: block;
    }

    .section-hours .anim h3 {
        -webkit-transition: 0.6s;
        transition: 0.6s;
        transition-timing-function: ease;
        transition-delay: 0s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        position: relative;
        -webkit-transform: translateY(120%);
        transform: translateY(120%);
        -webkit-transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
        transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
        font-size: 2rem;
        margin-bottom: 0.25em;
        -webkit-transform: none;
        transform: none;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
    }


    .section-hours .anim p {
        -webkit-transition: 0.6s;
        transition: 0.6s;
        transition-timing-function: ease;
        transition-delay: 0s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        position: relative;
        -webkit-transform: translateY(-120%);
        transform: translateY(-120%);
        -webkit-transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
        transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
        -webkit-transform: none;
        transform: none;
        -webkit-transition-delay: 1.0s;
        transition-delay: 1.0s;
    }

    .section-hours .content .cta-btns {
        margin-top: 16px;
    }

    .section-hours .anim .cta-btns .anim-wrapper {
        -webkit-transition: 0.6s;
        transition: 0.6s;
        transition-timing-function: ease;
        transition-delay: 0s;
        display: inline-block;
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
        transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        -webkit-transition-delay: 1.2s;
        transition-delay: 1.2s;
    }


    .section-hours .arrow-circ-btn {
        color: #ffffff;
        position: relative;
        display: inline-block;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        cursor: pointer;
        border: none;
        padding-left: 0;
    }

    .section-hours .cta-btns .btn {
        margin-right: 16px;
    }


    .section-hours .arrow-circ-btn .txt {
        display: inline-block;
        padding: 8px 0;
        padding-right: 4px;
        color: #ffffff;
        cursor: pointer;
    }


    .section-hours .arrow-circ-btn .arrow-icon {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 1;
        font-size: 18px;
        position: relative;
        color: #ffffff;
        border-radius: 40px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .section-hours .arrow-circ-btn .arrow-icon::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        content: "";
        border-radius: 40px;
        border: 2px solid #ffffff;
        border-top-color: rgb(255, 255, 255);
        border-right-color: rgb(255, 255, 255);
        border-bottom-color: rgb(255, 255, 255);
        border-left-color: rgb(255, 255, 255);
        border-color: #ffffff;
        border-left-color: transparent;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }


    .section-hours .arrow-circ-btn .arrow-icon::before {
        border-color: #c83931;
        border-left-color: rgb(255, 86, 73);
        border-left-color: transparent;
    }
    .section-hours .arrow-circ-btn .arrow-icon::after {
        position: absolute;
        top: 14px;
        left: 12px;
        height: 12px;
        width: 12px;
        z-index: -1;
        content: "";
        border: 2px solid #ffffff;
        border-top-width: 2px;
        border-left-width: 2px;
        border-top-style: solid;
        border-left-style: solid;
        border-top-color: rgb(255, 255, 255);
        border-left-color: rgb(255, 255, 255);
        border-top: none;
        border-left: none;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }


    .section-hours .arrow-circ-btn:focus, .section-hours .arrow-circ-btn:hover {
        color: #ffffff;
        opacity: 0.8;
        background-color: transparent;
    }

    .section-hours .arrow-circ-btn:focus .arrow-icon, .section-hours .arrow-circ-btn:hover .arrow-icon {
        color: #ffffff;
    }


    .section-hours .arrow-circ-btn:focus .arrow-icon::before, .section-hours .arrow-circ-btn:hover .arrow-icon::before {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        border-color: #FEA91F;
        border-left-color: transparent;
        border-color: #fff;
        border-left-color: rgb(255, 255, 255);
        border-left-color: transparent;
    }
    .section-hours  .arrow-circ-btn:focus .arrow-icon::after, .section-hours  .arrow-circ-btn:hover .arrow-icon::after {
        left: 15px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        border-color: #c83931;
    }

</style>


