<template>
    <section class="client-home">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-12">
                    <h2 class="text-uppercase mt-0 line-height-1">Що говорять ті хто нам довіряють? </h2>
                </div>
                <div class="col-md-8">
                    <slick v-if="clientList" ref="slick" :options="clientOptions">
                        <div class="item" v-for="(client, index) in clientList">
                            <div class="text-center">
                                <div class="client">
                                    <div class="client-img">
                                        <img :src="client.images.thumbnail" :alt="client.title.rendered">
                                    </div>
                                    <div class="client-text" v-html="client.content.rendered"></div>

                                    <div class="client-footer">
                                        <i class="fa fa-quote-right font-36 mt-10 text-gray-lightgray"></i>
                                        <p class="name">{{client.title.rendered}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </slick>
                </div>
            </div>
        </div>
    </section>
</template>

<script>

    import Vue from 'vue'
    import Slick from 'vue-slick';
    import { mapGetters, mapActions } from 'vuex'
    export default {
        components: {

            Slick,

        },
        data() {
            return {
                clientList: false,
                clientOptions: {
                    slidesToShow: 1,
                    dots: true,
                    arrows: this,
                },
            }
        },
        mounted() {

            this.getClients();





        },

        methods: {


            getClients: function () {
                let url = '/wp-json/wp/v2/client?per_page=30&orderby=id';

                axios.get(url)
                    .then(response => {
                        this.clientList = response.data;

                    })
                    .catch(e => {
                        console.log(e);
                    })

            },



        },




    }



</script>
