<template>
    <transition name="loader-animation">
        <div class="progress loader"
             v-if="((loadingProgress > 0) && (loadingProgress < 100)) ? true : false">
            <div class="progress-bar"
                 role="progressbar"
                 :style="loaderStyle"
                 aria-valuenow="100"
                 aria-valuemin="0"
                 aria-valuemax="100"></div>
        </div>
    </transition>
</template>


<script>
    export default {
        data() {
            return {
                showLoader: true,
                show: true,
                loadingProgress: 0
            }
        },

        mounted() {
            this.ready();
        },

        methods: {
            ready(){
                var self = this;
                self.loadingProgress = 2;
                for (var i = 0; i < 100; i++) {
                    if(i > 20 && i < 29){
                        setTimeout(function () {
                            self.loadingProgress += 5;
                        },20*i);
                    }else{
                        setTimeout(function () {
                            self.loadingProgress ++;
                        },8*i);
                    }
                }
                setTimeout(function () {
                    self.loadingProgress = 100;
                },1500);
            },
           scrollTop(){
           }
        },
        watch: {
            loadingProgress(){
            },

            isLoading(val) {
                if (val == false) {
                    let self = this
                    setTimeout(function(){
                        self.showLoader = false
                    }, 1000)
                }
            },

            '$route'(to, from) {
                $("html, body").animate({
                    scrollTop: 0
                }, 600);
               this.loadingProgress = 0;
               this.ready();
            }
        },

        computed: {
            // ...mapGetters({
            //     isLoading: 'isLoading',
            //     loadingProgress: 'loadingProgress'
            // }),

            loaderStyle() {
                return `width: ${this.loadingProgress}%;`
            }
        },
    }
</script>

<style>
    .loader-animation-enter-active, .loader-animation-leave-active {
        transition: opacity .5s;
    }
    .loader-animation-enter, .loader-animation-leave-to /* .fade-leave-active до версии 2.1.8 */ {
        opacity: 0;
    }
</style>