<template>


    <nav id="main_menu">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-3 logo">
                <router-link to="/" class="" >
                  <!--  <img src="/img/cropped-logoBZM.png" alt="" v-if="tip == 'fixed'">
                    <img :src="this.$root.$data.siteData.logo" alt="" v-else>-->
                    <img :src="this.$root.$data.siteData.logo" alt="">
                </router-link>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-9 menu">
                <ul>
                    <router-link v-for=" (item, i) in list"
                                 tag="li"
                                 class="item-m"
                                 :to="item.url"
                                 active-class=""
                                 exact-active-class="active"
                                 :key="item.id">
                        <a>{{ item.title }}<span class="indicator"></span>

                            <ul v-if="item.children.length" class="subMenu">
                                <router-link v-for=" (sumItem, i) in item.children"
                                             tag="li"
                                             :to="sumItem.url"
                                             active-class=""
                                             exact-active-class="active"
                                             :key="sumItem.id">
                                    <a>{{ sumItem.title }} </a>
                                </router-link>

                            </ul>


                        </a>
                    </router-link>
                </ul>
            </div>
        </div>

    </nav>



</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    export default {
        props: ['tip'],
        data() {
            return {
                list: [],
                menu: 'top'
            }
        },
        mounted() {

            this.start();
            this.getMenu();


        },

        methods: {

            start() {

            },

            getMenu() {
                axios.get('/wp-json/wp-api-menus/v2/menu-locations/' + this.menu)
                    .then(response => {
                        this.list = response.data;
                    })
                    .catch(e => {
                        console.log(e);
                    })
            }

        },



    }
</script>