<template>
    <div class="top-top-block top-cart">
        <div class="miniCart" @click="moveToTop()">
            <i class="fa fa-shopping-cart"><span v-if="quantity > 0" class="quantity-mini-cart">{{ quantity }}</span></i>
        </div>
        <div id="miniCart" v-if="isShow">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title" @click="isShow = !isShow">

                        Кошик
                    </h3>
                    <div class="mini_cart_body">
                        <ul>
                            <li class="cart_item" v-for="(item, i) in products">
                                <div href="#" class="cart_item">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="item_title">{{ item.title.rendered }}</div>
                                        </div>

                                        <div class="col-md-3"><b>
                                            {{ item.price }} грн
                                        </b>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="switcher">
                                                <input type="checkbox"
                                                       @change="addToCart(item)"
                                                       :checked="isCart(item.id) ? 'checked' : ''"
                                                />
                                                <div class="switcher__indicator"></div>
                                                <span data-on="В кошику" data-off="В кошик"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="total-mini-cart">
                            <div class="row">
                                <div class="col-md-6"><b class="pull-right">Загалом</b></div>
                                <div class="col-md-6"><span class="pull-left">{{ total }} грн</span></div>
                            </div>
                        </div>
                        <div class="btn-mini-cart">
                            <div class="row">
                                <div class="col-md-6"><a href="#" class="continued" @click="isShow = false">Закрити</a></div>
                                <div class="col-md-6" @click="isShow = false">
                                    <router-link  :to="{ path: '/checkout' }" class="checkout" >
                                        Оформити
                                    </router-link>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapGetters, mapActions } from 'vuex'
    export default {
        data() {
            return {
                isShow:false,
                html: 'empty',
                cart: []
            }
        },
        mounted() {
            let pr = this.$session.get('cart');

            console.log(pr);
            if(pr !== undefined) this.setCart(pr)
        },

        computed: {
            ...mapGetters({
                products: 'cartProducts',
                getNumberOfProducts: 'getNumberOfProducts',
            }),


            total () {
                return this.products.reduce((total, p) => {
                    return parseInt(total) +  parseInt(p.price);
                }, 0)
            },
            quantity(){
                let i = 0;


                return (this.products) ? this.products.length : 0
            }


        },
        methods: {
            checkout(){
                alert('Pay us $' + this.total)
            },
            isCart(id){
                return (this.products) ? this.products.find(p => p.id === id) : false
            },
            moveToTop(){
                $("html, body").animate({
                    scrollTop: 0
                }, 600);
                this.isShow = !this.isShow;

            },
            ...mapActions([
                'addToCart',
                'setCart',
            ]),
        },


        watch: {
            isShow(){
                if(this.isShow){
                    $('html').addClass('showMiniCart');
                } else {
                    $('html').removeClass('showMiniCart')
                }
            },
            products(){
                this.$session.set('cart', this.products);
            }

        },

//

    }
</script>

<style lang="scss">
    html{
        transition: 500ms;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    html.showMiniCart{
        transition: 500ms;
        overflow: hidden;
        transform: translateX(-500px);
    }

    .top-cart{
        .fa-shopping-cart{
            position: relative;
        }
        .quantity-mini-cart{
            display: block;
            position: absolute;
            line-height: 12px;
            top: 16px;
            right: -12px;
            font-size: 12px;
        }
    }
    #miniCart {
        position: fixed;
        width: 500px;
        height: 100vh;
        right: -500px;
        top: 0;
        background: rgb(255, 255, 255);
        color: rgba(0,0,0,0.6) !important;
        box-shadow: inset 0px -6px 5px rgba(0,0,0,0.2);
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .page-title{
            text-align: center;
            padding-top: 20px;
            font-size: 18px;
            text-transform: uppercase;
        }
        .cart_item{
            background-color: rgb(236, 236, 236);
            padding: 5px 0 0px 10px;
            margin-bottom: 5px;
        }
        .btn-mini-cart {
            .checkout{
                background-color: rgb(156, 73, 68);
                display: block;
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                &:hover{
                    color: #fff;
                }
            }
            .continued{
                background-color: rgb(174, 216, 228);

                display: block;
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                &:hover{
                    color: #000;
                }
            }
        }

    }

</style>