<template>

    <div class="modal-bazis">
        <transition name="zoom">
            <div class="simple-modal-bg" v-if="modalShow"></div>
        </transition>
        <transition name="appear">
            <div class="simple-modal" v-if="modalShow">
                <div class="popup-close fa fa-times" @click="setShow(false)"></div>
                <div class="container" v-if="!send">
                    <div class="row justify-content-md-center">
                        <div class="col-md-6 text">
                            Залиште свій номер телефону, <br>
                            і наш клінічний асистент зв'яжеться з вами <br>
                            для уточнення деталей
                        </div>
                        <div class="col-md-4 tell">
                            <masked-input v-model="phone" mask="\+\380 (11) 11-11-111" placeholder="+38 " />
                            <span class="error" v-if="phoneLeng">Вкажить вірний номер телефону!</span>
                        </div>
                        <div class="col-md-2 btnsend">
                            <button class="" @click="sendForm()" :class="!phoneLeng ? 'active' : ''">Відправити</button>
                        </div>
                    </div>
                </div>
                <div class="container" v-else>
                    <div class="row justify-content-md-center">
                        <div class="col-md-6 send-message">
                            <span class="fa fa-envelope-o icon"></span>
                            Ваша заявка отримана! <br>
                            Наш клінічний асистент зв'яжеться з вами <br>
                            для уточнення деталей
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>



    import { mapGetters, mapActions } from 'vuex'
    import MaskedInput from 'vue-masked-input'
    export default {
        props: ['name'],
        data() {
            return {
                show:true,
                send:false,
                phone: '0',
                }
        },
        components: {
            MaskedInput
        },
        mounted() {
            this.start();
            this.phone = '';
        },
        methods: {
            start() {



            },
            sendForm() {

                if(!this.phoneLeng) {

                    let form_data = new FormData;
                    form_data.append('action', 'callme');
                    form_data.append('phone', this.phone);


                    axios.post('/wp-admin/admin-ajax.php', form_data)
                        .then(response => {
                            console.log(response.data)
                            this.send = true;
                            setTimeout(()=> {
                                this.send = false;
                                this.setShow(false);
                            }, 5000);
                        })
                        .catch(e => {
                            console.log(e);
                        });

                }



            },

            ...mapActions([
                'setShow',
            ]),
        },

        computed: {
            ...mapGetters({
                modalShow: 'modalShow'
            }),
            phoneLeng(){
                return ((this.phone[this.phone.length-1] != '_') && this.phone.length != 0) ? false : true;
            }
        },
    }
</script>

<style  lang="scss">
.modal-bazis{

    .simple-modal {
        min-width: 200px;
        min-height: 100px;
        max-width: 100%;
        max-height: 400px;
        -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.19);
        position: fixed;
        left: 50%;
        top: 50%;
        background: rgb(255, 255, 255);
        border-radius: 0;
        width: 850px;
        padding: 100px 30px 40px 30px;
        z-index: 1;
        transform: translateY(-50%) translateX(-50%);
    }
    .simple-modal p {
        text-align: center;
    }


    .backdrop:after {
        content: "";
        width: 100%;
        height: 100%;
        background: black;
        position: absolute;
        -webkit-animation: backdrop 600ms ease forwards;
        animation: backdrop 600ms ease forwards;
    }

    @-webkit-keyframes backdrop {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 0.5;
        }
    }

    @keyframes backdrop {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 0.5;
        }
    }
    .appear-enter-active {
        -webkit-animation: appear 700ms ease;
        animation: appear 700ms ease;
    }

    .appear-leave-active {
        animation: appear 300ms ease reverse;
    }

    @-webkit-keyframes appear {
        0% {
            top: -100%;
        }
        2% {
            height: 102%;
        }
        5% {
            height: 115%;
        }
        10% {
            height: 120%;
        }
        20% {
            height: 125%;
        }
        100% {
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }

    @keyframes appear {
        0% {
            top: -100%;
        }
        2% {
            height: 102%;
        }
        5% {
            height: 115%;
        }
        10% {
            height: 120%;
        }
        20% {
            height: 125%;
        }
        100% {
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }


    .simple-modal-bg{
        position: fixed;
        z-index: 8888;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(77, 77, 77, 0.7);
    }
    .simple-modal{
        z-index: 9999;
        color: #000;
        .popup-close{
            width: 50px;
            height: 50px;
            line-height: 50px;
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 32px;
            text-align: center;
            cursor: pointer;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg) scale(1);
            -webkit-transition: 300ms;
            transition: 300ms;
            &:hover {
                -moz-transform: rotate(-270deg) ;
                -ms-transform: rotate(-270deg) ;
                -webkit-transform: rotate(-270deg);
                transform: rotate(-270deg) ;
            }
        }

        .text {
            color: rgb(85, 85, 85);
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            padding: 0 15px;
        }
        .tell{
            padding-left: 0;
            padding-right: 0;
            position: relative;
            span{

                &.pm{
                    position: absolute;
                    left: 0;
                    display: block;
                    width: 50px;
                    line-height: 40px;
                    height: 40px;
                    font-size: 28px;
                    color: rgb(204, 204, 204);
                }
                &.error {
                    position: absolute;
                    bottom: 10px;
                    right: 0;
                    color: rgb(255, 0, 0);
                    font-size: 12px;
                }
            }
            input{

                position: relative;
                width: 100%;
                height: 44px;
                line-height: 44px;
                font-family: DinPro_regular,Arial,Helvetica,sans-serif;
                font-size: 26px;
                float: left;
                margin: 0;
                border: 0 none;;
                outline: none;
                background: none;
                color: rgb(204, 204, 204);
                border-bottom: 2px solid rgb(204, 204, 204);
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 0;
            }
        }
        .btnsend{
            button{
                position: relative;
                display: inline-block;
                margin: 0;
                padding: 14px 20px 15px;
                background: none;
                border: 0 none;
                outline: none;
                color: #000;
                -moz-border-radius: 0;
                -webkit-border-radius: 0;
                border-radius: 0;
                cursor: pointer;
                background: #ccc;
                opacity: 0.6;
                filter: alpha(opacity=60);
                transition: 500ms;
                text-transform: uppercase;
                &.active{
                    opacity: .9;
                    background: rgb(156, 73, 68);
                    color: white;
                    &:hover{

                        opacity: 1;
                        -moz-border-radius: 50px;
                        -webkit-border-radius: 50px;
                        border-radius: 50px;
                    }
                }

            }
        }
        .send-message{
            color: rgb(85, 85, 85);
            font-size: 28px;
            text-align: center;
            .icon{
                font-size: 60px;
                display: block;
                margin-bottom: 20px;
                color: green;
            }
        }
    }


}


</style>