<template>
    <section class="module our-form">
        <div class="container">
            <h2>Можна і далі порівнювати ціни, шукати відгуки, сумніватись
                <span>A можна записатись на обстеження уже</span>
            </h2>
            <p class="subtitle">Від раньої діагностики залежить життя і можливість відновити здоровя. У нас є усе для цього</p>
            <div class="row justify-content-md-center">
                <div class="col-md-5">
                    <ol>
                        <li>Щось турбує?</li>
                        <li>Необхідно обстеження?</li>
                        <li>Ми прояснимо ситуацію!</li>
                    </ol>
                    <p class="fing">
                        Заповніть цю форму <br >- це займе кілька секунд.
                    </p>
                </div>
                <div class="col-md-5">
                    <app-form-mini :titleProps="title"></app-form-mini>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        props: ['title'],
        data() {
            return {

            }
        },
    }
</script>

<style lang="scss">
    html{
        transition: 500ms;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    html.showMiniCart{
        transition: 500ms;
        overflow: hidden;
        transform: translateX(-500px);
    }

    .top-cart{
        .fa-shopping-cart{
            position: relative;
        }
        .quantity-mini-cart{
            display: block;
            position: absolute;
            line-height: 12px;
            top: 16px;
            right: -12px;
            font-size: 12px;
        }
    }
    #miniCart {
        position: fixed;
        width: 500px;
        height: 100vh;
        right: -500px;
        top: 0;
        background: rgb(255, 255, 255);
        color: rgba(0,0,0,0.6) !important;
        box-shadow: inset 0px -6px 5px rgba(0,0,0,0.2);
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .page-title{
            text-align: center;
            padding-top: 20px;
            font-size: 18px;
            text-transform: uppercase;
        }
        .cart_item{
            background-color: rgb(236, 236, 236);
            padding: 5px 0 0px 10px;
            margin-bottom: 5px;
        }
        .btn-mini-cart {
            .checkout{
                background-color: rgb(156, 73, 68);
                display: block;
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                &:hover{
                    color: #fff;
                }
            }
            .continued{
                background-color: rgb(174, 216, 228);

                display: block;
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                &:hover{
                    color: #000;
                }
            }
        }

    }

</style>