<template>
    <div id="preloader">
        <div class="focus">
            <div class="focus--mask">
                <div class="focus--mask-inner">BazisMed.com</div>
            </div>
        </div>
        <div class="blobs-wrapper">
            <div class="blobs left-top">
                <div class="blob blue"></div>
                <div class="blob blue"></div>
                <div class="blob blue"></div>
            </div>

            <div class="blobs right-bottom">
                <div class="blob red"></div>
                <div class="blob red"></div>
                <div class="blob red"></div>
            </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                    <feBlend in="SourceGraphic" in2="goo" />
                </filter>
            </defs>
        </svg>
    </div>

</template>


<script>

    export default {
        data() {
            return {

            }
        },
        mounted: function () {


        },
        components: {

        },


    }
</script>
<style lang="scss">
    $redOne: #9c4944;
    $blueThree: #aed8e4 - 60%;

    #preloader {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: white;
        z-index: 999999;
        transition: all .1s ease-out;

        .blobs-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            bottom: auto;
            right: auto;
            transform: translate3d(-50%,-50%,0);
        }

        @keyframes blobs-left {
            0%{
                margin-left: 20px;
            }
            33%{
                margin-top: -15px;
                margin-left: -20px;
            }
            62%{
                margin-top: 22px;
                margin-left: -5px;
            }
            75%{
                margin-top: 22px;
                margin-left: -5px;
            }
            94%{
                margin-left: 20px;
            }
        }

        @keyframes blobs-right {
            0%{
                margin-left: -20px;
            }
            33%{
                margin-top: 15px;
                margin-left: 20px;
            }
            62%{
                margin-top: -22px;
                margin-left: 5px;
            }
            75%{
                margin-top: -22px;
                margin-left: 5px;
            }
            94%{
                margin-left: -20px;
            }
        }

        .blobs {
            position: absolute;
            top: 50%;
            left: 50%;
            bottom: auto;
            right: auto;
            transform: translate3d(-50%,0,0);
            filter: url('#goo');
            margin-left: 20px;
            animation: blobs-left cubic-bezier(0.770, 0.000, 0.175, 1.000) 4s infinite 1s;

            &.right-bottom {
                transform: translate3d(-50%,-50%,0) rotate(180deg);
                margin-top: -40px;
                margin-left: -20px;
                animation: blobs-right cubic-bezier(0.770, 0.000, 0.175, 1.000) 4s infinite 1s;
            }
        }

        $dist-x: 30px;
        $dist-y: 30px;

        @keyframes blob-left-top-anim {
            0% {
                transform: translate(0,0);
            }
            33% {
                transform: translate(-$dist-x, $dist-y);
            }
            62% {
                transform: scale(.65) translate(4px, 16px);
            }
            75% {
                transform: scale(.65) translate(4px, 16px);
            }
            94% {
                transform: translate(0,0);
            }
        }

        @keyframes blob-right-top-anim {
            0% {
                transform: translate(0,0);
            }
            33% {
                transform: translate($dist-x,-$dist-y);
            }
            66% {
                transform: scale(.65) translate(25px, -85px);
            }
            75% {
                transform: scale(.65) translate(25px, -85px);
            }
            96% {
                transform: translate(0,0);
            }
        }

        @keyframes blob-left-bottom-anim {
            0% {
                transform: translate(0,0);
            }
            33% {
                transform: translate(-$dist-x,$dist-y);
            }
            62% {
                transform: translate(-$dist-x,-$dist-y);
            }
            75% {
                transform: translate(-$dist-x,-$dist-y);
            }
            98% {
                transform: translate(0,0);
            }
        }

        .blob {
            position: absolute;
            background: black;
            left: 50%;
            top: 50%;
            width: 60px;
            height: 60px;
            line-height: 100px;
            text-align: center;
            color: white;
            font-size: 40px;
            border-radius: 100%;
            margin-top: -50px;
            margin-left: -50px;
            animation: blob-left-top-anim cubic-bezier(0.770, 0.000, 0.175, 1.000) 4s infinite 1s;

            &.red {
                background: $redOne;
            }

            &.blue {
                background: $blueThree;
            }

            &.hidden {
                background: transparent;
            }

            &:nth-child(2) {
                animation-name: blob-left-bottom-anim;
            }

            &:nth-child(3) {
                animation-name: blob-right-top-anim;
            }
        }



        $componentSize: 400px;
        $maskSize: 80px;
        $speed: 2s;
        $borderOffset: 8px;

        $backgroundColor: #ccc;
        $animationProps: $speed linear infinite alternate;

        @keyframes mask-move {
            0%   {
                transform: translateX(0);
            }
            100% {
                transform: translateX($componentSize - $maskSize);
            }
        }

        @keyframes mask-inner-move {
            0%   {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-($componentSize - $maskSize));
            }
        }



        .focus {
            font-size: 3rem;
            text-transform: uppercase;
            color: $redOne;
            letter-spacing: .2rem;
            line-height: 1;
            position: absolute;
            width: $componentSize;
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
            &:before {
                content: 'BazisMed.com';
                filter: blur(3px);
            }
            &:after {
                content: '';
                position: absolute;
                width: $maskSize;
                height: calc(100% + #{$borderOffset});
                top: -($borderOffset / 2);
                left: 0;
                border-top: 2px solid;
                border-bottom: 2px solid;
                animation: mask-move $animationProps;
            }
            &--mask {
                overflow: hidden;
                position: absolute;
                width: $maskSize;
                height: 100%;
                top: 0;
                left: 0;
                background: $backgroundColor;
                animation: mask-move $animationProps;
                &-inner {
                    animation: mask-inner-move $animationProps;
                }
            }
        }

    }

</style>