<template>
    <div class="page-site home-page">
        <section class="slider-home">
            <MainCarusel></MainCarusel>
        </section>
        <section class="about-home">
            <div class="container about-blocks">
                <div class="row">
                    <div class="col-md-4 about-block">
                        <div class="title">Години роботи</div>
                        <div class="disc">
                            <ul class="table-time-work">
                                <li>Понеділок - п'ятниця <span>8.00 – 19.00</span></li>
                                <li>Субота <span>9.00 – 15.00</span></li>
                                <li>Неділя <span>вихідний</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 about-block">
                        <div class="title">Коротко про нас</div>
                        <div class="disc">
                            <p>Ми прагнемо стати найкращими і тому будемо прикладати для цього максимум зусиль.</p>
                            <a href="#" class="elementor-button-link">Дізнатись більше</a>
                        </div>
                    </div>
                    <div class="col-md-4 about-block hot-line">
                        <div class="title">Телефон гарячої лінії</div>
                        <p class="hot-number"><i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                            <a href="tel:+380952260202">+38 (095) 226-02-02</a></p>
                        <p>Ми відповімо на усі питання і одразу запишемо до лікаря</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-features">
            <div class="container features-blocks">
                <h2>У чому особливості Базисмед</h2>
                <div class="row justify-content-md-center">
                    <div class="col-md-3 features-block">
                        <i class="fa fa-ambulance" aria-hidden="true"></i>
                        <div class="title">Провідні спеціалісти</div>
                        <p>Кожен лікар веде активну наукову діяльність, регулярно стажується закордоном</p>
                    </div>
                    <div class="col-md-3 features-block">
                        <i class="fa fa-ambulance" aria-hidden="true"></i>
                        <div class="title">Відповідаємо за усе що говоримо</div>
                        <p>Ми приділяємо увагу деталям. Усе що ми призначаємо працює на результат</p>
                    </div>
                    <div class="col-md-3 features-block">
                        <i class="fa fa-ambulance" aria-hidden="true"></i>
                        <div class="title">Заслужили повагу колег та пацієнтів</div>
                        <p>Більшість наших пацієнтів приходить по рекомендаціям. У нас обстежуються та лікуються
                            сімями</p>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-3 features-block">
                        <i class="fa fa-ambulance" aria-hidden="true"></i>
                        <div class="title">Не навязуємо не потрібних послуг</div>
                        <p>тільки доказові методики діагностики і лікування. Ніяких “лівих” обстежень і призначень</p>
                    </div>
                    <div class="col-md-3 features-block">
                        <i class="fa fa-ambulance" aria-hidden="true"></i>
                        <div class="title">Зберігаємо анонімність</div>
                        <p>Для нас пацієнт це особистіть. Ні при яких обставинах не передаємо інформацію третім
                            сторонам</p>
                    </div>


                </div>
            </div>
        </section>
        <hours-home v-if="hours"></hours-home>

        <section class="prices-page prices-home">
            <div class="header_price">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 price-cat">
                            <h1><span>ПОСЛУГИ ТА ЦІНИ</span></h1>
                            <div class="row">
                                <div v-if="((CatPrices.length > 0) && cat.img)" v-for="(cat, idC) in CatPrices"
                                     v-model="CatPrices"
                                     v-bind:class="(cat.id == selectCat) ? 'activ': ''"
                                     class="col-xl-3 col-lg-3 col-md-4 col-sm-6 cat-name">
                                    <router-link class="nav-link" :to="{ path: '/prices/' + cat.slug }">
                                        <div class="icon"><img :src="cat.img" alt=""></div>
                                        <span>{{ cat.name }}</span>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="consult-home">
            <div class="container">
                <div class="row justify-content-md-center blocks">
                    <div class="col-md-4">
                        <div class="block"><i class="fa fa-exclamation"></i>
                            Не знаєте до кого звернутись?
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block"><i class="fa fa-exclamation"></i>
                            Потрібно більше інформації
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block"><i class="fa fa-exclamation"></i>
                            Уже визначились з обстеженнями?
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="title">Приділіть кілька секунд, заповніть форму</div>
                </div>
                <div class="row justify-content-md-center">

                    <div class="col-md-4">
                        <app-form-mini titleProps="Не знаєте до кого звернутись?"></app-form-mini>
                    </div>

                </div>
            </div>
        </section>
        <section id="doctors">
            <div class="container">
                <div class="section-title text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-uppercase mt-0 line-height-1">Наші лікарі</h2>
                            <p>Знайомтесь: лікарі-професіонали медичного центру Базисмед <br>
                                обовязково під фото посилання на профіль соц мережі
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row mtli-row-clearfix">
                    <div class="col-md-12">
                        <slick v-if="doctorList" ref="slick" :options="slickOptions">
                            <div class="item" v-for="(doctor, index) in doctorList"  :key="doctor.slug">
                                <div class="team-members border-bottom-theme-color-2px text-center maxwidth400">
                                    <div class="team-thumb">
                                        <img class="img-fullwidth" :alt="doctor.title.rendered" :src="doctor.images.medium">
                                        <div class="team-overlay"></div>
                                    </div>
                                    <div class="team-details">
                                        <div class="doctor">
                                            <router-link class="nav-link" :to="{ path: '/doctor/' + doctor.slug }" >
                                                <h4 class="text-uppercase">{{doctor.title.rendered}}</h4>
                                            </router-link>
                                        </div>
                                        <h6 class="text-theme-colored">
                                            {{ doctor.specialization_name }}
                                        </h6>
                                        <ul class="styled-icons icon-theme-colored icon-dark icon-circled icon-sm">
                                            <li><a href="https://www.facebook.com/bazismed/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://ok.ru/profile/574473292264" target="_blank"><i class="fa fa-odnoklassniki fa-lg"></i></a></li>
                                            <li><a href="https://www.instagram.com/bazismed/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="https://vk.com/bazismed" target="_blank"><i class="fa fa-vk"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </slick>
                    </div>
                </div>
            </div>
        </section>

        <app-kl></app-kl>

        <section class="dovira-home">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <h2 class="text-uppercase mt-0 line-height-1">Ще три причини довіряти нам? </h2>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                        <p class="prich">причина 1</p>
                        <p class="title">Говоримо з вами однією мовою</p>
                        <p class="text">
                            <span>ми не намагаємось здаватись розумнішими</span> говорячи багато
                            медичних термінів. Якщо потрібно розяснемо усе 2-3 рази,
                            щоб ви не втрачали час і почали діяти.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <p class="prich">причина 2</p>
                        <p class="title">Відношення, як до своїх близьких</p>
                        <p class="text">
                            Призначаємо зручний час, допомагаємо вибрати обстеження, намагаємось
                            мінімізувати час очікування і знизити рівень стресу
                        </p>
                    </div>
                    <div class="col-md-4">
                        <i class="fa fa-heartbeat" aria-hidden="true"></i>
                        <p class="prich">причина 3</p>
                        <p class="title">Досягаємо результатів в лікуванні</p>
                        <p class="text">
                            відміний сервіс і привітливий персонал  це ще не все. Ми досягаємо реальних результатів
                            використовуючи тільки останні методики діагностики та лікування
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="sunnivy-home">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <h2 class="text-uppercase mt-0 line-height-1">Часті питання</h2>
                    </div>
                    <div class="col-md-5">
                        <p class="title">У вас дорого</p>
                        <p class="text">
                            Ви праві, порівняно з іншими центрами, ціни на деякі обстеження вище середніх по місту.
                            <span>Проте якість відповідає ціні.</span> <br><br>
                            Вона включає в себе роботу лікаря на обладнанні експертного класу,
                            якому немає аналогів в місті, точну та оперативну діагностику,
                            рекомендації та відмінний сервіс. З нами ви економите значно більше!
                        </p>
                    </div>
                    <div class="col-md-5">
                        <p class="title">Скільки мені доведеться чекати? </p>
                        <p class="text">
                            <span>
                                Ми приймаємо пацієнтів тільки по попередньому запису
                            </span>.
                            Проте бувають виняткові ситуації, коли від швидких і грамотних дій лікаря залежить життя.
                            <br>
                            <br>
                            Тому можливо вас попросять дещо зачекати. Ми сподіваємось на ваше розуміння
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <app-our-form title="Главная"></app-our-form>
        <section class="blog-home" v-if="blogItems">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <h2 class="text-uppercase mt-0 line-height-1">Новини</h2>
                        <p>

                        </p>
                    </div>
                    <div class="col-md-12">
                        <slick  ref="slick" :options="blogOptions">
                            <div class="item" v-for="(item, index) in blogItems">
                                <article class="post clearfix bg-lighter">
                                    <div class="entry-header">
                                        <div class="post-thumb thumb"
                                             v-bind:style="{ backgroundImage: 'url(' + item.images.medium +' )' }">
                                            <time :datetime="item.date">
                                                <span class="data">{{item.date | moment("D") }}</span>
                                                <span class="data">{{item.date | moment("MMM") }}</span>
                                            </time>
                                        </div>
                                    </div>
                                    <div class="entry-content">
                                        <div class="entry-meta">
                                            <div class="media-body pl-0">
                                                <div class="event-content">
                                                    <h4 class="entry-title">
                                                        <router-link  :to="{ path: '/post/' + item.slug }"
                                                                     v-html="item.title.rendered">
                                                        </router-link>
                                                    </h4>
                                                        <span class="icon-views"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> {{ (item.post_views) ? item.post_views : 0 }}</span>
                                                        <span  class="icon-comment"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> {{ (item.count_comments) ? item.count_comments : 0 }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="entry-text" v-html="item.excerpt.rendered"></p>
                                    </div>
                                </article>
                            </div>

                        </slick>
                    </div>
                </div>
            </div>
        </section>
        <section class="video-home">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <h2 class="text-uppercase mt-0 line-height-1">Відео</h2>
                        <p class="text">На моєму каналі YouTube ви можете подивитися відео про
                            популярних пластичних операціях. Канал регулярно оновлюється.
                            Слідкуйте за виходом нових відео та підписуйтесь на канал.</p>
                        <div class="links">
                            <a href="http://www.youtube.com/channel/UC-owYf90KFUkOMSWHzPQt4Q?view_as=subscriber" target="_blank">Переглянути інші відео</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                       <div class="video">
                           <iframe width="854" height="480" src="http://www.youtube.com/embed/gP93lNnsqYs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                       </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="contacts-home">
            <gmap-map class="maps" :center="{lat:48.264559, lng:25.9239991}" :zoom="19" :styles="stylesMaps">
                <gmap-marker :position="{lat:48.2646718, lng:25.9231738}">
                </gmap-marker>
                <gmap-info-window :position="{lat:48.2646718, lng:25.9231738}">
                    Медичний центр "Базисмед"
                </gmap-info-window>
            </gmap-map>
            <div class="contacts-block">
                <div class="blueberry__inner">
                    <div class="blueberry__title">Адреса клініки</div>
                    <div class="blueberry__address">м. Чернівці, вул. Рівенська, 5А</div>
                    <div class="blueberry__list">
                        <div class="blueberry__item">
                            Понеділок - п'ятниця  з 8.00 до 19.00
                        </div>
                        <div class="blueberry__item">
                            Субота з 9.00 до 15.00
                        </div>
                        <div class="blueberry__item">
                            Неділя  - вихідний
                        </div>
                    </div>
                    <div class="blueberry__list">
                        <div class="blueberry__item blueberry__item--links">
                            <a class="contact-link" href="tel:+380952260202">
                                <span class="contact-link__label">Зателефонуйте нам</span>
                                <span class="contact-link__line"></span>
                                <span class="contact-link__value call_phone_1">+38 (095) 226-02-02</span>
                                <i class="contact-link__icon"></i>
                            </a>
                        </div>
                        <div class="blueberry__item blueberry__item--links">

                            <a class="contact-link" href="mailto:info@bazismed.com">
                                <span class="contact-link__label">Напишіть нам</span>
                                <span class="contact-link__line"></span>
                                <span class="contact-link__value">info@bazismed.com</span>
                                <i class="contact-link__icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>


    import MainCarusel from './partials/Carousel'
    import HoursHome from './partials/HoursHome'

    import Slick from 'vue-slick';




    export default {
        components: {
            MainCarusel,
            HoursHome,
            Slick,

        },
        data() {
            return {
                CatPrices: [],
                selectCat: 0,
                hours: false,
                doctorList: false,
                clientList: false,
                slickOptions: {
                    slidesToShow: 4,
                    dots: false,
                    arrows: true,
                    prevArrow:'<span class="slick-arrow prev"><i class="slick-arrow-line"></i></span>',
                    nextArrow:'<span class="slick-arrow next"><i class="slick-arrow-line"></i></span>',
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                dots: false,
                                arrows: false,
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                dots: false,
                                arrows: false,
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                dots: false,
                                arrows: false,
                            }
                        }
                    ]
                },
                clientOptions: {
                    slidesToShow: 1,
                    dots: true,
                    arrows: this,
                },
                blogOptions: {
                    slidesToShow: 3,
                    dots: false,
                    arrows: false,
                    autoplay: true,
                    autoplaySpeed: 2000,
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                dots: false,
                                arrows: false,
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                dots: false,
                                arrows: false,
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                dots: false,
                                arrows: false,
                            }
                        }
                    ]
                },
                blogItems: false,
                totalBlogItems: 0,
                blogPage: 1,
                stylesMaps: {
                    'Night': [{
                        featureType: 'all',
                        stylers: [
                            { invert_lightness: 'true' }
                        ]
                    }],
                    'Greyscale': [{
                        featureType: 'all',
                        stylers: [
                            { saturation: -100 },
                            { gamma: 0.50 }
                        ]
                    }]
                }
            }
        },
        mounted: function () {
            this.getCatPrices();
            this.getDoctors();
            this.getClients();
            this.getBlogItems();

            setTimeout(()=>{
               this.hours  = true;
            },1000);

        },
        methods: {
            getCatPrices: function () {
                axios.get('/wp-json/wp/v2/prices?parent=0&per_page=30&orderby=id&orderby=term_order')
                    .then(response => {
                        this.CatPrices = response.data;

                        if (this.slug) {

                            this.CatPrices.forEach((val) => {
                                if (this.slug === val.slug) {
                                    this.getListToCat(val.id)
                                    return true;
                                }
                            });
                        }

                    })
                    .catch(e => {
                        console.log(e);
                    })

            },

            next() {
                this.$refs.slick.next();
            },

            prev() {
                this.$refs.slick.prev();
            },

            reInit() {
                // Helpful if you have to deal with v-for to update dynamic lists
                this.$nextTick(() => {
                    this.$refs.slick.reSlick();
                });
            },


            getDoctors: function () {
                let url = '/wp-json/wp/v2/doctor?per_page=30&orderby=id';

                axios.get(url)
                    .then(response => {
                        this.doctorList = response.data;

                    })
                    .catch(e => {
                        console.log(e);
                    })

            },

            getClients: function () {
                let url = '/wp-json/wp/v2/client?per_page=30&orderby=id';

                axios.get(url)
                    .then(response => {
                        this.clientList = response.data;

                    })
                    .catch(e => {
                        console.log(e);
                    })

            },



            getBlogItems: function () {
                this.animate = true;
                const url = '/wp-json/wp/v2/posts?per_page=10&page=' + this.blogPage;
                axios.get(url)
                    .then(response => {
                        var allPostX = '';
                        if (typeof response.headers['x-wp-totalpages'] == 'undefined') allPostX = response.headers['X-WP-TotalPages'];
                        else allPostX = response.headers['x-wp-totalpages'];
                        this.blogItems = response.data;
                        this.totalBlogItems = parseInt(allPostX);
                        setTimeout(()=> {
                            this.animate = false;
                        }, 1000);
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },


        }
    }
</script>

<style lang="scss">
    .home-page {
        #doctors{


            .slick-slider{
                padding-bottom: 60px;
                position: relative;
                .slick-arrow{
                    display: inline-block;
                    font-size: 10px;
                    line-height: 30px;
                    width: 60px;
                    height: 30px;
                    overflow: hidden;
                    vertical-align: middle;
                    cursor: pointer;
                    position: absolute;
                    bottom: 18px;
                    &.next{
                        right: calc(50% - 70px);
                        .slick-arrow-line{
                            position: absolute;
                            top: 15px;
                            left: 0;
                            width: 40px;
                            height: 1px;
                            background: rgb(0, 0, 0);
                            -webkit-transition-property: all 0.12s ease-out;
                            transition-property: all 0.12s ease-out;
                            -webkit-transition-duration: 0.6s;
                            transition-duration: 0.6s;
                            -webkit-transition-timing-function: ease;
                            transition-timing-function: ease;
                            -webkit-transition-delay: 0s;
                            transition-delay: 0s;
                            &:after {
                                content: "";
                                position: absolute;
                                width: 7px;
                                height: 1px;
                                background: rgb(0, 0, 0);
                                margin-left: 100%;
                                left: -7px;
                                top: -3px;
                                -moz-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                -webkit-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                            &:before {
                                content: "";
                                position: absolute;
                                width: 7px;
                                height: 1px;
                                background: rgb(0, 0, 0);
                                margin-left: 100%;
                                left: -7px;
                                top: 3px;
                                -moz-transform: rotate(-45deg);
                                -ms-transform: rotate(-45deg);
                                -webkit-transform: rotate(-45deg);
                                transform: rotate(-45deg);

                            }
                        }

                    }
                    &.prev{
                        left: calc(50% - 70px);
                        .slick-arrow-line{
                            position: absolute;
                            top: 15px;
                            right: 0;
                            width: 40px;
                            height: 1px;
                            background: rgb(0, 0, 0);
                            -webkit-transition-property: all 0.12s ease-out;
                            transition-property: all 0.12s ease-out;
                            -webkit-transition-duration: 0.6s;
                            transition-duration: 0.6s;
                            -webkit-transition-timing-function: ease;
                            transition-timing-function: ease;
                            -webkit-transition-delay: 0s;
                            transition-delay: 0s;
                            &:after {
                                content: "";
                                position: absolute;
                                width: 7px;
                                height: 1px;
                                background: rgb(0, 0, 0);
                                margin-left: 0;
                                left: 0;
                                top: -3px;
                                -moz-transform: rotate(-45deg);
                                -ms-transform: rotate(-45deg);
                                -webkit-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                            }
                            &:before {
                                content: "";
                                position: absolute;
                                width: 7px;
                                height: 1px;
                                background: rgb(0, 0, 0);
                                margin-left: 0;
                                left: 0;

                                top: 3px;
                                -moz-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                -webkit-transform: rotate(45deg);
                                transform: rotate(45deg);


                            }
                        }

                    }
                    &:hover{
                        .slick-arrow-line{
                            width: 60px;
                        }
                    }

                }
            }



        }
    }
    .prices-home .header_price {
        margin: 0;
        padding: 20px 0;
    }





</style>
