@color-base: #fff;
@head : #f9f8f8;
@menu : #4e4e4e;
@hover: #db0302;
@lang : #4c4d4d;
@lang-active : #636363;
@red : #ff0000;
@text : #383838;
@btn-about : #f90101;
@title-about-red : #db0302;
@serv-title : #383838;
@serv-foot : #efeff1;
@footer : #737373;
@news : #282828;

.translate_y_x{
	-moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform:  translateY(-50%) translateX(-50%);
    -webkit-transform:  translateY(-50%) translateX(-50%); 
    -o-transform: translateY(-50%) translateX(-50%); 
    transform: translateY(-50%) translateX(-50%);
}
.translate_x{
	-moz-transform: translateX(-50%);
    -ms-transform:  translateX(-50%);
    -webkit-transform:  translateX(-50%); 
    -o-transform: translateX(-50%); 
    transform: translateX(-50%)	;
}
.translate_y{
	-moz-transform: translateY(-50%);
    -ms-transform:  translateY(-50%);
    -webkit-transform:  translateY(-50%); 
    -o-transform: translateY(-50%); 
    transform: translateY(-50%)	;
}
.transition_all{
	-moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear; 
    -o-transition: all 0.3s linear; 
    transition: all 0.3s linear	;
}

.rotate90{
	-moz-transform: rotate(90deg);
    -ms-transform:  rotate(90deg);
    -webkit-transform:  rotate(90deg); 
    -o-transform: rotate(90deg); 
    transform: rotate(90deg)	;
}

body {
 background-color: @color-base; position: relative;
}
.clr{clear: both; content: '';}
.dropdown-menus{.transition_all; position: absolute; content: ''; top: -365px; z-index: 60; left: 0; right: 0; background: @head; 
	ul{margin: 0; padding-top: 25px; padding-left: 0; 
		li{display: block; list-style-type: none; padding-bottom: 10px;
			a{display: block; text-align: center; font-size: 14px; line-height: 1; color: #4e4e4e; text-transform: uppercase;font-family: 'Roboto', sans-serif; }
		}
	}
	a:hover{text-decoration:none; color: #2e2e26;}
	.active{color: #2e2e26;}

	.detail-info{ float: right; margin-left: 80px; width: 180px; height: 81px; overflow: hidden; 
			.block{width: 180px; float: left; display: table; margin-top: 35px;
				img{margin-right: 15px; float: left;}
				.info{color: @text; font-weight: 400; display: table-cell; vertical-align: middle; font-size: 14px; line-height: normal; font-family: 'Arimo', sans-serif;}
				a{color: @text;}
				.soc-line{width: 32px; float: left; margin-left: 12px; height: 32px; background: #696868; display: block; text-align: center; overflow: hidden; position: relative;}
					.soc-line i{color: #fff; .translate_y_x; left: 50%;  top: 50%; position: absolute;}
				.soc-line:before{.transition_all; position: absolute; content: ''; top: 0 ; left: 0; right: 32px; bottom: 0; background: @hover;}
				.soc-line:hover:before{right: 0;}	
			}
		}


	.review{
		margin-top: 31px; background: url(img/review.png); position: relative; background-repeat: no-repeat; background-position: center center; background-size: cover; width: 236px; height: 50px; display: block; float: left;

		.ico{position: absolute; content: ''; top: 3px; left: 45px; background: url('img/ico.png'); width: 34px; height: 38px; background-size: cover; background-position: center center; background-repeat: no-repeat; 	
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;}
		@keyframes bounce_fountainK{
			0%{
			top: 6px;
			}

			50%{
			top: 8px;
			}
			100%{
				top: 6px;
			}
		}

		.text{position: absolute; content: ''; top: 10px; text-shadow: 0 1px 5px rgba(0,0,0,33); text-indent: 8px; line-height: 16px; left: 75px; color: @head; font-size: 12px; font-family: 'Roboto', sans-serif; text-transform: uppercase; font-weight: 500;}
		.arrow{.transition_all; position: absolute; content: ''; top: 26px; right: 55px; background: url(img/arrow.png); width: 15px; height: 18px; background-repeat: no-repeat; background-position: center center; background-size: cover; }
	}
	.review:hover .arrow{right: 53px;}
	.review:hover .ico{-o-animation-name:bounce_fountainK;
		-ms-animation-name:bounce_fountainK;
		-webkit-animation-name:bounce_fountainK;
		-moz-animation-name:bounce_fountainK;}
	
}
.head-mob{ height: 57px;    padding-top: 12px; box-shadow: 0 1px 2px rgba(0,1,1,0.12); display: none; position: relative; z-index: 62;
	.logo{background: url('img/logo.png'); display: block; width: 117px; margin-right: 80px; height: 35px; display: block; margin: 0 auto;  float: none; background-size: cover; background-repeat: no-repeat; background-position: center center ; }
	.ico-menu{background: url('img/bars.png'); width: 24px; height: 18px; background-size: cover; background-position: center center; background-repeat: no-repeat; position: absolute; content: ''; top: 8px; right: 15px;}
		.ico-menu:hover{cursor: pointer; background: url('img/bars-hover.png');}

		.lang{
		position: absolute; content: ''; top: 2px; left: 6px;
		
		a{color: @lang; font-size: 14px; font-family: 'Roboto', sans-serif; line-height: 1; font-weight: 300; display: block; text-decoration: none;}
		a:hover{color: @hover;}
		.active{color: @lang-active;}
		.arrow-lang{position: absolute; content: ''; top: 3px; right: -10px; background: url('img/lang-arrow.png'); width: 7px; height: 5px; background-size: cover; background-position: center center; background-repeat: no-repeat;} 
	}	
}
.mob-fot{padding-bottom: 25px; display: none;}
.footer-mob .logo{background: url('img/logo.png'); width: 207px; height: 61px;  margin: 0 auto; display: table; background-size: cover; background-repeat: no-repeat; background-position: center center ; }
.head{
	background: @head; height: 80px; box-shadow: 0px 1px 2px rgba(0,0,0,.12); position: relative;

	.logo{background: url('img/logo.png'); width: 207px; margin-right: 80px; height: 61px; display: block; margin-top: 15px; float: left; background-size: cover; background-repeat: no-repeat; background-position: center center ; }

	.menu{
		padding: 0; margin-top: 32px; float: left; 

		li{list-style-type: none; float: left;}
			a{font-family: 'Roboto', sans-serif; font-weight: 400; color: @menu; text-decoration: none; font-size: 14px; margin: 0 13px; text-transform: uppercase; line-height: 1;}
				a:hover{color: @hover;}
				a.active{color: @hover;}
	}

	.review{
		background: url(img/review.png); position: relative; background-repeat: no-repeat; background-position: center center; background-size: cover; width: 236px; height: 80px; display: block; float: right;

		.ico{position: absolute; content: ''; top: 25px; left: 45px; background: url('img/ico.png'); width: 34px; height: 38px; background-size: cover; background-position: center center; background-repeat: no-repeat; 	
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;}
		@keyframes bounce_fountainG{
			0%{
			top: 23px;
			}

			50%{
			top: 26px;
			}
			100%{
				top: 23px;
			}
		}

		.text{position: absolute; content: ''; top: 30px; text-shadow: 0 1px 5px rgba(0,0,0,33); text-indent: 8px; line-height: 16px; left: 75px; color: @head; font-size: 12px; font-family: 'Roboto', sans-serif; text-transform: uppercase; font-weight: 500;}
		.arrow{.transition_all; position: absolute; content: ''; top: 46px; right: 55px; background: url(img/arrow.png); width: 15px; height: 18px; background-repeat: no-repeat; background-position: center center; background-size: cover; }
	}
	.review:hover .arrow{right: 53px;}
	.review:hover .ico{-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;}

	.lang{
		position: absolute; content: ''; bottom: 2px; right: 15px;
		
		a{color: @lang; font-size: 14px; font-family: 'Roboto', sans-serif; line-height: 1; font-weight: 300; display: block; text-decoration: none;}
		a:hover{color: @hover;}
		.active{color: @lang-active;}
		.arrow-lang{position: absolute; content: ''; top: 3px; right: -10px; background: url('img/lang-arrow.png'); width: 7px; height: 5px; background-size: cover; background-position: center center; background-repeat: no-repeat;} 
	}
}
.slid{
	.photo{background-size: cover; background-position: center center; background-repeat: no-repeat; width: 100%; height: 400px;}
}
.about{ overflow: hidden; 
 background: url('img/about-bk.png'); width: 100%; height: 410px; background-repeat: no-repeat; background-position: center center; background-size: cover;
	iframe{margin: 0 auto ; display: table; padding-top: 50px;}
	.conta1{padding-top: 50px; position: absolute; .transition_all;left: 0;}
	.conta2{position: relative; .transition_all; left: -9000px;}
	.title{color: @red; font-size: 24px; font-family: 'Roboto', sans-serif; line-height: 1; font-weight: 300; text-transform: uppercase; text-align: center;}
	.text{float: none!important; margin: 0 auto; font-family: 'Roboto', sans-serif; color: @text; font-size: 14px; line-height: 18px; text-indent: 10px; padding-top: 15px; padding-bottom: 15px; margin-top: 10px; position: relative;}
		.text:before{position: absolute; content: ''; top: 0; left: 0; background: url('img/left-arrow-about.png'); width: 87px; height: 59px; background-size: cover; background-position: center center; background-repeat: no-repeat;}
		.text:after{position: absolute; content: ''; bottom: 0; right: 15px; background: url('img/right-arrow-about.png'); width: 77px; height: 58px; background-size: cover; background-position: center center; background-repeat: no-repeat;}
	
	.btns{
			margin: 0 auto; display: table; width: 77px;
		.link{.transition_all; display: block; color: @btn-about; width: 50px; padding-top: 3px; border: 1px solid @btn-about; height: 28px; position: relative;
			.hov-efect{ position: relative; z-index: 1; text-align: center;}
			.youtube{position: absolute; content: ''; top: -1px; right: -28px; z-index: 4; bottom: -1px; width: 28px;
				.ico{.translate_y_x; .transition_all; background: url('img/youtube.png'); z-index: 5; width: 28px; height: 28px; background-repeat: no-repeat; background-position: center center; background-size: cover; position: absolute; content: ''; top:50%; left: 50%; z-index: 5;}
			}
		}
		.link:hover .hov-efect{}
		.link:hover{ text-decoration: none; color: #686565; border: 1px solid #686565;}
		.link:hover .ico{background: url('img/youtube-hover.png');}
	}
	.conta2{
		.btns{width: 65px; padding-top: 63px;}
		.link{width: 65px; display: block;}
		.hov-efect{ position: relative; z-index: 1; text-align: center;}
		.ab{ .transition_all; position: absolute; content: ''; top: -1px; left: -28px; z-index: 4; bottom: -1px; width: 28px; background: @hover;
				.ico{.translate_y_x; .transition_all; background: url('img/arrow-about.png'); z-index: 5; width: 8px; height: 14px; background-repeat: no-repeat; background-position: center center; background-size: cover; position: absolute; content: ''; top:50%; left: 50%; z-index: 5;}
			}
			.link:hover .ico{background: url('img/arrow-about.png');}
			.link:hover .ab{background: #686565;}
	}
}
.about-two{background: url('img/about-bk-red.png'); background-size: cover; background-position: center center; background-repeat: no-repeat; height: 327px; width: 100%; position: relative;
	.title{color: #eaedf2; font-size: 14px; text-transform: uppercase; font-family: 'Roboto', sans-serif; line-height: 1; font-weight: 300; text-align: center; padding-top: 40px;}
	.col-senter{float: none!important; margin: 0 auto;}
	.block{margin-top: 35px; position: relative;
		.ball{ width: 11px; z-index: 5; height: 11px; border-radius: 50%; background-color: #eff2fb; border: 1px solid #eff2fb; margin: 0 auto; display: table; position: relative;}
		.photo{position: relative;}
			.photo:before{.transition_all; opacity: 0; width: 30px; height: 2px; background: #eff2fb; position: absolute; content: ''; bottom: 0; left: 50%; .translate_x;}
		img{ margin: 0 auto; display: table; padding-top: 12px; }
		.text{.transition_all; color: #eff2fb; font-weight: 400; font-size: 12px; line-height: 18px; padding-top: 20px; font-family: 'Roboto', sans-serif; text-align: center; width: 150px; display: block; margin: 0 auto;}
	}
	.block:before{position: absolute; content: ''; top: 6px; left: 50%; right: -15px; background: #eff2fb; .translate_y; height: 2px;}
	.block:after{position: absolute; content: ''; top: 6px; left: -15px; right: 50%; background: #eff2fb; .translate_y; height: 2px;}
	.block.no-psev1:after{display: none;}
	.block.no-psev2:before{display: none;}

	.block:hover img{padding-top: 8px;}
	.block:hover .ball{width: 17px; height: 17px; background: #bc0608; border: 2px solid #eff2fb; margin-top: -2px;}
	.block:hover .photo:before{bottom: -20px; opacity: 1;}
	.block:hover .text{font-size: 14px; padding-top: 35px;}
	.block:hover:before{top: 8px;}
	.block:hover:after{top: 8px;}
	.bottomer-text{text-align: center; font-size: 12px; color: #eaedf2; position: absolute; content: ''; bottom: 30px; left: 50%; .translate_x;}
}
.services{
	color: @serv-title; font-weight: 400; font-family: 'Roboto', sans-serif; text-align: center; font-size: 18px; text-transform: uppercase; padding-top: 40px;
	.slider{margin-top: 40px;}
	.block{margin: 0 5px;
		.photo{ position: relative; overflow: hidden;
			img{}
		}
		.photo-bk{.transition_all; position: absolute; content: ''; top: 0; left: 190px; right: 0; bottom: 0; background-color: #a0292b; padding-left: 14px; overflow: hidden;
			.title{color: #fff; font-size: 14px; text-align: left; text-transform: lowercase; font-weight: 400; padding-bottom: 15px; font-family: 'Roboto', sans-serif; padding-top: 18px; }
			.detail{color: #fff; font-size: 14px; text-align: left; text-transform: lowercase; font-weight: 300; width: 150px; font-family: 'Roboto', sans-serif; line-height: 1.4}
		}
		.block-down{position: relative; height: 60px; background: @serv-foot; text-transform: lowercase; color: @text; font-weight: 400; font-size: 14px; line-height: 18px; display: table-cell; vertical-align: middle;}
		.block-hov{.transition_all; overflow: hidden;  position: absolute; content: ''; top: 0; left: 190px; right: 0; bottom: 0; background: #9f1a1a; height: 60px; 
			.name{ color: @head; position: relative; top: 50%; .translate_y; font-size: 12px; font-weight: 400; line-height: 1; text-transform: uppercase; font-family: 'Roboto', sans-serif;}
			.arrow{.transition_all; background: url(img/serv-arrow.png);position: absolute; top: 50%; right:20px; .translate_y;  background-repeat: no-repeat; background-position: center center; background-size: cover; width: 7px; height: 11px; margin-top: -1px;}
		}
	}
	.block:hover .photo-bk{left: 0;}
	.block:hover .block-hov{left: 0; text-decoration: none;}
	.block .block-hov:hover .arrow{right: 17px;}

	.btn-detal{  padding-top: 40px;
		a{background: @hover; margin: 0 auto;  display: table; color: @head; padding: 10px 20px; height: 40px; text-transform: uppercase; font-weight: 300; font-size: 14px; font-family: 'Roboto', sans-serif;}
	}
	.btn-detal:hover a{text-decoration: none;}
}

.varicos{margin-top: 35px;
	.col-left{float: none!important; }
	.head-one{height: 44px; z-index: 3; background: @hover; font-family: 'Arimo', sans-serif; font-weight: 400; font-size: 26px; color: #fff; text-align: right; padding-top: 2px; position: relative; padding-right: 40px;}
		.head-one:before{position: absolute; z-index: 2; content: ''; top: 0; right: -52px; background: url('img/treangle.png'); width: 52px; height: 44px; background-repeat: no-repeat; background-position: center center; background-size: cover;}
		.head-one:after{position: absolute; z-index: 2; content: ''; top: 0; right: -412px; background: url('img/head2.png'); width: 412px; height: 44px; background-repeat: no-repeat; background-position: center center; background-size: cover;}
	.head-two{ height: 44px; padding-left: 35px; padding-top: 2px; border: 1px solid #e6e6e6; background: #f8f7f7; font-family: 'Arimo', sans-serif; font-weight: 400; font-size: 26px; color: @text; text-align: left;}
	
	.border{border: 1px solid #e6e6e6; float: left; width: 100%; margin-top: -1px; padding-bottom: 20px;}
	.text{font-weight: 300; float: right; width: 390px; padding-top: 75px; font-family: 'Roboto', sans-serif; color: #282828; text-align: right; font-size: 23px; font-weight: 300; line-height: 30px;}
	.btn-box{margin-top: 80px; position: relative;
		.detail{text-transform: uppercase; line-height: 1; float: left; margin-bottom: 10px; color: @head; font-weight: 300; font-size: 14px; display: block; background: @hover; padding: 10px 12px;  text-align: center;}
		.price{text-transform: uppercase; line-height: 1; float: left; color: @hover; border: 1px solid @hover; font-weight: 300; font-size: 14px; display: block; background: #fff; padding: 10px 12px;  text-align: center;}
	}
	.detail:hover{text-decoration: none;}
	.price:hover{text-decoration: none;}

	.btn-box:before{.rotate90; position: absolute; content: ''; top: 40px; left: -66px;border: 0; width: 101px;  height: 1px; background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent); background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent); }
	.bk{background: url('img/varicos.png'); background-size: cover; background-position: center center; background-repeat: no-repeat; width: 616px; height: 290px;}
}

.footer{
	background: @head; overflow: hidden;
	.col-lg-6{padding: 0;}
	.col-lg-12{padding: 0;}
	.cont-1{ padding-top: 15px; margin: 0 auto; display: table; height: 296px;
		.logo{background: url('img/logo.png'); margin: 0 auto; width: 207px; height: 61px; display: block; background-size: cover; background-repeat: no-repeat; background-position: center center ;}
		.detail-info{ float: left; margin-left: 80px; width: 180px; height: 81px; overflow: hidden; 
			.block{width: 180px; float: left; display: table; margin-top: 35px;
				img{margin-right: 15px; float: left;}
				.info{color: @text; font-weight: 400; display: table-cell; vertical-align: middle; font-size: 14px; line-height: normal; font-family: 'Arimo', sans-serif;}
				a{color: @text;}
				.soc-line{width: 32px; float: left; margin-right: 12px; height: 32px; background: #696868; display: block; text-align: center; overflow: hidden; position: relative;}
					.soc-line i{color: #fff; .translate_y_x; left: 50%;  top: 50%; position: absolute;}
				.soc-line:before{.transition_all; position: absolute; content: ''; top: 0 ; left: 0; right: 32px; bottom: 0; background: @hover;}
				.soc-line:hover:before{right: 0;}	
			}
		}
	}
	.cont-2{ margin: 0 auto; display: table; height: 324px; position: relative;
		.title{color: @head; font-size: 24px; font-family: 'Roboto', sans-serif; text-align: center; font-weight: 400; text-transform: uppercase; line-height: normal; padding-top: 30px;}
		.descr{font-family: 'Roboto', sans-serif; padding-bottom: 20px; text-transform: uppercase; font-weight: 300; text-align: center; font-size: 14px; padding-top: 5px; color: @head;  line-height: normal;}
		form{width: 460px;
			input{width: 224px; border: 1px solid #dbdada;  height: 30px; padding-left: 6px; outline: none; margin-bottom: 6px;}
			input:first-child{margin-right: 7px;}
			textarea{width: 100%; height: 95px; resize: none; padding-left: 6px; outline: none; margin-bottom:6px;}
			button{.transition_all; width: 100%; outline: none; border: none; color: #8b8b8b; text-align: center; font-family: 'Roboto', sans-serif; font-weight: 300; text-transform: uppercase; line-height: 1; padding: 12px 0;}
				button:hover{background: @hover; color: #fff;}
		}
	}
	.cont-2:before{position: absolute; content: ''; top: 0; bottom: 0; left: -9999px; width: 9999px; background: #737373;}
	
}
.read{ margin-top: 30px; margin-bottom: 40px;
	.news{border-bottom: 3px solid #d5d5d5; float: left; width: 100%; margin-right: 15px; margin-bottom: 15px;
		.title{color: @news; position: relative; font-size: 18px; font-family: 'Roboto', sans-serif; line-height: 1; font-weight: 300; text-align: center; width: 150px; float: left; padding-bottom: 10px;}
			.title:before{position: absolute; content: ''; bottom: -4px; left: 0; right: 0; height: 5px; background: #f90101;}
		a{display: block; margin-right: 15px; float: right; position: relative; font-family: 'Roboto', sans-serif; font-style: italic; color: #656464; margin-top: 12px; line-height: 1;}
		.arrow{.transition_all; position: absolute; content: ''; top: 4px; right: -7px; width: 4px; height: 8px; background: url('img/arrow-news.png'); background-repeat: no-repeat; background-size: cover; background-size: cover;}
	}
	a:hover{text-decoration: none; color: @hover; }
	a:hover .arrow{background: url('img/arrow-news-hover.png'); right: -10px;}
	.new{margin-bottom: 7px; background: #f7f7f7; min-height: 100px; float: left;
		.img{width: 150px; height: 100px; float: left;}
		.title{.transition_all; font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: bold; width: calc(100% - 180px);  color: @news; line-height: 1; float: left; margin-left: 10px; margin-top: 5px;}
		.description{.transition_all; font-family: 'Roboto', sans-serif; font-size: 12px; font-weight: 400; width: calc(100% - 180px);  color: @news; line-height: 1; float: left; margin-left: 10px; margin-top: 12px; }
		.next{.transition_all; font-family: 'Roboto', sans-serif; position: relative; font-size: 12px; font-weight: bold; padding-bottom: 5px; font-style: italic;  color: #292828; line-height: 1; float: right; display: block; margin-right: 15px;
			.det-arrow{.transition_all; position: absolute; content: ''; top: 1px; right: -9px; background: url('img/detail-new.png'); width: 6px; height: 10px; background-repeat: no-repeat; background-size: cover; background-repeat: no-repeat; background-size: cover;}
		}
		
	}
	.title:hover, .description:hover , .next:hover{color: @hover;}
	.next:hover .det-arrow{background: url('img/detail-new-hover.png'); right: -11px;}
}

.reviews{background: url('./img/review-bk.png'); margin-top: 45px; height: 490px; position: relative; background-position: center center; background-size: cover; background-repeat: no-repeat;
	.slider{position: absolute; padding: 15px 30px; content: ''; top: 50%; left: 50%; width: 700px; background: #faf9f9; .translate_y_x;
		.face{width: 150px; margin-bottom: 15px;
			img{width: 100%;}
		}
	}
	.first{margin-right: 25px; float: left;
		.name{font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 18px; color: #f90101; text-align: center;}
		.desc{font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 14px; line-height: 1; margin-top: 5px; color: #7c7b7b; text-align: center;}
	}
	.second{font-family: 'Roboto', sans-serif; font-weight: normal; color: #7c7b7b; font-size: 14px; line-height: normal; margin-top: 10px;}
		.owl-pagination{display: none;}
		.owl-theme .owl-controls .owl-buttons div{width: 35px!important; opacity: 1!important; height: 35px!important; border-bottom-left-radius: 0px!important; border-bottom-right-radius: 0!important; margin: 0!important; border-top-left-radius: 0!important; border-top-right-radius: 0!important;}
		.owl-theme .owl-controls .owl-buttons .owl-next{.transition_all; background: rgba(71,71,71,0.66)!important; border-bottom-right-radius: 3px!important;}
		.owl-theme .owl-controls .owl-buttons .owl-prev{.transition_all; background: rgba(181,13,16,0.77)!important; border-bottom-left-radius: 3px!important;}
		.owl-buttons{position: absolute; right: -30px; bottom: -60px;}
		.owl-theme .owl-controls .owl-buttons img{padding-top: 4px;}
	.owl-theme .owl-controls .owl-buttons .owl-next:hover{background: rgba(71,71,71,1)!important;}	
	.owl-theme .owl-controls .owl-buttons .owl-prev:hover{background: rgba(181,13,16,1)!important;}	
}			

.nurs{
	.active{display: block;}
	.col-senter{float: none!important; margin: 0 auto;}
	.tit{ font-family: 'Roboto', sans-serif; font-weight: 400; color: @text; text-transform: uppercase; text-align: center; font-size: 18px; padding-bottom: 25px; padding-top:25px;}
	.block{opacity: 0.5; .transition_all; margin-top: 35px;
		.photo{margin: 0 auto; display: table;}
		.name{color: #353535; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 16px; text-align: center; margin: 0 auto; width: 100px; padding-top: 10px; padding-bottom: 10px;}
		.open{.transition_all; position: relative; width: 23px; height: 16px; border-left: 1px solid #f90101; border-right: 1px solid #f90101; margin: 0 auto; display: table;
			.img{display: table; margin: 0 auto; background: url(img/close.png); background-repeat: no-repeat; background-size: cover; background-position: center center; width: 8px; height: 14px;}
			.line{.transition_all; position: absolute; content: ''; bottom: 0; background: #f90101; width: 40px; z-index: 3; height: 5px; left: -9px; opacity: 0;}
		}
		.open.active{
			.img{background: url('img/close-n.png'); width: 11px; height: 11px; margin-top: 3px;}
		}
	}
	.block.opacity{opacity: 1;}

	.block:hover{opacity: 1;}
	.block:hover .open{cursor: pointer;}
	.open:hover{width: 25px;}
	.open.active .line{bottom: -23px; opacity: 1;}
	.box{.transition_all; display: none; border: 1px solid #cbcbcb; padding: 10px; overflow: hidden; color: @text; font-size: 14px; margin-top: 20px; font-family: 'Roboto', sans-serif; font-weight: 400;
		.info{color: #353535; font-size: 14px; font-family: 'Roboto', sans-serif; font-weight: bold; float: left; margin-right: 5px;}
	}
	.box.active{display: block;}
	/*.box.opened{width: 100%; display: block; opacity: 1;}*/

}
.popUp{position: relative; display: none;  z-index: 70;  
	.block{width: 565px; display: table; content: ''; background: @head; position: fixed; top: 50%; left: 50%; .translate_y_x;
		.title{text-align: center; font-family: 'Roboto', sans-serif; font-weight: 400; text-transform: uppercase; color: @text; font-size: 24px; padding-top: 20px; padding-bottom: 12px;}
		.descr{text-align: center; font-family: 'Roboto', sans-serif; font-weight: 300; text-transform: uppercase; color: @text; font-size: 14px; padding-bottom: 25px;}
		.esc{position: absolute; content: ''; top: 10px; right: 10px; background: url('./img/esc.png'); width: 20px; height: 20px; background-size: cover; background-position: center center; background-repeat: no-repeat;}
		form{width: 466px; margin: 0 auto; padding-bottom: 25px;
			input{width: 225px; box-shadow: none; height: 30px; border: 1px solid #dbdada; margin: 0 6px 10px 0; outline: none; padding-left: 8px;}
			button{width: 460px; text-transform: uppercase; outline: none; box-shadow: none; text-align: center; background: #eaeaea; border: none; height: 40px; color: #8b8b8b;}
			.input{position: relative; float: right; }

			.ico-2{background: url('img/clock.png'); width: 15px; height: 15px; background-size: cover; background-repeat: no-repeat; background-position: center center; position: absolute; content: ''; top: 8px; right: 13px;}
			.ico-1{background: url('img/calendar.png'); width: 15px; height: 15px; background-size: cover; background-repeat: no-repeat; background-position: center center; position: absolute; content: ''; top: 8px; right: 13px;}
			.ico-3{background: url('img/list.png'); width: 13px; height: 9px; background-size: cover; background-repeat: no-repeat; background-position: center center; position: absolute; content: ''; top: 11px; right: 13px;}
		}
	}
	.esc:hover{cursor: pointer;}
}
.bk-pop{display: none; position: fixed; content: ''; top: 0; left: 0; right: 0; bottom: 0; background: rgba(69,69,69,0.41); z-index: 10;}
.fuc-block{display: none;}
.vacancy{
	margin-top: 50px; position: relative; background: url('img/vacancy.png'); width: 100%; height: 339px; background-size: cover; background-repeat: no-repeat; background-position: center center; 
	
	.block{width: 565px; z-index: 5; display: table; content: ''; background: @head; position: absolute; top: 50%; left: 50%;    -moz-transform: translateY(7%) translateX(-50%);
		-ms-transform: translateY(7%) translateX(-50%);
		-webkit-transform: translateY(7%) translateX(-50%);
		-o-transform: translateY(7%) translateX(-50%);
		transform: translateY(7%) translateX(-50%);
		.title{text-align: center; font-family: 'Roboto', sans-serif; font-weight: 400; text-transform: uppercase; color: @text; font-size: 24px; padding-top: 20px; padding-bottom: 12px;}
		.descr{text-align: center; font-family: 'Roboto', sans-serif; font-weight: 300; text-transform: uppercase; color: @text; font-size: 14px; padding-bottom: 25px;}
		.esc{position: absolute; content: ''; top: 10px; right: 10px; background: url('./img/esc.png'); width: 20px; height: 20px; background-size: cover; background-position: center center; background-repeat: no-repeat;}
		form{width: 466px; margin: 0 auto; padding-bottom: 25px;
			input{width: 225px; box-shadow: none; height: 30px; border: 1px solid #dbdada; margin: 0 6px 10px 0; outline: none; padding-left: 8px;}
			button{width: 466px; text-transform: uppercase; outline: none; box-shadow: none; text-align: center; background: #eaeaea; border: none; height: 40px; color: #8b8b8b;}
			.input{position: relative; float: right; }
		/*		.input :before{position: absolute; content: ''; top: 0; left: 0; right: 0; bottom: 0; z-index: 2;}*/
			.input input{margin: 0 0 10px 0;}

			.modal-box{position: absolute; display: none; z-index: 13; content: ''; top: 33px; left: 0; right: 0; border: 1px solid #dbdada; background: #fefdfd; text-align: center; padding: 10px 0;
				a{.transition_all; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 12px; color: #818181; line-height: 1; padding-bottom: 10px; display: block;}
				a:hover{color: @hover; cursor: pointer; text-decoration: none;}
				.active{color: @hover;}
			}

			.modal-box-time{position: absolute; display: none; z-index: 13; content: ''; top: 33px; left: 0; right: 0; border: 1px solid #dbdada; background: #fefdfd; text-align: center; padding: 12px 40px;
				.arrow-up{background: url('img/time-up-hover.png'); width: 25px; margin-left: 9px; display: block; height: 15px; background-size: cover; background-repeat: no-repeat; background-position: center center;}
				.arrow-down{background: url('img/time-down.png'); width: 25px; margin-left: 9px; display: block; height: 15px; background-size: cover; background-repeat: no-repeat; background-position: center center;}
				.number{float: left; font-size: 36px; color: #494949; font-family: 'Roboto', sans-serif; font-weight: 300; width: 45px; }
			}
			.arrow-down:hover{background: url('img/time-down-hover.png');}
			.arrow-up:hover{background: url('img/time-up.png');}

			.ico-2{background: url('img/clock.png'); width: 15px; height: 15px; background-size: cover; background-repeat: no-repeat; background-position: center center; position: absolute; content: ''; top: 8px; right: 13px;}
			.ico-1{background: url('img/calendar.png'); width: 15px; height: 15px; background-size: cover; background-repeat: no-repeat; background-position: center center; position: absolute; content: ''; top: 8px; right: 13px;}
			.ico-3{background: url('img/list.png'); width: 13px; height: 9px; background-size: cover; background-repeat: no-repeat; background-position: center center; position: absolute; content: ''; top: 11px; right: 13px;}
		}
	}
	.esc:hover{cursor: pointer;}
}

.arrow-ser-left{}
.arrow-ser-right{background: url('img/serv-arrow-right.png')!important; width: 19px; height: 35px; background-size: cover; background-position: center center; background-repeat: no-repeat; position: absolute; content: ''; top: 50%; .translate_y; right: -15px;}
.arrow-ser-left{background: url('img/serv-arrow-left.png')!important; width: 19px; height: 35px; background-size: cover; background-position: center center; background-repeat: no-repeat; position: absolute; content: ''; top: 50%; .translate_y; left: -15px;}
.arrow-ser-right:hover{background: url('img/serv-arrow-right-hover.png')!important;}
.arrow-ser-left:hover{background: url('img/serv-arrow-left-hover.png')!important;}
.services .owl-theme .owl-controls .owl-buttons div{background: transparent; margin: 0; padding: 0; opacity: 1;}
.footer-mob{background: @head; display: none;
	.col-centered{float: none!important; margin: 0 auto;}
	.block{margin-top: 25px; margin-bottom: 35px;
		img{margin: 0 auto; display: table;}
		.info{color: @text; font-weight: 400; text-align: center; padding-top: 10px; font-size: 14px; line-height: normal; font-family: 'Arimo', sans-serif;}
		a{color: @text;}
	}
}

.news-mob{display: none; overflow: hidden;
	.news{border-bottom: 3px solid #d5d5d5; float: left; width: 100%; margin-right: 15px; margin-top: 35px; position: relative;}
	.news:before{position: absolute; content: ''; height: 3px; background: #d5d5d5; width: 500px; left: -500px; bottom: -3px;}
	.news:after{position: absolute; content: ''; height: 3px; background: #d5d5d5; width: 500px; right: -500px; bottom: -3px;}
	.title{color: @news; position: relative; font-size: 18px; font-family: 'Roboto', sans-serif; line-height: 1; font-weight: 300; text-align: center; width: 150px; float: left; padding-bottom: 10px;}
	.title_two{color: @news; position: relative; font-size: 18px; font-family: 'Roboto', sans-serif; line-height: 1; font-weight: 300; text-align: center; width: 150px; float: right; padding-bottom: 10px;}
	.title.active:before{position: absolute; content: ''; bottom: -4px; left: 0; right: 0; height: 5px; background: #f90101;}
	.title:before{position: absolute; content: ''; bottom: -4px; left: 0; right: 0; height: 5px; background: #919191;}
	.title_two:before{position: absolute; content: ''; bottom: -4px; left: 0; right: 0; height: 5px; background: #919191;}
	.title_two.active:before{position: absolute; content: ''; bottom: -4px; left: 0; right: 0; height: 5px; background: #f90101;}
	.title_two:hover, .title:hover{cursor: pointer;}
	.col-centered{float: none!important; margin: 0 auto;}
}
.news-mob-container{background: #f9f9f9; margin-bottom: 25px; display: none;
	.col-centered{float: none!important; margin: 0 auto;}
	.block{display: none; padding-top: 15px; padding-bottom: 25px;}
	.block.active{display: block;}
	.new{margin-bottom: 7px; background: #f7f7f7; min-height: 100px; float: left;
		.img{width: 150px; height: 100px; float: left;}
		.title{.transition_all; font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: bold; width: calc(100% - 180px);  color: @news; line-height: 1; float: left; margin-left: 10px; margin-top: 5px;}
		.description{.transition_all; font-family: 'Roboto', sans-serif; font-size: 12px; font-weight: 400; width: calc(100% - 180px);  color: @news; line-height: 1; float: left; margin-left: 10px; margin-top: 12px; }
		.next{.transition_all; font-family: 'Roboto', sans-serif; position: relative; font-size: 12px; font-weight: bold; padding-bottom: 5px; font-style: italic;  color: #292828; line-height: 1; float: right; display: block; margin-right: 15px;
			.det-arrow{.transition_all; position: absolute; content: ''; top: 1px; right: -9px; background: url('img/detail-new.png'); width: 6px; height: 10px; background-repeat: no-repeat; background-size: cover; background-repeat: no-repeat; background-size: cover;}
		}
	} 

	.title:hover, .description:hover , .next:hover{color: @hover; text-decoration:none;}
	
	.next:hover .det-arrow{background: url('img/detail-new-hover.png'); right: -11px;}
	.all_new{display: table; padding-top: 15px; margin: 0 auto; text-align: center; position: relative; font-family: 'Roboto', sans-serif; font-style: italic; color: #656464; line-height: 1;
		.arrow{.transition_all; position: absolute; content: ''; top: 19px; right: -7px; width: 4px; height: 8px; background: url('img/arrow-news.png'); background-repeat: no-repeat; background-size: cover; background-size: cover;}
	}
	.all_new:hover{text-decoration: none; color: @hover; }
	.all_new:hover .arrow{background: url('img/arrow-news-hover.png'); right: -10px;}
}
@media (min-width: 990px) and (max-width: 1200px){
	.about{height: 450px;}
}

@media (min-width: 768px) and (max-width: 1199px){
	.head{display: none;}
	.about{
		.conta1{padding: 50px 10px 0 10px;}
		.text:after{right: 0;}
		.btns{padding-top: 25px;}
	}
	#serv.owl-carousel{width: 90%!important; float: none; margin: 0 auto;}
	/*	#serv.owl-carousel .owl-item{width: 190px!important;}*/
	.services .block{width: 190px; margin: 0 auto;}
	.services .title{padding-bottom: 40px;}
	.services .owl-pagination{display: none;}
	.services .btn-detal{padding-top: 15px;}
	.varicos{overflow: hidden;}
	.varicos .border{margin-top: 0; border: none ;}
	.varicos .head-one{margin-left: -15px; }
	.varicos .head-two{font-size: 22px; padding-top: 5px;}
	.varicos .btn-box .price{display: none;}
	.varicos .btn-box:before{display: none;}
	.varicos .text{font-size: 19px; text-align: center; padding-top: 40px;}
	.varicos .btn-box .detail{margin: 0 auto; display: table; float: none; }
	.varicos .btn-box{margin-top: 20px; float: right;}
	.varicos .bk{margin-left: -15px;}
	.footer .cont-1{display: none;}
	.footer .cont-2:before{display: none;}
	#contact .mob-background{background: transparent!important;}
	.footer .cont-2{background: #737373; padding: 0 25px; z-index: 5;}
	.maps{margin-top: -90px; display: block;}
	.footer{background: #fff;}
	.footer-mob{display: block;}
	.read{display: none;}
	.news-mob{display: block;}
	.head-mob{display: block;}
	.news-mob-container{display: block;}
}	

@media (min-width: 320px) and (max-width: 767px){

	.head{display: none;}
	.about{
		.conta1{padding: 50px 10px 0 10px;}
		.text:after{right: 0;}
		.btns{padding-top: 25px;}
	}
	#serv.owl-carousel{width: 90%!important; float: none; margin: 0 auto;}
	/*	#serv.owl-carousel .owl-item{width: 190px!important;}*/
	.services .block{width: 190px; margin: 0 auto;}
	.services .title{padding-bottom: 40px;}
	.services .owl-pagination{display: none;}
	.services .btn-detal{padding-top: 15px;}
	.varicos{overflow: hidden;}
	.varicos .border{margin-top: 0; border: none ;}
	.varicos .head-one{margin-left: -15px; }
	.varicos .head-two{font-size: 22px; padding-top: 5px;}
	.varicos .btn-box .price{display: none;}
	.varicos .btn-box:before{display: none;}
	.varicos .text{font-size: 19px; text-align: center; padding-top: 40px;}
	.varicos .btn-box .detail{margin: 0 auto; display: table; float: none; }
	.varicos .btn-box{margin-top: 20px; float: right;}
	.varicos .bk{margin-left: -15px;}
	.footer .cont-1{display: none;}
	.footer .cont-2:before{display: none;}
	#contact .mob-background{background: transparent!important;}
	.footer .cont-2{background: #737373; padding: 0 25px; z-index: 5;}
	.maps{margin-top: -90px; display: block;}
	.footer{background: #fff;}
	.footer-mob{display: block;}
	.read{display: none;}
	.news-mob{display: block;}
	.head-mob{display: block;}
	.news-mob-container{display: block;}

	.head{display: none;}
	.head-mob{display: block;}
	.dropdown-menus .detail-info .block .soc-line{height: 23px; width: 23px; }
	.dropdown-menus .detail-info .block .soc-line i{ font-size: 12px;}
	.dropdown-menus .detail-info .block{width: auto;}
	.dropdown-menus .detail-info{width: 140px;}
	.dropdown-menus .review{margin-left: -49px;}
	.slid .photo{width: 370px;}
	.mob-fot{display: block;}
	.footer .cont-2 .title{font-size: 14px; }
	.footer .cont-2 .descr{font-size: 11px;}
	.footer .cont-2 form{width: auto;}
	.footer .cont-2 form input{width: 100%; margin-left: 0;}
	.news-mob-container .new{display: none;}

	.fuc-block{position: relative; display: block;}
	.fuc-block .time{position: absolute; content: ''; bottom: 0; left: 0; right: 0; background: #4d4d4d; height: 22px;}
	.fuc-block .time .data{font-size: 12px; color: #fff; font-family: 'Roboto', sans-serif; font-style: italic; float: left; padding-top: 3px; padding-left: 20px;}

	.news-mob .title{font-size: 14px; width: 50%;}
	.news-mob .title_two{font-size: 14px; width: 50%;}
	.news-mob .title_two:before{left: 50%!important; width: 85px; .translate_x;}
	.news-mob .title:before{left: 50%!important; width: 85px; .translate_x;}

	.next{.transition_all; font-family: 'Roboto', sans-serif; position: relative; font-size: 12px; font-weight: bold; padding-bottom: 5px;    padding-top: 4px; font-style: italic;  color: #fff; line-height: 1; float: right; display: block; margin-right: 15px;
		.det-arrow{.transition_all; position: absolute; content: ''; top: 5px; right: -9px; background: url('img/serv-arrow.png'); width: 6px; height: 10px; background-repeat: no-repeat; background-size: cover; background-repeat: no-repeat; background-size: cover;}
	}
	.title:hover, .description:hover , .next:hover{color: @hover;}
	.next:hover .det-arrow{background: url('img/detail-new-hover.png'); right: -11px;}
	.news-mob-container .all_new{display: none;}
	.descript{position: absolute; content: ''; bottom: 20px; left: 0; right: 0; background: rgba(77,77,77,0.75); padding: 10px 20px 15px; font-family: 'Roboto', sans-serif;  font-size: 12px; color: #fff; display: block;}
	.descript:hover{text-decoration: none; color: #fff;}

	.about{display: none;}
	.about-two{display: none;}
	.reviews{display: none;}
	.nurs .block .photo img{width: 110px;}
	.nurs .col-lg-4.col-sm-4.col-xs-6:nth-child(3){display: none;}
	.nurs .tit{padding-bottom: 0;}
}