<template>
    <div id="my-app" class="page-wrapper" v-resize="onResize">
        <transition name="page">
        <app-preloader v-if="preloader"></app-preloader>
        </transition>
        <app-Loader loadingProgress="0"></app-Loader>
        <app-header v-if="windowSize.x > 767"></app-header>
        <transition name="page" v-if="windowSize.x > 767">
            <app-header-fxed v-if="scroll"></app-header-fxed>
        </transition>

        <app-header-mobile v-if="windowSize.x <= 767"></app-header-mobile>




        <div class="page-content-wrapper">
        <transition name="page">
                <router-view></router-view>
        </transition>
    </div>
        <app-footer v-if="windowSize.x > 767"></app-footer>
        <app-footer-mobile v-if="windowSize.x <= 767"></app-footer-mobile>
    </div>
</template>

<script>
    import { mapGetters, mapActions, mapMutations } from 'vuex'
    import Header from './components/partials/Header'
    import Footer from './components/partials/Footer'



    import Loader from './components/partials/Loader'
    import MiniCart from './components/partials/MiniCart'


    // Vue.component('appHeader', Header);
    // Vue.component('appFooter' ,Footer);
    // Vue.component('appLoader' ,Loader);
    // Vue.component('appMiniCart' ,MiniCart);



    export default {
        data() {
            return {
                showLoader: true,
                scroll: false,
                preloader: true,
                windowSize: {
                    x: 0,
                    y: 0
                }
            }
        },


        components: {
            appHeader: Header,
            appFooter: Footer,
            appLoader: Loader,
            appMiniCart: MiniCart,
        },
        mounted: function () {
            let _this= this;
            $(window).scroll(
                function (event) {
                    if($(window).scrollTop()>150){
                        _this.scroll = true;
                    }else{
                        _this.scroll = false;
                    }
                }
            );

            setTimeout(()=>{
                this.preloader = false;
            }, 2000);
            this.onResize();
        },
        watch: {

        },
        methods: {
            onResize () {
                this.windowSize = { x: window.innerWidth, y: window.innerHeight }
            }
        },



    }
</script>


