@media (min-width: 1400px) { // Large devices (desktops, less than 1400px)

}



@media (min-width: 1200px) { // Large devices (desktops, less than 1200px)

}

@media (max-width: 1199px) {

  header{
    &.header{
      .top-panel{
        .top-social{

        }
      }
      .top-mail{
        display: none;
      }

    }
  }

  .about-blocks {
    max-width: 94%;
  }

  .about-home .about-blocks .about-block.hot-line .hot-number {
    font-size: 24px;
  }
}

@media (min-width: 992px) {  // Medium devices (tablets, less than 992px)

}
@media (max-width: 991px) {
  .about-home .about-blocks .about-block.hot-line .hot-number {
    font-size: 18px;
  }

  .about-home .about-blocks .about-block .disc ul.table-time-work li{
    padding-bottom: 20px;
  }
  .about-home .about-blocks .about-block .disc ul.table-time-work li span {
    display: block;
    width: 100%;
    text-align: right;
  }
  .header .top-panel .top-social {
    display: none;
  }
  .container {
    max-width: 720px;
    min-width: 96%;
  }
  .page-site.home-page {
    margin-top: -250px;
  }
  header .top-panel .top-cart{
    position: fixed;
    right: 0;
    top: 23%;
    margin: 0;
    padding: 0 15px;
    background-color: $red;
  }
  header .stuckMenu .header-btn.btn{
    padding: 0 10px;
    width: 55px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .slider-home .agile .slide .container .disc {
    margin-top: 100px;
  }
  .about-home .about-blocks .about-block{
    padding: 33px 20px 30px 20px;
    border-bottom: 7px solid rgb(174, 216, 228);
  }
  .about-home .about-blocks .about-block .disc a.elementor-button-link{
    display: block;
    padding: 10px 0;
    text-align: center;
    line-height: 30px;
  }
  header#header.fixed .header-btn.btn{
    width: 100%;
    font-size: 9px;
  }
  .our-form .fing::before { display: none}

  .consult-home .blocks .block{
    padding: 18px 10px 24px 80px;
    margin-bottom: 10px;
  }
  .consult-home .title {
    text-align: center;
    width: 100%;
  }
  .dovira-home {
    text-align: center;
  }
  .sunnivy-home{
    padding-top: 0;
    text-align: center;
  }
  .video-home{
    text-align: center;


  }

  .video-home h2::before {
    left: calc(50% - 25px);
  }
  .video-home .links a {
    margin-bottom: 40px;
  }
  .contacts-home .contacts-block{
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    bottom: 0;
    background-color: rgba(156, 73, 68, .8);
    padding: 40px 10px 40px 20px;
  }
  .sunnivy-home .title{
    text-align: center;
    height: auto;
  }
  .contacts-home .contacts-block .blueberry__list .blueberry__item .contact-link {
    width: 100%;

  }
}

@media (min-width: 768px) {   // Small devices (landscape phones, less than 768px)



}
@media (max-width: 767px) {
  body.vue--page--home header .top-panel{
    display: none;
  }
  .section-hours{
    display: none;
  }
  .our-form .fing::before { display: none}

  .our-form form{
    max-width: 100%;
    float: none;
    width: 100%;
  }
  .our-form .fing{
   width: 100%;
  }
  .page-site.home-page {
    margin-top: 0;
  }

  .slider-home .agile .slide .container .disc {
    margin-top: 0;
    text-align: center;
  }
  .slider-home .agile .slide {
    height: 100vh;

  }

  .slider-home .agile .slide .container .disc .title{
    max-width: 100%;
    font-size: 26px;
  }
  .slider-home .agile .slide .container .disc {
    font-size: 18px;
  }
  .about-home .about-blocks {
    text-align: center;
  }
  .about-home .about-blocks .about-block .disc ul.table-time-work li span{
    text-align: center;
  }

  .about-home .about-blocks .about-block .disc ul.table-time-work li {
    padding-bottom: 36px;
  }

  .prices-page .header_price .price-cat .cat-name .nav-link{
    text-align: center;
  }
  .prices-page .header_price .price-cat .cat-name .nav-link span {
    font-size: 16px;
    display: block;
    width: 100%;

  }
  .page-wrapper{
    padding-top: 70px;
  }
  .consult-home .blocks{
    margin: 0;
  }
  .consult-home .blocks .block {
    width: 100%;
  }
  .consult-home .title {
    line-height: 42px;
  }
  .client-home .client .client-text {
    max-height: 200px;
    overflow: auto;
  }
  .client-home h2 {
    line-height: 46px;
  }
  .slider-home .agile .slide .container .disc .title {
    max-width: 100%;
    font-size: 26px;
    max-height: none;
    min-width: auto;
    white-space: normal;
    line-height: 42px;
  }
  .slider-home .agile .slide .container .disc .links a {
    padding: 12px 12px;
    margin: 5px;

  }
  .about-text{
    text-align: center;
  }
  .about-text .logo {
    margin: auto;
  }

  .prices-page .header_price_select .price_select_info{
    text-align: center;
    padding: 30px 15px;
    margin-left: -30px;
    margin-right: -30px;
  }
  .prices-page .price-box .price-name {
    padding-right: 15px;
    text-align: center;
    margin-bottom: 16px;
  }
  .prices-page .price-box .title a{
    width: 100%;
  }
  .prices-page .price-box .priceANDtermin{
    display: block;
    border-bottom: 1px solid #ccc;
    width: 90%;
    margin: auto;
    margin-bottom: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .prices-page .price-box .priceANDtermin .price{
    width: 100%;
    display: block;
    float: none;
  }
  .prices-page .price-box .priceANDtermin .termin{
    width: 100%;
    display: block;
    float: none;
  }
  .prices-page .price-box .info-content .fa {
    margin: auto;
  }
  .switcher{
    max-width: 73px;
    margin-left: auto;
    margin-right: auto;
  }
  footer .horizontal-contact-widget .each-widget::before{
    display: none;
  }
  .price-page .price_select_info{
    display: block;
    padding: 10px;
    padding-bottom: 120px;
  }
  .price-page .price_tabs_info .nav-tabs li{
    display: block;
  }
  .price-page .price_tabs_info .tab-content .tab-container{
    padding: 40px 15px;
  }
  .product-form::after{
    display: none;
  }
  .price-page .price_select_info h1 {
    margin-top: 60px;
  }
  .price-page .price_select_info .inform .disc {
    text-align: center;
  }
  #blogPage .current-article-favorite{
    display: none;
  }
  #blogPage .send-form input {

    width: 100% !important;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  #blogPage .send-form button {

    width: 100% !important;
    margin-top: 5px;
  }
  #blogPage .videos{
    display: none;
  }
  #blogPage .block-title .sort{
    display: none;
  }
  #blogPage .news_blog .link_news_blog{
    display: none;
  }
  #blogPage .most-blocks{
    text-align: center;
  }
}
@media (min-width: 576px) {  // Small devices (landscape phones, less than 768px)

}
@media (max-width: 575px) {

}
