$fontDINPro: 'Conv_DINPro',Sans-Serif;
$fontRoboto: 'Roboto', sans-serif;


// colors

$red : #9c4944;
$blue: #aed8e4;
$blueDark: #aed8e4 - 60%;
$grey : #7e7e7e;
$greyLight : #ececec;





.page-enter-active, .page-leave-active {
  transition: opacity 1s, transform 1s;
  overflow: hidden;
}
.page-enter, .page-leave-to {
  opacity: 0;
  transform: translateY(-80%);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0
}


.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(0.8, 0.4, 0.6, 0.8);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

