@import "import";
@import "var";


a, a:focus, a:hover, a:visited {
  outline: none;
  text-decoration: none;
}



body {
font-family: $fontDINPro;
  font-size: 14px;
  background: url("/img/fon.png");
}

h1{}
h2{}
h3{}
h4{}
h5{ font-size: 16px; }
h6{ font-size: 16px; }
.clearfix{
  &:before {
    display: table;
    content: " ";
    width: 100%;
  }
}
.progress {
  display: -ms-flexbox;
  display: flex;
  height: 5px;
  overflow: hidden;
  font-size: .75rem;
  background-color: rgba(245, 227, 232, 0.5);
  border-radius: .25rem;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  .progress-bar{
    display: -ms-flexbox;
    display: block;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: red;
    height: 5px;
  }
}


.btn{
  color: white;
  background-color: transparent;
  border: 1px solid white;
  line-height: 40px;
  display: inline-block;
  padding: 0 30px;
  -webkit-transition: 300ms;
  transition: 300ms;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  border-radius: 0;
  &:hover{
    color: white;
    background-color: $blueDark;
    border-color: $blue ;
  }
}
.soclink{
  padding-top: 20px;
  li{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    margin-right: 5px;
    text-align: center;
    line-height: 28px;
    overflow: hidden;
    a{
      color: white;
      display: block;
    }
    &:hover{
      background-color: $blue;
      &.link-vk{ background-color: #4a76a8 }
      &.link-fb{ background-color: #4267b2 }
      &.link-in{ background-color: #d10869}
      &.link-ok{ background-color: #ee8208 }
    }
  }
}
.page-site{


  &.home-page{
    margin-top: -150px;
  }

}
footer {
  &#footer {
    background-color: $grey;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("/img/hif-health-insurance.png");
    background-size: auto auto !important;
    background-origin: padding-box !important;
    background-clip: border-box !important;
    color: white;
    background-size: cover;
    background-position: right, center;
    .pb-60 {
      padding-bottom: 60px;
    }
    .pt-90 {
      padding-top: 90px;
    }
    .widget {
      margin-bottom: 40px;
    }
    .mb-10 {
      margin-bottom: 10px;
    }

    .bg-theme-colored{
      background-color: $red;
      color: white;
      padding: 20px;
      font-size: 12px;
      letter-spacing: 2px;
    }


  }
  .mt-20 {
    margin-top: 20px;
  }
  ul, ol {
    list-style: none;
    margin: 0;
    margin-top: 0px;
    padding: 0;

  }

  .footer-about{
    a{
      color: white;
    }
  }

  .widget-title{
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .latest-posts{
    article{
      margin-bottom: 10px;
      &:before {
        display: table;
        content: " ";
      }
      .post-thumb {
        float: left;
        margin: 0 10px 10px 0;
        width: 80px;
        height: 55px;
        overflow: hidden;
      }
      .post-right {
        overflow: hidden;
        h5{
          margin-bottom: 5px;
          margin-top: 0;
          font-weight: 700;

        }

      }
      .post-title{
        font-size: 13px;
        letter-spacing: 0;
        margin-bottom: 5px;
        display: block;
        line-height: 16px;
        max-height: 34px;
        overflow: hidden;
        a{
          color: rgb(228, 227, 227);
          &:hover{
            color: $red;
          }
        }
      }
      .post-date{
        font-size: 12px;
        color: #9b9b9b;
      }
    }
  }

  .opening-hours{
    .list {
      list-style: outside none none;
      margin-top: 13px;
      padding-left: 0;
      li{
        padding: 10px 0;
        border-bottom: 1px dashed #333333;
        span {
          float: left;
          i{
            &.fa{
              padding-right: 5px;
            }
          }
        }
        .bg-theme-colored{
          padding: 0 15px !important;
          height: 24px;
          line-height: 22px;
        }
      }
    }
  }

  .horizontal-contact-widget{
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px dashed #d3d3d3;
    text-align: center;
    .each-widget{
      &:before {
        content: "\f111";
        font-family: FontAwesome;
        left: 0;
        position: absolute;
        right: 0;
        top: -42px;
      }
      .font-36{
        font-size: 36px;
      }
      .title{
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      p{
        color: rgb(228, 227, 227);
        margin-bottom: 10.5px;
        line-height: 1.7;
        font-size: 15px;
      }
      a{
        color: rgb(228, 227, 227);
        &:hover{
          color: $red;
        }
      }
    }
  }

  .soclink-bottom{
    display: block;
    text-align: center;
    ul{
      margin-bottom: 10px;
      margin-top: 30px;
      li{
        width: 35px;
        height: 35px;
        line-height: 32px;
        margin-right: 10px;
        font-size: 16px;
        transition: 200ms;
        &:hover{
          font-size: 18px;
        }
        a{

        }
      }

    }
  }
  #footer_quick_contact_form{
    margin-bottom: 10.5px;
    .form-control {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 1px solid #4a4a4a;
      color: white;
      resize: none;
      padding: 5px 10px;
      &:focus{
        border: 1px solid $red;
      }
    }
    input{
      &.form-control {
        height: 45px;
      }
    }
    textarea{
      &.form-control {
        height: 90px;
      }
    }

  }


  .other-link{
    a{
      color: rgb(228, 227, 227);
      display: block;
      margin-bottom: 10px;
      &:hover{
        color: rgb(156, 73, 68);
      }
    }
  }

}


header{
  &#header{
    position: relative;
    width: 100%;
    z-index: 7777;
    //top: 0;
    .widget {
      ul {
        li{
          display: inline-block;
        }
      }
    }

    .header-nav{
      &:after{
        display: block;
        width: 100%;
        content: "";
      }
      #menuzord-right {
        &:after{
          display: block;
          width: 100%;
          content: "";
        }
      }
    }


    .stuckMenu{

      nav{
        &#main_menu {
          .menu {
            ul{

              li {
                a {

                }
              }
            }
          }
          .logo{
            position: relative;
            a{
              img {

              }
              position: relative;
              z-index: 1;
            }

            &:before{

            }
            &:after{
              content: "";
              position: absolute;
              height: 100%;
              background-color: rgb(180, 180, 180);
              -webkit-transform: skew(30deg);
              transform: skew(30deg);
              top: 0;
              right: -10px;
              width: 40vw;
            }
          }




        }
      }
    }


    &.fixed {
      position: fixed;
      top: 0;
      .top-panel{
        margin-top: -50px;
      }
      .stuckMenu{
        background-color: $red;
        nav{
          &#main_menu {
            .menu {
              ul{
                margin-top: 10px;
                margin-bottom: 10px;
                li {
                  a {
                    height: 45px;
                    line-height: 45px;
                    font-size: 17px;
                  }
                }
              }
            }
            .logo{
              a{
                img {
                  height: 40px;
                  width: auto;
                }
              }
            }




          }
        }
      }
      .header-btn{
        &.btn{
          margin-top: 10px;
          margin-bottom: 10px;
          height: 45px;
          line-height: 45px;
        }
      }

    }
  }

  .top-panel {
    color: #ffffff;
    border-bottom: 1px solid #c5cbcf;
    background-color: $red;
    border-color: rgba(255,255,255,0.2);
    margin-top: 0;
    transition: 100ms;
    .top-top-block{
      display: inline-block;
      height: 48px;
      line-height: 48px;
      padding: 0;
      position: relative;

      a {
        color: #ffffff;
        font-weight: 700;
        margin-left: 2px;
        text-transform: none;
        &:hover{
          color: $blue;
        }
      }
    }
    .top-local{

    }
    .top-mail{
      padding-left: 20px;
      margin-left: 20px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: rgba(255,255,255,0.2);
      }
    }
    .top-social{
      display: inline-block;
      list-style: none;
      margin-left: 0px;
      margin-bottom: 0;
      padding-left: 12px;
      margin-left: 20px;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: rgba(255,255,255,0.2);
      }
      li{
        display: inline-block;
        a{
          padding-left: 6px;
          padding-right: 6px;
          font-size: 14px;
        }
      }
    }
    .top-cart{
      display: inline-block;
      list-style: none;
      margin-bottom: 0;
      padding-left: 20px;
      margin-left: 12px;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: rgba(255,255,255,0.2);
      }

      i{
        &.fa{
          font-size: 16px;
          cursor: pointer;
          line-height: 47px;
        }
      }
    }
  }

.stuckMenu{
  background-color: $red;
  transition: 100ms;
  .header-btn{
    &.btn {
      color: #ffffff;
      margin-top: 23px;
      margin-bottom: 23px;
      padding: 0 30px;
      border: 1px solid #ffffff;
      height: 55px;
      line-height: 55px;
      font-size: 12px;
      letter-spacing: 2px;
      text-transform: uppercase;
      &:hover{
        color: #ffffff;
        background-color: $red;
      }
    }
  }

  nav{
    &#main_menu{
      .logo{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        a{
          img{
            width: 100%;
          }
        }
      }
      .menu{
        ul{
          padding: 0;
          margin-top: 23px;
          margin-bottom: 23px;
          display: table;
          width: 100%;
          text-align: center;
          margin-left: 0;
          li{
            display: table-cell;
            position: relative;
            a{
              display: inline-block;
              height: 55px;
              line-height: 55px;
              font-style: normal;
              font-size: 18px;
              padding: 0 10px;
              color: #ffffff;
              position: relative;
              &:hover{
                color: $blue;
              }
            }
          }
        }


        .subMenu{
          background-color: rgb(156, 73, 68);
          border-radius: 0 0 3px 3px;
          display: block;
          position: absolute;
          width: 220px;
          left: 50%;
          -webkit-transform: translateX(10%);
          transform: translateX(-50%);
          overflow: hidden;
          height: 0;
          top: 40px;
          margin-top: 0 !important;
          padding-top: 40px;
          margin-bottom: 0;
          padding-bottom: 20px;
          transition: 300ms;
          display: none;
          li{
            width: 100%;
            display: block;
            text-align: left;
            a{
              display: block;
              line-height: 26px;
              height: auto !important;
              padding: 10px 0;
              margin: 0 20px;
              border-bottom: 1px solid rgba(255,255,255, .2);
            }
          }

        }


        ul{

          li{
            &.item-m{
              a{
                &:hover{
                  .subMenu{
                    height: auto;
                    display: block;
                  }
                }
              }
            }


          }
        }
      }



    }
  }
}

}
body {
  background-color: #f7fafb;
  &.vue--page--home{
    header{
      .top-panel {
        background-color: rgba(255,255,255,0.1);
      }

      .stuckMenu{
        background-color: rgba(255,255,255,0.1);
      }

      .subMenu{
        background-color: rgba(255, 255, 255, 0.1) !important;

      }


      .logo{
        position: relative;

        &:after{
          display: none;
        }
      }

    }
  }

  &.vue--page--home{
    &.fixed{
      header{
        &#header{
          .subMenu{
            background-color: $red !important;

          }
        }




      }
    }
  }

  &.fixed{
    header{
      &#header{
        position: fixed;
        top: 0;
      }
      .top-panel{
        margin-top: -50px;
      }
      .stuckMenu{
        background-color: $red;
        nav{
          &#main_menu {
            .menu {
              ul{
                margin-top: 10px;
                margin-bottom: 10px;
                li {
                  a {
                    height: 45px;
                    line-height: 45px;
                    font-size: 17px;
                  }
                }
              }
            }
            .logo{
              a{
                -webkit-filter: invert(90%);
                filter: invert(90%);
                img {
                  height: 40px;
                  width: auto;
                }
              }
            }
          }
        }
      }
      .header-btn{
        &.btn{
          margin-top: 10px;
          margin-bottom: 10px;
          height: 45px;
          line-height: 45px;
        }
      }

      .subMenu{
        background-color: $red !important;

      }

    }
  }


}
body.vue--page--home header.fixed .logo:after {
  display: block ;
  content: "";
}
body.vue--page--home header.fixed .subMenu {
  background-color: $red !important;
}
body header.fixed  .logo a{
  display: block;
  width: 100%;
  text-align: center;
}
body header.fixed .subMenu {
  background-color: $red !important;
  padding-top: 10px !important;
}
.about-home{
  position: relative;
  .about-blocks{
    background-color: white;
    margin-top: -55px;
    .about-block{
      padding: 33px 38px 38px 38px;
      border-bottom: 7px solid $blue;
      .title{
        color: $blueDark;
        font-weight: 400;
        line-height: 1.3;
        font-size: 26px;
        margin-bottom: 20px;
      }
      .disc{
        ul{
          padding: 0;
          margin: 0;
          &.table-time-work{
            li{
              display: block;
              position: relative;
              font-size: 14px;
              font-weight: 700;
              padding: 12px 0;
              color: #42474c;
              border-style: solid;
              border-width: 0px 0px 1px 0px;
              border-color: #edeff1;
              span{
              display: inline-block;
                float: right;
                color: $blueDark;
              }
              &:last-child{
                border: none;
              }

            }
          }
        }

        a{
          &.elementor-button-link{
            color: $blueDark;
            background-color: #ffffff;
            border: 1px solid $blue;
            line-height: 45px;
            display: inline-block;
            padding: 0 30px;
            -webkit-transition: 300ms;
            transition: 300ms;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 700;
            &:hover{
              background-color: $blue;
              color: white;
            }
          }
        }
      }
      p{
        font-size: 16px;
      }
      &.hot-line{
        border-bottom: 7px solid $red;
        .title{
          color: $red;
        }
        .hot-number{
          font-size: 28px;
          color: $blueDark;

          a{
            color: #000000;
            transition: 300ms;
            &:hover{
              color: $blueDark;
            }
          }
        }
      }
    }
  }
}
.home-features{
  margin-top: 40px;
  color: rgb(66, 71, 76);
  text-align: center;
  h2{
    position: relative;
    line-height: 70px;
    margin-bottom: 40px;
    &:after{
      content: "";
      width: 140px;
      display: block;
      background-color: $red;
      height: 2px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  i {
    &.fa{
      color: $blueDark;
      border: 2px solid $blue;
      display: block;
      font-size: 40px;
      width: 72px;
      height: 72px;
      margin: 20px auto;
      line-height: 72px;
      border-radius: 5px;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        bottom: -2px;
        width: 50%;
        height: 2px;
        background-color: $red;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .features-blocks{
    .features-block{
      .title{
        margin-bottom: 5px;
        font-weight: 400;
        line-height: 1.2;
        font-size: 20px;
      }
      p{
        font-size: 14px;
        line-height: 1.75;
      }

    }
  }

}



.agile {
  &__dots {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  &__dot {
    button {
      background-color: transparent;
      border: 1px solid #fff;

      &:hover {
        background-color: #fff;
      }
    }

    &--current {
      button {
        background-color: #fff;
      }
    }
  }

  &__arrow {
    height: 100%;
    top: 0;
    width: 80px;

    &:hover {
      background-color: rgba(#000, .5);

      #arrow-svg {
        fill: #fff;
      }
    }

    &[disabled] {
      display: none;
    }

    #arrow-svg {
      fill: rgba(#fff, .4);
      height: 25px;
    }
  }
}

.slider-home{
  .agile{
    overflow: hidden;
    .slide {
      background: {
        position: center;
        size: cover;
      }
      height: 700px;

      &:before {
        background-color: rgba(#000, .2);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      .container{
        .disc{
          color: white;
          font-size: 26px;
          .title{
            z-index: 6;
            min-width: 223px;

            white-space: nowrap;
            font-size: 68px;
            line-height: 82px;
            font-weight: 700;
            color: rgb(255, 255, 255);
            letter-spacing: -3px;
            visibility: inherit;
            transition: none 0s ease 0s;
            text-align: inherit;
            border-width: 0px;
            margin: 0px;
            padding: 0px;
            min-height: 85px;
            max-height: 85px;
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
            transform-origin: 50% 50% 0px;
          }
          .disc{

            min-width: 127px;
            max-width: 50%;
            white-space: nowrap;
            font-size: 44px;
            line-height: 56px;
            font-weight: 400;
            color: rgb(255, 255, 255);
            letter-spacing: -2px;

            visibility: inherit;
            transition: none 0s ease 0s;
            text-align: inherit;
            border-width: 0px;
            margin: 0px;
            padding: 0px;
            min-height: 57px;
            max-height: 57px;
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
            transform-origin: 50% 50% 0px;


          }
          .desc{
            padding-top: 20px;
            ul{
              margin: 0;
              list-style: none;
              padding: 0;
              li{

              }
            }
          }
          a{
            color: white;
            border: 1px dotted white;
          }
          .links{
            font-size: 12px;
            text-transform: uppercase;
            margin-top: 45px;
            a{
              z-index: 8;
              white-space: nowrap;
              line-height: 17px;
              font-weight: 700;
              color: rgb(255, 255, 255);
              letter-spacing: 1px;
              background-color: rgba(255, 255, 255, 0);
              border-color: rgba(255, 255, 255, 0.35);
              border-style: solid;
              border-width: 1px;
              border-radius: 3px;
              outline: medium none currentcolor;
              box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
              box-sizing: border-box;
              cursor: pointer;
              visibility: inherit;
              transition: none 0s ease 0s;
              text-align: inherit;
              margin: 0px;
              padding: 18px 30px;
              min-height: 0px;
              min-width: 0px;
              max-height: none;
              max-width: none;
              opacity: 1;
              transform: translate3d(0px, 0px, 0px);
              transform-origin: 50% 50% 0px;
              display: inline-block;
              margin-right: 20px;
              &:hover{
                background-color: rgb(255, 255, 255);
                color: $red;
              }
            }
          br{
            display: none;
          }

          }
        }


      }

    }

    .agile__dots{
      position: absolute;
      bottom: 10%;
      width: 100%;
      text-align: center;
      display: block;
      .agile__dot{
        display: inline-block;
        border: 2px solid white;
        margin: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        padding: 0;
        overflow: hidden;;
        button{
          width: 10px;
          height: 10px;
          padding: 0;
          opacity: 0;
        }
        &.agile__dot--current{
          background-color: white;
        }
      }
    }
    button{
      transition: 400ms;
      &.agile__arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 80px;
        width: 40px;
        font-size: 36px;
        text-align: center;
        padding: 0;
        line-height: 80px;
        border: none;
        background: none;
        opacity: 0;

        &.agile__arrow--prev{
         left: -40px;
        }
        &.agile__arrow--next{
         right: -40px;
        }

      }
    }


    &:hover{
      button{
        &.agile__arrow{
          opacity: .8;
          &.agile__arrow--prev{
            left: 0;
          }
          &.agile__arrow--next{
            right: 0;
          }

        }
      }
    }
  }
}

.prices-page{
  .header_price{
    background-color: #ffffff;
    margin-bottom: 30px;
    h1{
      font-size: 16px;
      color: white;
      height: 42px;
      line-height: 42px;
      width: 200px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      background-color: $blue;
      -moz-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
      -webkit-transform: rotate(-2deg);
      -o-transform: rotate(-2deg);
      transform: rotate(-2deg);
      position: relative;
      span{
        -moz-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        transform: rotate(2deg);
        display: block;
        padding-right: 20px;
      }
      &:after{
        content: "";
        position: absolute;
        width: 21px;
        right: -5px;
        height: 50px;
        background-color: white;
        top: 0;
        -webkit-transform: rotate(14deg);
        transform: rotate(14deg);
      }
    }
    .price-cat{
      padding-top: 30px;
      padding-bottom: 30px;
      .cat-name {
        position: relative;
        margin-top: 20px;
        .nav-link{
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-align-content: stretch;
          -ms-flex-line-pack: stretch;
          align-content: stretch;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 0;
          transition: 300ms;
          .icon{
            display: block;
            float: left;
            width: 75px;
            height: 75px;
            min-width: 75px;
            min-height: 75px;
            border-radius: 50%;
            margin-right: 15px;
            position: relative;
            img{
              width: 75px;
              height: 75px;
            }
            &:before{
              content: "";
              position: absolute;
              border: 3px dotted $blue;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              transition: 1s;
              opacity: 0;
            }
          }
          span{
              font-size: 14px;
              color: rgb(37, 34, 33);
              line-height: 1.2;
          }
          &:after{
            content: "";
            display: block;
            width: 100%;
            clear: both;
          }
          &:hover{
            .icon{
              &:before{
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
                opacity: 1;
              }
            }
          }
        }

      }
    }
  }
  .header_price_select{

  }

  .search-form{
    position: relative;
    margin-bottom: 40px;
    input{
      position: relative;
      width: 100%;
      height: 44px;
      line-height: 44px;
      font-size: 28px;
      margin: 0;
      padding: 0 9px;
      border: 0 none;
      border-bottom-width: 0px;
      border-bottom-style: none;
      border-bottom-color: currentcolor;
      outline: none;
      background: none;
      color: #ccc;
      border-bottom: 2px solid #ccc;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 98px 0 0;
    }
    .searchTextClear {
      position: absolute;
      top: 0;
      right: 50px;
      font-size: 28px;
      height: 44px;
      line-height: 44px;
      color: $red;
      transition: 1s;
      cursor: pointer;
      &:hover{
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        opacity: 1;
      }
    }
    .searchText{
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 28px;
      height: 44px;
      line-height: 44px;
      color: #b7b7b7;
    }
  }
  .price_table{
    margin-bottom: 60px;
  }

  .empty{
    width: 100%;
    text-align: center;
    .title{
      font-size: 32px;
      margin: 40px auto;
      color: $red;
      &:after{
        content: ']';
      }
      &:before{
        content: '[';
      }
    }
  }
  .paginPrice{
    text-align: center;
    font-size: 16px;
    color: gray;
    margin-top: 20px;
    .arrow{
      cursor: pointer;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 20px;
      margin-right: 20px;
      transition: 200ms;
      &:hover{
        color: $red;
      }
    }
  }
  .price-box{
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
    -webkit-box-shadow: -1px 0px 4px rgba(0,0,0, .1);
    box-shadow: -1px 0px 4px rgba(0,0,0, .1);
    transition: 200ms;

    .title{
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 18px;
      margin: 0;
      line-height: 22px;
      height: 44px;
      color: $red;
      overflow: hidden;
      position: relative;
      a{
        margin: 0;
        padding: 0;
        display: block;
        color: $red;
        position: absolute;
        top: 0;
      }
    }
    .price-name{
      padding-right: 5px;
    }
    .priceANDtermin{
      font-size: 16px;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 5px;
      text-align: center;
      line-height: 18px;
      .price{
        color: $red;
        margin: 0;
      }
      .termin{
        color: $grey;
        margin: 0;
        font-size: 12px;
      }
    }
    .info-content{
      font-size: 20px;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      color: $blueDark;
    }

    .cart{

      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      text-align: center;
      padding-left: 5px;
      padding-right: 10px;
    }
    .subtitle{
      margin: 0;
      color: $blue;
    }

    &:hover{
      -webkit-box-shadow: -1px 0px 4px rgba(0,0,0, .3);
      box-shadow: -1px 0px 4px rgba(0,0,0, .3);
      .title{
        a{
          color: $blueDark;
        }
      }
    }

  }

  .header_price_select{
    .price_select_info{
      background-image: url("/img/banner-bg.jpg");
      min-height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: top;
      position: relative;
      padding: 30px;
      margin-bottom: 20px;
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.35;
        filter: alpha(opacity=35);
      }
      .breadcrumbs{
        display: block;
        width: 100%;
        padding: 0;
        list-style: none;
        margin: 0;
        z-index: 2;
        position: relative;
        li{
          display: inline-block;
          a{
            transition: 200ms;
            display: inline-block;
            padding: 0;
            color: white;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2px;
            span{
              display: inline-block;
              &:before{
                display: inline-block;
                margin-right: 10px;
              }
            }
            &:hover{
              color: $red;
            }
          }
        }
      }
        h1{
          color: white;
          position: relative;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      .inform{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        color: white;
        font-size: 16px;
        letter-spacing: 0.2px;
        position: relative;
        .disc{
          position: relative;
          padding-right: 20px;
          padding-bottom: 20px;
          &:after{
            content: "";
            position: absolute;
            left: 0;
            right: 0px;
            bottom: 0;
            height: 3px;
            width: 100%;
            background-color: rgba(255,255,255, .6);
          }
        }
      }
      .top-panel-price{
        margin-top: 50px;
        a{
          display: table;
          border: 1px solid white;
          color: white;
          text-align: center;
          margin: 10px 0;
          text-transform: uppercase;
          font-size: 12px;
          -webkit-transition: 300ms;
          transition: 300ms;
          height: 54px;
          width: 100%;
          position: relative;
          overflow: hidden;
          span{
            display: table-cell;
            vertical-align: middle;
          }
          &.router-link-active{
            background-color: $red;
            opacity: .6;
            cursor: wait;
          }
          &:hover{
            background-color: $red;
          }
        }
      }
    }

  }


}



.switcher {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 0;
  height: 20px;
  line-height: 20px;
  margin: 0;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 30px;
  margin-left: 15px;
  width: 100%;
  span{
    width: 100%;
    bottom: -10px;
    position: absolute;
    left: -10px;
    transition: 200ms;
  }
  input {
    display: none;

    &[type="checkbox"]:not(:checked) ~ span:before {
      content: attr(data-off);
      color: grey;
    }

    &[type="checkbox"]:checked ~ span:before {
      content: attr(data-on);
      color: $red;
    }

  }


}

.switcher__indicator {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #d5d5d5;
    border-radius: 50%;
    transition: all .3s ease;
    animation-name: pulsein;
    animation-duration: .3s;
  }

  &::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 40px;
    height: 4px;
    background-color: #d5d5d5;
    border-radius: 10px;
    transition: all .3s ease;
  }

  input:checked + &::after {
    background-color: $red;
    transform: translateX(20px);
    animation-name: pulseout;
    animation-duration: .3s;
  }

  input:checked + &::before {
    background-color: $red;
  }

  input:disabled + &::after,
  input:disabled + &::before {
    background-color: #e5e5e5;
  }
}

@keyframes pulsein {
  0%, 100% {
    top: 0px;
    height: 25px;
    width: 25px;
  }
  50% {
    top: 6px;
    height: 10px;
    width: 20px;
  }
}

@keyframes pulseout {
  0%, 100% {
    top: 0px;
    height: 20px;
    width: 20px;
  }
  50% {
    top: 6px;
    height: 10px;
    width: 20px;
  }

}
.price-page{
  background-color: white;
  .product_price{
    position: absolute;
    right: 0;
    top: 20px;
    background-color: rgba(156, 73, 68, 0.54);
    font-size: 22px;
    padding: 0 30px;
    border-top: 2px solid rgb(156, 73, 68);
    border-bottom: 2px solid rgb(156, 73, 68);
    color: white;
  }
  .price_select_info{
    background-image: url("/img/banner-bg.jpg");
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    position: relative;
    padding: 30px;
    margin-bottom: 20px;
    padding-bottom: 120px;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.35;
      filter: alpha(opacity=35);
    }
    .breadcrumbs{
      display: block;
      width: 100%;
      padding: 0;
      list-style: none;
      margin: 0;
      z-index: 2;
      position: relative;
      li{
        display: inline-block;
        a{
          transition: 200ms;
          display: inline-block;
          padding: 0;
          color: white;
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 2px;
          span{
            display: inline-block;
            &:before{
              display: inline-block;
              margin-right: 10px;
            }
          }
          &:hover{
            color: $red;
          }
        }
      }
    }
    h1{
      color: white;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .inform{
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      color: white;
      font-size: 16px;
      letter-spacing: 0.2px;
      position: relative;
      .disc{
        position: relative;
        padding-right: 20px;
        &:after{
          content: "";
          position: absolute;
          left: 0;
          right: 0px;
          bottom: 0;
          height: 3px;
          width: 100%;
          background-color: rgba(255,255,255, .6);
        }
      }
    }

    .bron-btn{
      position: absolute;
      bottom: 30px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      padding: 4px 30px;
      background-color: rgba(156, 73, 68, .8);
      border-color: rgb(156, 73, 68);
      color: white;
      font-size: 16px;
      font-weight: 200;
      letter-spacing: 2px;
      transition: 500ms;
      &:hover{
        background-color: rgba(156, 73, 68, 1);
        bottom: 26px;
        padding: 6px 32px;
        border-radius: 30px ;
      }
      &:focus{
        background-color: rgba(156, 73, 68, 1);
        bottom: 28px;
        padding: 6px 32px;
        border-radius: 30px ;
      }
    }

  }
  .price_tabs_info{
    .nav-tabs{
      text-align: center;
      margin: 0;
      display: block;
      border: none;
      li{
        padding: 0 2.4691358%;
        font-size: 14px;
        cursor: pointer;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        vertical-align: top;
        float: none;
        .tabs__link{
          display: block;
          position: relative;
          padding: 16px 0;
          color: #555;
          transition: 300ms;

        }
        &:after {
          transition: 700ms;
          visibility: hidden;
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          width: 0;
          height: 3px;
          background: $red;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          border-radius: 2px;
        }
        &.active{
          .tabs__link{
            color: $red;

          }
          &:after {
            visibility: visible;
            width: 100%;
          }
        }
      }




    }

    .tab-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 60px 3.20987654%;
      background-color: #f4f9ff;
      .tab-container {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        display: block;
        animation: fadeIn 1s;
        width: 100%;
        line-height: 140%;
        font-size: 18px;
        margin: 0px;
        ul{
          width: 100%;
        }
      }
    }
  }
}

.doctor-page{
  background-color: #fff;
  .header_price{
    padding: 60px 3.20987654%;
    background-color: #f4f9ff;
    h1{
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #7e7e7e;
    }
  }
  .search-form{
    position: relative;
    margin-bottom: 40px;
    input{
      position: relative;
      width: 100%;
      height: 44px;
      line-height: 44px;
      font-size: 28px;
      margin: 0;
      padding: 0 9px;
      border: 0 none;
      border-bottom-width: 0px;
      border-bottom-style: none;
      border-bottom-color: currentcolor;
      outline: none;
      background: none;
      color: #ccc;
      border-bottom: 2px solid #ccc;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 98px 0 0;
    }
    .searchTextClear {
      position: absolute;
      top: 0;
      right: 50px;
      font-size: 28px;
      height: 44px;
      line-height: 44px;
      color: $red;
      transition: 1s;
      cursor: pointer;
      &:hover{
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        opacity: 1;
      }
    }
    .searchText{
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 28px;
      height: 44px;
      line-height: 44px;
      color: #b7b7b7;
    }
  }
  .doctor-list{
    padding: 40px 0px;


    .cat{
      margin-bottom: 30px;
      h2{
        color: $grey;
        padding-bottom: 30px;
      }
      .nav-link{
        padding: 0;
        .doctor{
          font-size: 16px;
          display: inline-block;
          vertical-align: top;
          margin: 0 1.66666667% 30px;
          padding: 20px 0 0;
          border-top: 1px solid #e6d0c3;
          transition: 300ms;
          width: 100%;
          .surname{
            display: block;
            margin: 0 0 15px;
            font-size: 29px;
            letter-spacing: -1px;
            line-height: 130%;
            color: $grey;
            transition: 300ms;
          }
          .position{
            display: block;
            margin: 0 0 35px;
            opacity: 0.8;
            color: $grey;
            filter: alpha(opacity=80);
          }
          .images{
            width: 100%;
            img{
              width: 100%;
            }
          }

          &:hover{
            border-top: 1px solid $red;
            .surname{
              color: $red;
            }
          }
        }
      }
    }

  }
}

.consult-home {
  background-image: url("/wp-content/uploads/2018/01/main-slider-img-3-1024x455.jpg");
  padding: 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
margin: 0;
  .blocks{
    margin: 50px;
    .block{
      padding: 12px 10px 12px 80px;
      font-size: 18px;
      line-height: 21px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 8px;
      position: relative;
      i{
        position: absolute;
        left: 18px;
        top: 12px;
        color: $red;
        border: 2px solid #fff;
        display: block;
        font-size: 34px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
        text-align: center;
        &:after {
          content: "";
          position: absolute;
          bottom: -2px;
          width: 50%;
          height: 2px;
          background-color: $red;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }
    }
  }

  .title {
    position: relative;
    line-height: 70px;
    margin-bottom: 40px;
    font-size: 24px;
    color: white;
    &:after {
      content: "";
      width: 140px;
      display: block;
      background-color: $red;
      height: 2px;
      margin-left: auto;
      margin-right: auto;
    }

  }
  input{
    width: 100%;
    padding: 0 20px;
    height: 40px;
    border: none;
    border-radius: 18px;
    margin-bottom: 15px;
    opacity: .7;
    transition: 300ms;
    &:hover{
      opacity: 1;
    }
  }
  .btn{
    padding: 0 20px;
    height: 40px;
    border: none;
    border-radius: 18px;
    background-color: #729ca8;
    -webkit-transition: 300ms;
    transition: 300ms;
    width: 80%;
    margin: auto;
    display: block;
    &:hover{
      background-color: $red;
    }
  }
}

.client-home{
  background-image: url("/wp-content/uploads/2018/01/main-slider-img-3-1024x455.jpg");
  padding: 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: top center;
  position: relative;
  &:after{
    content: " ";
    background: rgba(17, 17, 17, 0.5) none repeat scroll 0 0;
    background-color: rgba(17, 17, 17, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background-color: rgba(114, 156, 168, 0.85);
  }
  .row{
    position: relative;
    z-index: 1;
  }
  h2{
    position: relative;
    line-height: 70px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    &:after {
      content: "";
      width: 140px;
      display: block;
      background-color: rgb(156, 73, 68);
      height: 2px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .slick-dots{
    padding: 0;
    list-style: none;
    bottom: 20px;
    margin: 0;
    width: 100%;
    text-align: center;
    li{
      display: inline-block;
      margin: 0 10px;
      button{
        border: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        padding: 0;
        background: white;
        color: transparent;
        -webkit-transition: 300ms;
        transition: 300ms;
      }
      &.slick-active{
        button{
          background-color: rgba(10, 78, 93, 0.9);
        }
      }
    }
  }

  .client{
    text-align: center;
    .client-img{
      width: 75px;
      height: 75px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 auto;
    }
    .client-text{
      font-size: 18px;
      color: rgb(255, 255, 255);
    }
    .client-footer{
      .fa-quote-right{
        padding-top: 5px;
        font-size: 36px;
        color: #ccc;
      }
      .name{
        padding-top: 20px;
        color: white;
        font-size: 22px;
      }
    }
  }


}

.vidguki{
  display: block;
  background: #ccc;
  &:after{
    display: none;
  }
  .client{
    padding: 40px 40px 40px 100px;
    background: white;
    text-align: left;
    position: relative;
    .tit{
      font-weight: 600;
      font-size: 18px;
    }
    .fa{
      position: absolute;
      left: 20px;
      top: 45px;
      width: 55px;
      height: 55px;
      line-height: 50px;
      font-size: 37px;
      color: rgb(114, 156, 168);
      border: 2px solid rgb(174, 216, 228);
      border-radius: 5px;
      text-align: center;
      &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        width: 50%;
        height: 2px;
        background-color: rgb(156, 73, 68);
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }

  }
  .slick-dots {
    padding: 0;
    list-style: none;
    bottom: -50px;
    margin: 0;
    width: 100%;
    text-align: center;
    position: absolute;
  }
}

.dovira-home{
  padding: 60px 0;
  font-size: 15px;
  i{
    color: $blueDark;
    font-size: 80px;
    display: block;
    text-align: center;
    height: 120px;
    width: 120px;
    margin: 20px auto;
    position: relative;
    border-radius: 50%;
    line-height: 120px;
    &.fa{
      &:after {
        content: "";
        position: absolute;
        border: 3px dotted $blueDark;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-transition: 1s;
        transition: 1s;
        opacity: 0;
      }
      &:hover{
        &:after {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
          opacity: 1;
        }
      }
    }

  }
  h2{
    position: relative;
    line-height: 70px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(126, 126, 126);
    &:after {
      content: "";
      width: 140px;
      display: block;
      background-color: rgb(156, 73, 68);
      height: 2px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  img{
    width: 60%;
    margin: auto;
    margin-bottom: auto;
    display: block;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .prich{
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    color: $blueDark;
    margin-top: 10px;
    text-align: center;

  }
  .title{
    background-color: $red;
    padding: 10px 15px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
  }
  .text{
    span{
      color: $blueDark;
    }
  }
}

.sunnivy-home{
  padding: 60px 0;
  font-size: 15px;
  h2{
    position: relative;
    line-height: 70px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(126, 126, 126);
    &:after {
      content: "";
      width: 140px;
      display: block;
      background-color: rgb(156, 73, 68);
      height: 2px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .title{
    background-color: rgb(174, 216, 228);
    padding: 10px 15px;

    font-size: 30px;
    text-align: left;
    border-radius: 8px;
    color: rgb(3, 70, 89);
    height: 80px;
    text-align: center;
    line-height: 34px;
    margin-top: 20px;
    position: relative;
  }
  .text{
    span{
      color: $blueDark;
    }
  }
}

.our-form{
  background-color: $red;
  color: white;
  padding: 40px 0;
  text-align: center;
  font-size: 16px;
  h2{
    font-size: 22px;
    span{
      font-size: 34px;
      font-weight: 600;
      display: block;
    }
  }
  .subtitle{
    margin-bottom: 40px;
  }
  ol{
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    li{
      display: block;
      height: 34px;
      line-height: 34px;
      font-size: 18px;
      padding-left: 50px;
      position: relative;
      &:before{
        content: "?";
        position: absolute;
        left: 10px;
        width: 24px;
        background-color: rgb(255, 255, 255);
        height: 24px;
        color: $red;
        text-align: center;
        line-height: 24px;
        border-radius: 50%;
        top: 5px;
      }
    }

  }
  .fing{
    display: block;

    padding-top: 30px;
    font-size: 20px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    &:before{
      content: "";
      background-image: url("/img/6-2-click-png-pic.png");
      background-size: cover;
      width: 100px;
      height: 100px;
      display: block;
      position: absolute;
      right: -130px;
    }
  }
  form{
    max-width: 440px;
    padding: 20px;
    float: right;
    background-color: rgba(83, 8, 3, 0.3);
    border-radius: 5px;
    width: 330px;
    input{
      display: block;
      margin-bottom: 10px;
      width: 100%;
      height: 40px;
      background-color: rgba(83, 8, 3, 0.3);
      border: none;
      line-height: 40px;
      padding: 0 0 0 20px;
      transition: 200ms;
      color: white;
      &::placeholder{
        color: white;
      }
      &:hover{
        background-color: rgba(255, 255, 255, 0.3);
        &::placeholder{
          color: rgba(83, 8, 3, 0.3);
        }
      }
    }
    button{
      background-color: transparent;
      height: 40px;
      padding: 0 30px;
      line-height: 40px;
      margin-top: 10px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      text-transform: uppercase;
      font-size: 13px;
      border-radius: 3px;
      transition: 300ms;
      &:hover{
        border: 1px solid rgba(255, 255, 255, 1);
      }
    }
  }
}

.widget-block{
  margin: 0;
  padding: 23px 40px 45px;
  border-top: 7px solid $red;
  background: rgba(197,203,207,0.1);
  margin-bottom: 40px;
  margin-top: 0;

  .title{
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    letter-spacing: 0px;
    text-align: inherit;
    color: rgb(30, 36, 40);
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 22px;
    color: $red;
    display: block;
  }
  &.widget_nav_menu{

    .blog-categiry{
      margin-bottom: 0;
      padding: 0;
      margin-left: 0;
      list-style: none;
      li{
        a{
          text-decoration: none;
          -webkit-transition: .3s;
          transition: .3s;
          color: rgb(66, 71, 76);
          padding: 5px 0;
          font-size: 18px;
          &:before {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 2px;
            margin-right: 10px;
            background-color: rgb(66, 71, 76);
          }
          &:hover{
            color: $red;
            &:before {
              background-color: $red;
            }
          }
        }
      }

    }
  }
}


.blog-post{
  padding: 40px 0;
  figure{
    &.block-img{
      height: 260px;
      background-size: cover;
      position: relative;
      padding: 20px;
      margin-bottom: 34px;
    }
  }

  h1{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.3;
    letter-spacing: 0px;
    text-align: inherit;
    color: rgb(30, 36, 40);
  }
  .post__date{
    margin-bottom: 8px;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 400;
    color: rgb(143,147,149);
    i {
      color: $red;
    }
  }
  .content{
    font: 16px/26px $fontRoboto;
    p{
      margin-bottom: 19px;
    }
    ul{
      margin-left: 10px;
    }
    a{
      color: $red;
    }
  }

  .widget-last-news{
    .post{
      .post-thumb{
        display: block;
        width: 80px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        img{
          width: 100%;
        }

      }
      .post-title{
        a {
          color: rgb(66, 71, 76);
          font-size: 16px;
          line-height: 16px;
          display: block;
          &:hover{
            color: $red;
          }
        }

      }
    }
  }

  .related-posts{
    border-top: 1px solid rgba(197,203,207,0.25);
    padding: 20px 0;
    margin: 20px 0;
    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 23px;
      line-height: 1.3;
      letter-spacing: 0px;
      text-align: inherit;
      color: rgb(30, 36, 40);
      margin-bottom: 20px;
    }
    .related-post {
      margin-bottom: 45px;
      .posts-list .post-thumbnail--grid {
        margin-bottom: 25px;
      }
      .post-thumbnail__img {
        width: 100%;
        height: auto;
      }
    }
    .entry-meta {
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 400;
      margin: 30px 0 0;
      margin-bottom: 0px;
      padding: 15px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      border-top: 1px solid rgba(197,203,207,0.25);
    }
    .post__date{
      margin-bottom: 8px;
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 400;
      color: rgb(143,147,149);
      i {
        color: $red;
      }
    }
    .post-thumbnail{
      display: block;
      height: 160px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 12px;
      position: relative;
      a{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    a {
      color: rgb(66, 71, 76);
      font-size: 16px;
      line-height: 16px;
      display: block;
      &:hover{
        color: $red;
      }
    }
  }
}

.blog-home{
  padding-top: 60px;
  padding-bottom: 60px;
  h2{
    position: relative;
    line-height: 70px;
    margin-bottom: 30px;
    text-align: center;
    color: #000;
    &:after {
      content: "";
      width: 140px;
      display: block;
      background-color: rgb(156, 73, 68);
      height: 2px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  article{
    margin: 0 6px;
    background-color: rgb(247, 247, 247);

    .entry-header {
      .post-thumb{
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 12px;
        position: relative;
        display: block;
      }
      time{
        position: absolute;
        width: 60px;
        bottom: 0;
        right: 0;
        background-color: $red;
        display: block;
        color: white;
        text-align: center;
        font-size: 16px;
        padding: 10px 0;
        span{
          display: block;
        }
      }
    }

    .entry-text{
      margin-top: 5px;
      margin-bottom: 10.5px;
      color: rgb(119, 119, 119);
      font-size: 15px;
      font-weight: 400;
      overflow: hidden;
      height: 70px;
    }
    .entry-title{
      font-size: 18px;
      overflow: hidden;
      height: 45px;

      a{
        color: #000;
        text-transform: uppercase;
        font-weight: 600;
        &:hover{
          color: $red;
        }
      }

    }

    .event-content {
      span{
        i{
          margin-right: 5px !important;
        }
        display: inline-block;margin-right: 15px !important;

      }
    }

  }


}

.video-home{
  padding-top: 100px;
  padding-bottom: 100px;

  background: -moz-linear-gradient(270deg, $blueDark 0%, $blueDark 50%, rgb(255, 255, 255) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $blueDark), color-stop(50%, $red), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(270deg, $blueDark 0%, $blueDark 50%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(270deg, $blueDark 0%, $blueDark 50%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(270deg, $blueDark 0%, $blueDark 50%, rgba(255,255,255,1) 100%);
  background: linear-gradient(180deg, $blueDark 0%, $blueDark 50%, rgb(255, 255, 255) 100%);
  h2 {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 20px;
    text-transform: capitalize !important;
    font-weight: 600;
    letter-spacing: 1px;
    &:before{
      content: "";
      position: absolute;
      display: block;
      width: 51px;
      background: white;
      height: 3px;
      top: -12px;
      left: 0;
    }
  }
  .text{
    color: rgb(255, 255, 255);
    font-size: 18px
  }
  .links{
    margin-top: 40px;
    a{
      padding: 0 20px;
      height: 42px;
      border: none;
      border-radius: 4px;
      background-color: white;
      -webkit-transition: 300ms;
      transition: 300ms;
      margin: auto;
      display: inline-block;
      color: $blueDark;
      line-height: 42px;
      font-size: 18px;
      margin-right: 15px;
      &:hover{
        color: white;
        background-color: $blueDark;
      }
    }
  }
  .video{
    iframe{
      display: block;
      height: 260px;
      width: 100%;
    }
  }
}
.contacts-home{
  background-image: url("/img/map-1.png");
  height: 600px;
  background-size: cover;
  position: relative;
  .contacts-block{
    background-color: $red;
    position: absolute;
    width: 580px;
    right: 0;
    padding: 40px 80px 40px 40px;
    top: 50%;
    color: white;
    font-size: 16px;
    transform: translateY(-50%);
    .blueberry__title {
      font-size: 14px;
      text-transform: uppercase;
      margin: 0 0 20px;
      opacity: 0.6;
      filter: alpha(opacity=60);
    }
    .blueberry__address {
      font-size: 26px;
      line-height: 40px;
      margin: 0 0 25px;
    }
    .blueberry__item {
      position: relative;
      margin: 0 0 15px;
    }

    .blueberry__list {
      margin: 0 0 20px;
      font-size: 18px;
      .blueberry__item {
        position: relative;
        margin: 0 0 15px;
        .contact-link {
          width: 90%;
          display: inline-block;
          color: rgb(255, 255, 255);
          text-decoration: none;
          font-size: 16px;
          position: relative;
          line-height: 120%;
          .contact-link__label {
            display: inline-block;
            vertical-align: middle;
            margin-right: 6px;
            width: 145px;
          }
          .contact-link__line {
            display: inline-block;
            width: 18.22916667%;
            height: 1px;
            background: rgb(255, 255, 255);
            vertical-align: middle;
            margin-right: 6px;
            opacity: 0.6;
            filter: alpha(opacity=60);
          }
          .contact-link__value {
            display: inline-block;
            vertical-align: middle;
            opacity: 0.6;
            filter: alpha(opacity=60);
          }
          .contact-link__icon {
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            padding: 2px 0;
            margin-left: 8px;

          }




        }
      }
    }
  }
  .maps{
    height: 100%;
    width: 100%;
  }
}

.product-form{
  background-color: $red;
  padding: 50px 0;
  color: white;
  .title{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 35px;
    color: white;
    text-align: center;
  }
  .text{
    font-size: 18px;
    line-height: 22px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    text-align: center;
    margin-bottom: 40px;
  }
  .form{
    * {
      transition: 500ms;
    }
    input{
      position: relative;
      width: 100%;
      height: 44px;
      line-height: 44px;
      font-size: 18px;
      float: left;
      margin: 0;
      padding: 0 9px;
      border: 0 none;
      outline: none;
      background: none;
      color: rgb(204, 204, 204);
      border-bottom: 2px solid rgba(255, 255, 255, .5);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 0;
      &::placeholder{
        color: rgb(204, 204, 204);
      }
      &:focus{
        border-bottom: 2px solid rgba(255, 255, 255, .8);
      }
    }
    button{
      position: relative;
      display: inline-block;
      cursor: pointer;
      margin: 0;
      padding: 14px 20px 15px;
      background: none;
      border: 0 none;
      outline: none;
      border-radius: 50px;
      background: RGB(239, 239, 239);
      color: rgb(0, 0, 0);
      opacity: 0.6;
      filter: alpha(opacity=60);
      font-size: 18px;
      width: 100%;
      line-height: 30px;

      &:hover {
        background: white;
        color: rgb(0, 0, 0);
        opacity: .8;
      }
    }
  }

  position: relative;
  overflow: hidden;
  &:after{
    right: -80px;
    top: 60px;
    content: "";
    position: absolute;
    background-image: url("/img/bid-doc-icon.svg");
    width: 380px;
    height: 380px;
    z-index: 0;
    opacity: 0.4;
  }
}
.main_tab_t_1{
  column-count: 1 !important;
  -webkit-column-count: 1 !important;
  margin-top: -60px !important;
  margin-bottom: -60px !important;
  margin-left: -3.20987654% !important;
  margin-right: -3.20987654% !important;
  width: calc(107%) !important;
  padding: 20px 120px 60px 120px;
  text-align: center;
  color: white;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  .main_tab_t_1_wraper{
    display: block;
    position: relative;
    z-index: 1;
    .icon{
      width: 120px;
      height: 120px;
      margin: 30px auto 60px auto;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.89);
      &:before {
        content: "";
        position: absolute;
        border: 5px dotted rgb(174, 216, 228);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-transition: 1s;
        transition: 1s;
        opacity: 1;
      }
      &:hover{
        &:before {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
    .list_info{
      max-width: 700px;
      margin: auto;
      .sub_title{
        font-size: 24px;
        margin-bottom: 30px;


      }
      .sub_text{
        font-weight: 400;
        margin-bottom: 50px;
        font-size: 18px;
        color: #000;
        ul{
          list-style: none;
          padding: 0;
          margin: 0;
        }



      }
    }
  }
  &:before{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: $blueDark;
    opacity: .8;
    content: "";
  }
}

.product-count{
  padding: 50px 0;
  position: relative;
  .title{
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(126, 126, 126);
    font-size: 22px;
    text-transform: uppercase;
    span{
      display: block;
      font-size: 32px;
    }
  }
  .count-blocs{
    text-align: center;
    color: rgb(126, 126, 126);
    font-size: 20px;
    .icon{
      color: rgb(156, 73, 68);
      font-size: 42px;
    }
    .count{
      display: block;
      color: rgb(114, 156, 168);
      font-size: 32px;
      margin: 6px 0 2px 0;
    }
    .sub_title{
      display: block;
    }
  }
}
.vue--page--checkout{
  h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 32px;
  }

}

.checkout-page{
  padding: 60px 0;
  .top-cart{
    .fa-shopping-cart{
      position: relative;
    }
    .quantity-mini-cart{
      display: block;
      position: absolute;
      line-height: 12px;
      top: 16px;
      right: -12px;
      font-size: 12px;
    }
  }
  .miniCart {

    ul{
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .page-title{
      text-align: center;
      padding-top: 20px;
      font-size: 18px;
      text-transform: uppercase;
    }
    .cart_item{
      background-color: rgb(236, 236, 236);
      padding: 5px 0 4px 10px;
      margin-bottom: 5px;
    }
    .btn-mini-cart {
      .checkout{
        background-color: rgb(156, 73, 68);
        display: block;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        &:hover{
          color: #fff;
        }
      }
      .continued{
        background-color: rgb(174, 216, 228);

        display: block;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        &:hover{
          color: #000;
        }
      }
    }

  }
.total-mini-cart{
  padding: 20px 0;
  font-size: 22px;
}
  .btn-mini-cart{
    a{
      display: block;
    }
  }
  .buyer-information{
    .tell{
      position: relative;
      span{

        &.pm{
          position: absolute;
          left: 0;
          display: block;
          width: 50px;
          line-height: 40px;
          height: 40px;
          font-size: 28px;
          color: rgb(204, 204, 204);
        }
        &.error {
          position: absolute;
          bottom: -20px;
          right: 0;
          color: rgb(255, 0, 0);
          font-size: 12px;
          width: 100%;
          text-align: center;
        }
      }
      input{
        position: relative;
        width: 100%;
        height: 44px;
        line-height: 44px;
        font-size: 26px;
        float: left;
        margin: 0;
        border: 0 none;;
        outline: none;
        background: none;
        color: rgb(204, 204, 204);
        border-bottom: 2px solid rgb(204, 204, 204);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
      }
    }
    .datas{
      margin-bottom: 40px;
      input{
        position: relative;
        width: 100%;
        height: 44px;
        line-height: 44px;
        font-size: 26px;
        float: left;
        margin: 0;
        border: 0 none;;
        outline: none;
        background: none;
        color: rgb(204, 204, 204);
        border-bottom: 2px solid rgb(204, 204, 204);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
      }
    }
    .btnsend{
      button{
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 14px 20px 15px;
        background: none;
        border: 0 none;
        outline: none;
        color: rgb(0, 0, 0);
        border-radius: 0;
        cursor: pointer;
        background: rgb(204, 204, 204);
        opacity: 0.6;
        filter: alpha(opacity=60);
        -webkit-transition: 500ms;
        transition: 500ms;
        text-transform: uppercase;
        width: 100%;
        &.active{
          opacity: .9;
          background: rgb(156, 73, 68);
          color: white;
          &:hover{

            opacity: 1;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
          }
        }

      }
    }
    .ok{
      margin-top: 40px;
      background-color: green;
      color: white;
      text-align: center;
      font-size: 22px;
      padding: 10px;
    }
  }
}
#doctors{
  padding: 60px 0;
  font-size: 16px;
  h2{
    position: relative;
    line-height: 70px;
    margin-bottom: 20px;
    &:after {
      content: "";
      width: 140px;
      display: block;
      background-color: #9c4944;
      height: 2px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .item{
    position: relative;
    overflow: hidden;
    padding: 0 10px;
    border-bottom: 2px solid #9c4944;
    min-height: 300px;
  }
  .border-bottom-theme-color-2px {

  }
  .img-fullwidth {
    max-width: 100%;
    width: 100%;
  }
  .owl-carousel .owl-item img {
    display: inline-block;
    -webkit-transform-style: preserve-3d;
  }
  .owl-carousel .owl-item img {
    transform-style: preserve-3d;
  }

  .slick-slider{
    margin-top: 20px;
  }
  .team-details {
    bottom: -32px;
    position: absolute;
    transition: all 300ms ease-in-out 0s;
    width: 100%;
    background-color: #F7F8FA;
    h4{ margin: 0; }
    h4{
      margin: 5px;
      font-weight: 600;
      font-size: 18px;
      a{
        color: #7e7e7e;
      }
    }
    .text-theme-colored {
      color: #aed8e4;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 5px;
    }
    .styled-icons li {
      display: inline-block;
      margin-bottom: 0;
      margin-top: 0;
    }
    .styled-icons.icon-sm a {
      font-size: 13px;
      height: 25px;
      line-height: 25px;
      margin: 2px 7px 2px 0;
      width: 25px;
      display: inline-block;
    }
    .icon-theme-colored.icon-dark a {
      background-color: #00a3c8;
      color: #fff;
      border-radius: 50%;
    }


  }

  .item:hover .team-details {
    bottom: 0;
    .icon-theme-colored.icon-dark a {
      background-color: #9c4944;
    }
    .text-theme-colored{
      color: #9c4944;;
    }
    .doctor{

      a{
        color: #7e7e7e;
      }
    }
  }

  .slick-slide{
    padding: 0 10px;
  }

  .nav-link{
    color: #7e7e7e;
  }


  .slick-dots{
    padding: 0;
    list-style: none;
    bottom: 20px;
    margin: 0;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    li{
      display: inline-block;
      margin: 0 10px;
      button{
        border: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        padding: 0;
        background: rgb(114, 156, 168);
        color: transparent;
        -webkit-transition: 300ms;
        transition: 300ms;
      }
      &.slick-active{
        button{
          background-color: rgb(156, 73, 68);
        }
      }
    }
  }
}

// responsive

@import "responsive";
