<template>

    <div class="page-site prices-page">

        <div v-if="slug" class="container-fluid header_price_select">
            <div class="container">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="price_select_info">
                            <ul class="breadcrumbs">
                                <li>
                                    <router-link class="nav-link" :to="{ path: '/prices' }">
                                        <span class="fa fa-chevron-left" aria-hidden="true">Всі категорії</span>
                                    </router-link>
                                </li>
                            </ul>
                            <h1> {{ mTitle}} </h1>
                            <div class="row justify-content-md-center">
                                <div class="col-md-10 inform">
                                    <div class="disc" v-html="curentCat.description "></div>
                                </div>
                                <div class="col-md-10">

                                    <transition name="slide-fade">
                                        <div class="top-panel-price">
                                            <div class="row justify-content-md-center">
                                                <div v-for="(subC, index) in subCat"
                                                     class="col-md-4"
                                                     v-bind:class="(subC.id == selectSubCat) ? 'activ': ''">
                                                    <router-link class="nav-link"
                                                                 :to="{ path: '/prices/' + subC.slug }">
                                                        <span>{{ subC.name }}</span>
                                                        <!--<i>{{ subC.count_all }}</i>-->
                                                    </router-link>
                                                </div>
                                            </div>
                                        </div>
                                    </transition>

                                </div>
                            </div>


                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div v-else class="container-fluid header_price">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <!--                 <div class="col-md-6">
                                                 <h1>11</h1>
                                             </div>-->

                        </div>
                    </div>
                    <div class="col-md-12 price-cat">
                        <h1><span>ПОСЛУГИ ТА ЦІНИ</span></h1>
                        <div class="row">
                            <!--                            <div @click="getListToCat(0, 0)"
                                                             v-bind:class="(selectCat == 0) ? 'activ': ''"
                                                             class="col-md-6">

                                                            <router-link class="nav-link" :to="{ path: '/prices' }">
                                                                <span>Всі категорії</span>
                                                            </router-link>
                                                        </div>-->
                            <div v-if="((CatPrices.length > 0) && cat.img)" v-for="(cat, idC) in CatPrices"
                                 v-model="CatPrices"

                                 v-bind:class="(cat.id == selectCat) ? 'activ': ''"
                                 class="col-md-3 cat-name">
                                <router-link class="nav-link" :to="{ path: '/prices/' + cat.slug }">
                                    <div class="icon"><img :src="cat.img" alt=""></div>
                                    <span>{{ cat.name }}</span>
                                    <!--<i>{{ cat.count_all }}</i>-->
                                </router-link>
                            </div>

                        </div>

                    </div>


                </div>


            </div>
        </div>
        <div class="container">
            <div class="row price_table">

                <div class="col-md-12 col-md-offset-2">
                    <div class="search-form">
                        <input v-model="search"
                               placeholder='Пошук послуги - наприклад "УЗД"'
                               v-bind:class="[(searchText !='') ? 'searchTextYes' : '']">
                        <transition name="slide-fade">
                            <span v-model="searchText" class="searchText"
                                  v-if="searchText != ''">{{ searchText }}</span>
                        </transition>
                        <transition name="slide-fade">
                            <span class="fa fa-times searchTextClear" v-if="search != ''"
                                  @click="search=''; searchText=''"></span>
                        </transition>

                    </div>
                </div>


                <div class="col-md-12">
                    <transition name="slide-fade">
                        <div class="row" v-if="list.length > 0">
                            <div class="col-md-6" v-for="(price, index) in list">
                                <div class="price-box">
                                    <div class="row">
                                        <div class="col-md-7 price-name">
                                            <p class="title">
                                                <router-link class="nav-link" :to="{ path: '/price/' + price.slug }">
                                                    <span>{{ price.title.rendered }}</span>
                                                </router-link>
                                            </p>
                                            <p class="subtitle" style="font-size: 9px"> {{ price.cat }}</p>
                                        </div>
                                        <div class="col-md-2 priceANDtermin">
                                            <p class="price" v-if="price.price > 0"> {{ price.price }} грн</p>
                                            <p class="price" v-else><span style="color: green"> free </span></p>
                                            <p class="termin" v-if="price.termin > 0">{{ price.termin }} {{
                                                (price.termin == 1) ? 'день' : 'днів' }}</p>
                                        </div>
                                        <div class="col col-md-1 info-content">
                                            <i class="fa fa-info-circle" aria-hidden="true"
                                               @click="selectInfoF(index)"></i>

                                        </div>
                                        <div class="col col-md-2 cart">
                                            <label class="switcher">
                                                <input type="checkbox"
                                                       @change="addToCart(price)"
                                                       :checked="isCart(price.id) ? 'checked' : ''"
                                                />
                                                <div class="switcher__indicator"></div>
                                                <span data-on="В кошику" data-off="В кошик"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" v-else>
                            <div class="price-list empty">
                                <p class="title">Порожньо</p>
                            </div>
                        </div>
                    </transition>

                    <div class="paginPrice" v-if="total > 1">
                            <span class="arrow arrow-ser-left" v-on:click="getPrevPage"
                                  v-bind:class="(page == 1) ? 'arrow-disab': ''">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </span>
                        Сторінка {{ page }} з {{ total }}
                        <span class="arrow arrow-ser-right" v-on:click="getNextPage"
                              v-bind:class="(page == total) ? 'arrow-disab': ''">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </span>

                    </div>

                </div>
            </div>
        </div>


        <div v-if="curentCat.id == 35">

            <section class="product-product">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="titleT">Як ми лікуємо варикоз</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="wrapper b1">
                                <div class="title">Склеротерапія під контролем veinvisor</div>
                                <div class="text">
                                    <router-link class="link" :to="{ path: '/post/' + 'skleroterapiya' }">
                                        детальніше
                                    </router-link>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wrapper b2">
                                <div class="title">Мініфлебектомія</div>
                                <div class="text">
                                    <router-link class="link" :to="{ path: '/post/' + 'miniflebektomiya' }">
                                        детальніше
                                    </router-link>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wrapper b3">
                                <div class="title">Лікування лазером</div>
                                <div class="text">
                                    <router-link class="link" :to="{ path: '/post/' + 'likuvannya-varikozu-lazerom' }">
                                        детальніше
                                    </router-link>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </section>


            <div class="container">
                <section id="p-УЗД" aria-labelledby="t-УЗД" role="tabpanel" class="main_tab_t_1 tab-container"
                         style="background-image: url('/wp-content/uploads/2017/09/brystkraeft_3-e1518262434106.jpg');">
                    <div class="main_tab_t_1_wraper">
                        <div class="icon"
                             style="background-image: url('/wp-content/uploads/2018/01/ultrazvukove-doslidzhennya.png');"></div>
                        <div class="list_info">
                            <div class="sub_title">
                                Ендовенозная лазерна коагуляція (ЕВЛК)
                            </div>
                            <div class="sub_text" style="color: black">

                                інноваційний метод лікування варикозного розширення вен. Дана операція відноситься до
                                судинної хірургії. Виконується вона за допомогою лазера і дозволяє видалити уражені вени
                                без шрамів і рубців. Процедура ЕВЛК - це високий рівень комфорту для пацієнта як під час
                                операції, так і в відновлювальний період. Що важливо для жителя мегаполісу, ви практично
                                не випадаєте з соціального життя і своїх трудових буднів, на відміну, від реабілітації
                                після флебектоміі.
                            </div>
                        </div>
                        <div class="list_info">
                            <div class="sub_title">
                                Переваги методу
                            </div>
                            <div class="sub_text">
                                <p>Процедура ЕВЛК характеризується рядом незаперечних переваг:</p>
                                <ul>
                                    <li>Лікування проходить амбулаторно, немає потреби лягати в лікарню.</li>
                                    <li>Оперативність методу - процедура триватиме близько 30 хвилин.</li>
                                    <li>Вже на наступний день після ЕВЛК можна виходити на роботу і займатися своїми
                                        повсякденними справами. Реабілітаційний період становить 5-7 днів.
                                    </li>
                                    <li>Внаслідок низької травматичності процедури можна проводити лікування одночасно
                                        на обох ногах.
                                    </li>
                                    <li>На місці впливу лазера не залишається ніяких шрамів і рубців, лише ледве помітні
                                        проколи в один-два міліметри.
                                    </li>
                                    <li>Безболісність під час процедури (застосовується місцева анестезія) і після неї
                                        (відсутній больовий синдром).
                                    </li>
                                    <li>Завдяки ЕВЛК швидше загоюються трофічні виразки.</li>


                                </ul>

                            </div>
                        </div>

                        <div class="list_info">
                            <div class="sub_title">
                                Ендовенозную лазерну коагуляцію призначають при лікуванні варикозу вен на ногах.
                                Операція буде ефективна при наступних симптомах:
                            </div>
                            <div class="sub_text">

                                <p>Процедура ЕВЛК характеризується рядом незаперечних переваг:</p>
                                <ul>
                                    <li>Трофічні розлади в області гомілки.</li>
                                    <li>Прямий хід патологічно змінених стовбурових вен.</li>
                                    <li>Варикозне розширення приток вен в невеликій кількості.</li>


                                </ul>


                            </div>
                        </div>
                        <div class="list_info">
                            <div class="sub_title">
                                Протипоказання
                            </div>
                            <div class="sub_text">

                                <p>Процедуру ЕВЛК не призначають в наступних випадках:</p>
                                <ul>
                                    <li>Шкірні захворювання в області проколів</li>
                                    <li>Тромбофлебіт і перенесені раніше тромбози.</li>
                                    <li>Деякі види вад серця.</li>
                                    <li>Атеросклероз артерій ніг.</li>
                                    <li>Вагітність і період лактації.</li>


                                </ul>

                            </div>
                        </div>
                        <div class="list_info">
                            <div class="sub_title">

                            </div>
                            <div class="sub_text">
                                Це сучасно і зручно, тому що через 1 день після лікування Ви повернетесь до звичного
                                життя.
                            </div>
                        </div>

                        <div class="list_info">
                            <div class="sub_title">
                                Порівняння Флебектомія і ЕВЛК
                            </div>
                            <div class="sub_text">
                                <table class="table table-striped" cellspacing="0" cellpadding="0" style="text-align: left">
                                    <tbody>
                                    <tr>
                                        <th>параметр</th>
                                        <th>флебектомія</th>
                                        <th>ЕВЛК</th>
                                    </tr>
                                    <tr>
                                        <td>анастезія</td>
                                        <td>Провідникова, спінальна, внутрішньовенна або ендотрахеальний наркоз</td>
                                        <td>Місцева (тумесцентная) анестезія</td>
                                    </tr>
                                    <tr>
                                        <td>Розрізи на шкірі</td>
                                        <td>Обов'язково, як мінімум у верхній третині стегна і у внутрішньої кісточки
                                        </td>
                                        <td>Ні, проколи шкіри 1-3 мм довжиною</td>
                                    </tr>
                                    <tr>
                                        <td>гематоми</td>
                                        <td>завжди</td>
                                        <td>Дуже рідко</td>
                                    </tr>
                                    <tr>
                                        <td>Знеболення після операції</td>
                                        <td>Завжди, як мінімум 3-4 дні</td>
                                        <td>Рідко, максимум 1 день</td>
                                    </tr>
                                    <tr>
                                        <td>Можна ходити відразу після операції</td>
                                        <td>немає</td>
                                        <td>Так</td>
                                    </tr>
                                    <tr>
                                        <td>Знаходження в стаціонарі</td>
                                        <td>Завжди, мінімум 1-2 дня</td>
                                        <td>немає</td>
                                    </tr>
                                    <tr>
                                        <td>тривалість реабілітації</td>
                                        <td>3-4 тижні</td>
                                        <td>5-7 днів</td>
                                    </tr>
                                    <tr>
                                        <td>рубці</td>
                                        <td>Завжди, на все життя</td>
                                        <td>Сліди від проколів шкіри практично непомітні</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>


                        </div>


                        <div class="list_info">
                            <div class="sub_title">
                                Ендовенозную лазерну коагуляцію призначають при лікуванні варикозу вен на ногах.
                                Операція буде ефективна при наступних симптомах:
                            </div>
                            <div class="sub_text">

                                <p>Процедура ЕВЛК характеризується рядом незаперечних переваг:</p>
                                <ul>
                                    <li>Трофічні розлади в області гомілки.</li>
                                    <li>Прямий хід патологічно змінених стовбурових вен.</li>
                                    <li>Варикозне розширення приток вен в невеликій кількості.</li>
                                </ul>
                            </div>
                        </div>



                        <div class="list_info">
                            <div class="sub_title">
                                Як проходить ЕВЛК
                            </div>
                            <div class="sub_text">
                                Перед операцією ЕВЛК хірург визначає уражену ділянку вени і кількість енергії, яке знадобитися для лазерної коагуляції. Потім під контролем ультразвуку проколюється вена і вводиться лазерний світловод до місця її впадіння у венозну систему. Після цього робиться місцеве знеболення. При ЕВЛК застосовується саме тумесцентная анестезія, яка дозволяє знеболити тільки уражену вену. Також ця методика захищає сусідні тканини від впливу лазера і виштовхує кров при зменшенні вени. Далі хірург перевіряє розташування світловода і приступає до коагуляції. Бічні вени, уражені варикозом, видаляються за допомогою гачків Вараді через проколи. Після всіх маніпуляцій проколи заклеюють спеціальними пластирами і надягають компресійну білизну. Вся операція триватиме приблизно півгодини.
                            </div>
                        </div>


                        <div class="list_info">
                            <div class="sub_title">
                                Відновлення
                            </div>
                            <div class="sub_text">
                                <p>Відразу після операції ЕВЛК потрібно трохи відпочити. Лише через півгодини можна залишити медичний центр і повернутися до своїх справ. Також варто врахувати ряд рекомендацій для більш швидкого відновлення:</p>
                                <ul>
                                    <li>У перші п'ять днів слід цілодобово носити компресійну білизну. У наступні півтора-два місяці - тільки вдень.</li>
                                    <li>Відмовтеся на кілька днів від фітнесу, а саме від активних кардіо тренувань і занять на велотренажері. Рекомендуються щоденні піші прогулянки, краще, якщо ходьба буде займати не менше години.</li>
                                    <li>Уникайте тривалого перебування в одній позі (сидіння або стояння).</li>
                                    <li>На пару тижнів відмовтеся від гарячих ванн, а ось відвідувати парну не рекомендується протягом двох місяців.</li>
                                </ul>
                            </div>
                        </div>


                        <div class="list_info">
                            <div class="sub_title">
                                Побічні реакції
                            </div>
                            <div class="sub_text">
                                <p>Операція ЕВЛК є абсолютно безпечною. Нездужання з'являються вкрай рідко і носять тимчасовий характер. Не слід панікувати, однак повідомити лікаря про симптоми буде не зайвим. Після лазерної коагуляції можуть проявитися такі недуги:</p>
                                <ul>
                                    <li>Больовий синдром протягом декількох днів (можливо, ви невдало підібрали компресійну білизну).</li>
                                    <li>Синці в області уражених вен.</li>
                                    <li>Короткочасне підвищення температури.</li>
                                    <li>Дискомфорт в області ніг: відчуття натягу (нечасте явище, проходить без лікування).</li>
                                    <li>Тромбофлебіт (може з'явитися через тиждень після процедури через нестачу тепла).</li>
                                    <li>Тромбоз глибоких вен (вкрай рідкісне явище).</li>


                                </ul>
                            </div>
                        </div>



                    </div>


                </section>

            </div>


            <section class="product-fgdfh">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="titleT">Чому ми кращі!</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="wrapper">
                                <div class="icon">
                                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                </div>
                                <div class="title">Передове оснащення</div>
                                <div class="text">
                                    Ми використовуємо тільки оригінальне європейське
                                    оснащення та розхідні матеріали (Німеччина, США)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wrapper">
                                <div class="icon">
                                    <i class="fa fa-user-md" aria-hidden="true"></i>
                                </div>
                                <div class="title">Відповідність стандартам якості</div>
                                <div class="text">
                                    Наш орієнтир - стандарти провідних флебологічних
                                    центрів світу. Ми перейняли усе найкраще
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wrapper">
                                <div class="icon">
                                    <i class="fa fa-hospital-o" aria-hidden="true"></i>
                                </div>
                                <div class="title">Досвідчені лікарі</div>
                                <div class="text">
                                    Знання і практичні навики отриманні в кращих клініках
                                    світу (Італія, австралія, Німеччина, Латвія). Все це доступне Вам.
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </section>
            <app-kl></app-kl>
            <section class="product-count">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">Наші результати
                                <span>Нам є чим пишатись</span>
                            </div>
                        </div>
                    </div>
                    <div class="row count-blocs">
                        <div class="col-md-3">
                            <div class="icon"><i class="fa fa-smile-o" aria-hidden="true"></i></div>
                            <div class="count">30 000</div>
                            <div class="sub_title">Постійних клієнтів</div>
                        </div>
                        <div class="col-md-3">
                            <div class="icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
                            <div class="count">50</div>
                            <div class="sub_title">Персоналу</div>
                        </div>
                        <div class="col-md-3">
                            <div class="icon"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                            <div class="count">200</div>
                            <div class="sub_title">Партнерів</div>
                        </div>
                        <div class="col-md-3">
                            <div class="icon"><i class="fa fa-bolt" aria-hidden="true"></i></div>
                            <div class="count">300</div>
                            <div class="sub_title">Проведено операцій</div>
                        </div>
                    </div>
                </div>
            </section>


        </div>


        <app-our-form :title="mTitle"></app-our-form>

    </div>


</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        props: ['slug'],

        data() {
            return {
                CatPrices: [],
                subCat: [],
                list: [],
                search: '',
                searchText: '',
                selectCat: 0,
                selectSubCat: 0,
                curentCat: {},
                total: 0,
                totalPrice: 0,
                page: 1,
                selectInfo: false,

                mTitle: 'Послуги та ціни',
                totalPriceCart: 0,
                cartShow: false,

                backfon: false,
                checkoutShow: false,

                name: '',
                phone: '',
                mail: '',
                successOk: false,
                error: {
                    name: false,
                    phone: false,
                }
            }
        },
        mounted: function () {

            if (this.slug) this.getInfoCurentCat();
            else {
                this.getCatPrices();
                this.getList();
            }


            // this.getSubCatPrices();


        },


        methods: {
            ...mapActions([
                'addToCart',
            ]),
            isCart(id) {
                return (this.cartProducts) ? this.cartProducts.find(p => p.id === id) : false
            },
            getCatPrices: function () {
                axios.get('/wp-json/wp/v2/prices?parent=0&per_page=30&orderby=id')
                    .then(response => {
                        this.CatPrices = response.data;

                        if (this.slug) {

                            this.CatPrices.forEach((val) => {
                                if (this.slug === val.slug) {
                                    this.getListToCat(val.id)
                                    return true;
                                }
                            });
                        }

                    })
                    .catch(e => {
                        console.log(e);
                    })

            },
            getListToCat: function (id, sub) {
                this.searchText = "";
                this.search = "";
                this.selectCat = id;
                this.selectSubCat = sub;
                this.page = 1;
                if (sub == 0) {
                    this.subCat = [];
                }
                this.list = [];
                this.getSubCatPrices();
                this.getList();
            },

            getSubCatPrices: function () {
                this.subCat = [];
                axios.get('/wp-json/wp/v2/prices?parent='
                    + ((this.curentCat.parent) ? this.curentCat.parent : this.curentCat.id) +
                    '&per_page=50&orderby=id&orderby=term_order')
                    .then(response => {
                        this.subCat = response.data;

                    })
                    .catch(e => {
                        console.log(e);
                    });


            },

            getInfoCurentCat: function () {
                axios.get('/wp-json/wp/v2/prices?slug=' + this.slug)
                    .then(response => {
                        this.curentCat = response.data[0];
                        this.getSubCatPrices();
                        this.getList();

                    })
                    .catch(e => {
                        console.log(e);
                    });


            },

            getList: function () {
                this.list = [];
                var url = '/wp-json/wp/v2/price?per_page=16&page=' + this.page;
                /*                if ( this.selectSubCat ) {
                                    url += '&prices=' + this.selectSubCat;
                                    this.$store.commit( 'rtChangeTitle', this.subCat[this.selectSubCat].name );
                                }
                                else */

                if (this.slug) {
                    url += '&prices=' + this.curentCat.id;
                }


                if (this.search.length > 2) {
                    url += '&search=' + this.search;
                }

                axios.get(url)
                    .then(response => {
                        this.list = response.data;
                        var allPostX = '';
                        if (typeof response.headers['x-wp-totalpages'] == 'undefined') allPostX = response.headers['X-WP-TotalPages'];
                        else allPostX = response.headers['x-wp-totalpages'];
                        this.total = parseInt(allPostX);
                        allPostX = '';
                        if (typeof response.headers['x-wp-total'] == 'undefined') allPostX = response.headers['X-WP-Total'];
                        else allPostX = response.headers['x-wp-total'];
                        this.totalPrice = parseInt(allPostX);
                        if (this.search.length > 2) {
                            this.searchText = this.totalPrice;
                        }
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },

            getNextPage: function () {
                if (this.page < this.total) {
                    this.page++;
                    this.getList();
                    $('html, body').animate({scrollTop: 0}, 600);
                } else this.page = this.total;
            },
            getPrevPage: function () {
                if (this.page > 1) {
                    this.page--;
                    this.getList();
                    $('html, body').animate({scrollTop: 0}, 600);
                } else this.page = 1;

            },


        },

        watch: {
            curentCat() {
                if (this.curentCat) {
                    this.$store.commit('rtChangeTitle', this.curentCat.name);
                    this.mTitle = this.curentCat.name;
                } else {
                    this.$store.commit('rtChangeTitle', 'Послуги та ціни');
                    this.mTitle = 'Послуги та ціни';
                }
            },
            search: function () {
                if (this.search.length > 2) {
                    this.selectCat = 0;
                    this.selectSubCat = 0;
                    this.getList();
                    $('html, body').animate({scrollTop: ($(".price_table").offset().top) - 80}, 600);
                } else {
                    if (this.searchText !== '') this.getList();
                    this.searchText = "";
                    this.getList();
                }
            },
            slug: function () {
                if (this.slug) this.getInfoCurentCat();
                else {
                    this.getCatPrices();
                    this.getList();
                }
            }

        },
        computed: {
            ...mapGetters({
                cartProducts: 'cartProducts',
                getNumberOfProducts: 'getNumberOfProducts',
            }),

        },
    }
</script>

<style lang="scss">
    .prices-page {
        .product-fgdfh {
            margin-bottom: 40px;
            .titleT {
                position: relative;
                margin-bottom: 30px;
                text-align: center;
                color: rgb(126, 126, 126);
                font-size: 22px;
                text-transform: uppercase;
            }
            .col-md-4 {
                margin-bottom: 10px;
            }
            .wrapper {
                background-color: rgb(230, 230, 230);
                text-align: center;
                padding: 20px 60px;
                height: 100%;
                border-radius: 18px;
                font-size: 17px;
                line-height: 22px;
                .icon {
                    font-size: 60px;
                    color: rgb(156, 73, 68);
                    margin-bottom: 16px;
                }
                .title {
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                .text {

                }
            }
        }
        .product-product {
            margin-bottom: 40px;
            .titleT {
                position: relative;
                margin-bottom: 30px;
                text-align: center;
                color: rgb(126, 126, 126);
                font-size: 22px;
                text-transform: uppercase;
            }

            .col-md-4 {
                margin-bottom: 10px;
            }
            .wrapper {
                background-color: rgb(230, 230, 230);
                text-align: center;
                padding: 20px 20px 20px 100px;
                height: 100%;
                border-radius: 14px;
                font-size: 17px;
                line-height: 22px;
                position: relative;
                overflow: hidden;
                .title {
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                .text {

                }
                .link {
                    font-size: 13px;
                    text-transform: uppercase;
                    color: rgb(156, 73, 68);
                }
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100px;
                    height: 100%;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    background-image: url("/img/laz-k-vpng.png");
                    background-size: cover;
                }

                &.b1 {
                    &:before {
                        background-image: url("/img/fdfsdfsdfsd.png");
                    }
                }
                &.b2 {
                    &:before {
                        background-image: url("/img/laz-k-vpng.png");
                    }
                }
                &.b3 {
                    &:before {
                        background-image: url("/img/3334443434.png");
                    }
                }
            }
        }

        .main_tab_t_1 {
            width: 100% !important;
            margin: 40px 0 !important;
        }
    }


</style>
