<template>

    <div class="page-site complex-page">

       <div class="complex" v-for="c in complex" v-bind:style="{ backgroundImage: 'url(' + c.images.medium +' )' }">
           <div class="container">
               <div class="row ">
                   <div class="col-md-12">
                       <div class="text">
                           <h2 v-html="c.title.rendered"></h2>
                           <div class="cont" v-html="c.excerpt.rendered"></div>
                           <router-link class="link" :to="{ path: '/complex/' + c.slug }">
                               Комплексні програми
                           </router-link>
                       </div>
                   </div>
               </div>
           </div>

       </div>

    </div>


</template>

<script>

    export default {
        props: ['complexSlug'],
        data() {
            return {
                complex       : [],
                selectComplex: {}
            }
        },
        mounted: function () {
            this.getComolex();
        },


        methods: {
            getComolex: function () {
                let url = '/wp-json/wp/v2/complex?per_page=30&orderby=id';
                axios.get(url)
                    .then(response => {
                        this.complex = response.data;
                    })
                    .catch(e => {
                        console.log(e);
                    })

            },






        },

        watch: {

            search: function () {
                this.getDoctors();
            },


        },

    }
</script>


<style lang="scss">
    .complex-page{
        .complex{
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 100px 0;
            position: relative;

            .text{
                position: relative;
                z-index: 2;
                color: white;
                h2{
                    font-size: 32px;
                }
                .cont{
                    font-size: 18px;
                    margin-top: 30px;
                }
                .link{
                    position: relative;
                    display: inline-block;
                    margin: 0;
                    padding: 14px 20px 15px;
                    background: none;
                    border: 0 none;
                    outline: none;
                    color: rgb(0, 0, 0);
                    border-radius: 0;
                    cursor: pointer;
                    background: rgb(204, 204, 204);
                    opacity: 0.6;
                    filter: alpha(opacity=60);
                    -webkit-transition: 500ms;
                    transition: 500ms;
                    text-transform: uppercase;
                    &:hover{
                        opacity: .9;
                        background: rgb(156, 73, 68);
                        color: rgb(255, 255, 255);
                    }
                }
            }
            &:after{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(39, 39, 39, 0.8);
                position: absolute;
                z-index: 1;
                content: "";
            }
        }
    }
</style>