<template>
    <div class="page-site doctor-select-page">
        <div v-if="info" class="container-fluid header_doctor_select">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="doctordetail-preview">
                            <img :src="info.images.large" alt="">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="doctordetail-name">
                            <h1>{{info.title.rendered}}</h1>
                        </div>
                        <div class="doctordetail-position">
                            <span v-if="specializations" v-for="(specialization, index) in specializationList">
                                {{specialization.name}}
                            </span>
                        </div>
                        <div class="doctordetail-experience">
                            Стаж роботи: {{info.practik}} роки
                        </div>
                        <div class="doctordetail-desc" v-html="info.content.rendered"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container doc_tabs_info">
            <vue-tabs>
                <transition name="slide-fade">
                    <v-tab title="Послуги" >
                        <div class="row">
                            <ul>
                                <li class="col-md-4 price-link" v-for="(price, index) in prices">
                                    <router-link class="nav-link" :to="{ path: '/price/' + price.slug }" >
                                        {{ price.title.rendered }}
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </v-tab>
                </transition>
                <transition name="slide-fade">
                    <v-tab title="Навчання" >
                        <section class="timeline">
                            <ul>
                                <li v-for="(teaching, index) in info.teaching">
                                    <div class="content">
                                        <h2>
                                            <time>{{ teaching.term }}</time>
                                        </h2>
                                        <p v-html="teaching.title"></p>
                                    </div>
                                </li>
                            </ul>
                        </section>

                    </v-tab>
                </transition>
                <transition name="slide-fade">
                    <v-tab title="Досвід роботи">
                        <section class="timeline">
                            <ul>
                                <li v-for="(experience, index) in info.experience">
                                    <div class="content">
                                        <h2>
                                            <time>{{ experience.term }}</time>
                                        </h2>
                                        <p v-html="experience.title"></p>
                                    </div>
                                </li>
                            </ul>
                        </section>
                    </v-tab>
                </transition>
            </vue-tabs>
        </div>
    </div>
</template>

<script>
    import {VueTabs, VTab} from 'vue-nav-tabs'
    export default {
        props: ['doctorSlug'],
        data() {
            return {
                info                  : false,
                specializations       : false,
                prices: false
            }
        },
        components: {
            VueTabs,
            VTab
        },
        mounted: function () {
            this.doctorInfo();
            this.getDoctors();


            $('.timeline .content').each( function(i){

                var bottom_of_object= $(this).offset().top + $(this).outerHeight();
                var bottom_of_window = $(window).height();

                if( bottom_of_object > bottom_of_window){
                    $(this).addClass('hidden');
                }
            });


            $(window).scroll( function(){
                /* Check the location of each element hidden */
                $('.hidden').each( function(i){

                    var bottom_of_object = $(this).offset().top + $(this).outerHeight();
                    var bottom_of_window = $(window).scrollTop() + $(window).height();

                    /* If the object is completely visible in the window, fadeIn it */
                    if( bottom_of_window > bottom_of_object ){
                        $(this).animate({'opacity':'1'},700);
                    }
                });
            });
        },
        methods: {
            doctorInfo: function() {
                let url = '/wp-json/wp/v2/doctor?slug=' + this.doctorSlug;
                axios.get(url)
                    .then(response => {
                        this.info = response.data[0];
                        this.prices = [];
                        response.data[0].prices.forEach((val)=>{
                            this.getList(val);
                        });
                    })
                    .catch(e => {
                        console.log(e);
                    })
            },
            getDoctors: function () {
                let url = '/wp-json/wp/v2/specialization?per_page=30&orderby=id';
                axios.get(url)
                    .then(response => {
                        this.specializations = response.data;
                    })
                    .catch(e => {
                        console.log(e);
                    })

            },

            getList: function (id) {
                var url = '/wp-json/wp/v2/price?per_page=30';
                if(id) {
                    url += '&prices=' + id;
                }

                axios.get(url)
                    .then(response => {
                        response.data.forEach( (val)=> {
                            this.prices.push(val)
                        })
                    })
                    .catch(e => {
                        console.log(e);
                    });
            }

        },
        computed: {
            specializationList(){
                const ar = [];
                if (this.specializations)
                this.info.specialization.forEach( (s) => {
                    this.specializations.forEach((ss)=>{
                        if ( ss.id == s ) ar.push(ss);
                    });
                });
                

                return ar;
            }
        }


    }
</script>


<style lang="scss">

   .header_doctor_select {
        position: relative;
        padding: 50px 0;
       background-color: #f4f9ff;
       .doctordetail-name{
           h1{
               font-size: 28px;
               margin: 0 0 14px;
               line-height: 130%;
               color: #7e7e7e;
           }
       }
       .doctordetail-position{
           margin: 0;
           opacity: 0.25;
           filter: alpha(opacity=25);
           font-size: 16px;
       }
       .doctordetail-experience{
           margin: 0;
           opacity: 0.25;
           filter: alpha(opacity=25);
           font-size: 16px;
       }
       .doctordetail-desc{
           padding: 30px 0;
           line-height: 150%;
           white-space: pre-wrap;
           font-size: 16px;
           color: #595959;
       }
    }
    .doc_tabs_info{
        .tabs__link {
            position: relative;
            display: inline-block;
            vertical-align: top;
            float: none;
            .title {
                display: block;
                position: relative;
                padding: 16px 20px;
                cursor: pointer;
                text-transform: uppercase;
                color: #7e7e7e;
                transition: 300ms;
                &:hover{
                    color: #9c4944;
                }
            }
        }

        ul{
            margin: 0;
            display: block;
            text-align: center;
            li{
                float: none;
                display: inline-block;
                &.active{
                    .tabs__link {
                        .title {
                            color: #9c4944;
                        }
                    }
                }
            }
        }


        .tab-container{
            padding: 60px 30px;
            ul{
                padding: 0;
                text-align: left;
            }
            .price-link{
                font-size: 16px;
                display: inline-block;
                vertical-align: top;
                margin: 0 0 25px;
                a{
                    padding: 0;
                    display: block;
                    text-decoration: none;
                    position: relative;
                    width: 100%;
                    color: #7e7e7e;
                    transition: 300ms;
                    &:hover{
                        color: #9c4944;
                    }
                }
            }
        }
    }


   $title-background: #3d9e67;
   $background-color: #faf8eb;
   $content-background-color: #7e7e7e;
   $content-background-gradient: #9c4944;
   $time-color: #fff;
   $text-color: #fff;
   $content-width: 450px;



   .timeline{
       color: $text-color;

       h1,
       ul li .content h2{
           text-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5);
       }

       h1{
           background: $title-background;
           padding: 70px 0;
           font-size: 2.5em;
           text-align: center;
       }

       ul{

           padding: 50px 0;

           li{
               background: $content-background-color;
               position: relative;
               margin: 0 auto;
               width: 5px;
               padding-bottom: 40px;
               list-style-type: none;
               display: block;
               &:last-child{
                   padding-bottom: 7px;
               }

               &:before{
                   content: '';
                   background: $background-color;
                   position: absolute;
                   left: 50%;
                   top: 0;
                   transform: translateX(-50%);
                   -webkit-transform: translateX(-50%);
                   width: 20px;
                   height: 20px;
                   border: 3px solid $content-background-color;
                   -webkit-border-radius: 50%;
                   -moz-border-radius: 50%;
                   border-radius: 50%;
               }

               .hidden {
                   opacity: 0;
               }

               .content{
                   background: $content-background-color;
                   position: relative;
                   top: 7px;
                   width: $content-width;
                   padding: 20px;

                   h2{
                       color: $time-color;
                       padding-bottom: 10px;
                       text-align: center;
                   }

                   p{
                       text-align: center;
                   }

                   &:before{
                       transition: 300ms;
                       content: '';
                       background: $content-background-color;
                       position: absolute;
                       top: 0px;
                       width: 38px;
                       height: 5px;
                   }
               }

               &:nth-child(odd) .content {
                   left: 50px;
                   background: $content-background-color;
                   background: -webkit-linear-gradient(-45deg, $content-background-gradient , $content-background-color);
                   background: linear-gradient(-45deg,  $content-background-gradient , $content-background-color);
               }

               &:nth-child(odd) .content:before {
                   left: -38px;
               }

               &:nth-child(even) .content {
                   left: calc(-#{$content-width} - 45px);
                   background: $content-background-color;
                   background: -webkit-linear-gradient(45deg, $content-background-gradient , $content-background-color);
                   background: linear-gradient(45deg,  $content-background-gradient , $content-background-color);
               }

               &:nth-child(even) .content:before {
                   right: -38px;
               }
               .content {
                   opacity: .8;
                   transition: 300ms;

               }
               &:hover{
                   .content {
                       opacity: 1;
                   }
                   &:before{
                       background: $content-background-gradient;
                   }
               }


           }
       }
   }

   /* -------------------------
      ----- Media Queries -----
      ------------------------- */

   @media screen and (max-width: 1020px) {
       .timeline ul li .content {
           width: 41vw;
       }
       .timeline ul li:nth-child(even) .content {
           left: calc(-41vw - 45px);
       }
   }

   @media screen and (max-width: 700px) {
       .timeline ul li {
           margin-left: 20px;

           .content {
               width: calc(100vw - 100px);

               h2{
                   text-align: initial;
               }
           }

           &:nth-child(even) .content {
               left: 45px;
               background: $content-background-color;
               background: -webkit-linear-gradient(-45deg, $content-background-gradient , $content-background-color);
               background: linear-gradient(-45deg,  $content-background-gradient , $content-background-color);
           }

           &:nth-child(even) .content:before {
               left: -33px;
           }
       }
   }

</style>
