<template>

    <div class="page-site doctor-page">

        <div v-if="doctorSlug" class="container-fluid header_doctor_select">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {{ doctorSlug }}
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="container-fluid header_price">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Лікарі</h1>
                    </div>
                    <div class="col-md-12 col-md-offset-2">
                        <div class="search-form">
                            <input v-model="search"
                                   placeholder='Введіть прізвище лікаря'
                                   v-bind:class="[(searchText !='') ? 'searchTextYes' : '']">
                            <transition name="slide-fade">
                                <span v-model="searchText" class="searchText" v-if="searchText != ''">{{ searchText }}</span>
                            </transition>
                            <transition name="slide-fade">
                                <span class="fa fa-times searchTextClear"
                                      v-if="search != ''"
                                      @click="search='';
                                      searchText=''"></span>
                            </transition>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
                <div class="row doctor-list" v-if="doctorList.length > 0">
                    <div class="col-md-12 cat"
                         v-for="(specialization, index) in doctorList"
                         v-if="specialization"
                         :id="specialization.s.slug">
                        <h2>{{ specialization.s.name }}</h2>
                            <div class="row doctors-list">


                                <div class="col-md-3"
                                     v-for="(doctor, index) in specialization.d">
                                    <router-link class="nav-link" :to="{ path: '/doctor/' + doctor.slug }" >
                                        <div class="doctor">
                                            <div class="images"><img :src="doctor.images.medium" :alt="doctor.title.rendered"></div>
                                            <div class="surname">{{doctor.title.rendered}}</div>
                                            <div class="position">Стаж роботи: {{doctor.practik}} роки</div>

                                        </div>
                                    </router-link>
                                </div>


                            </div>





                    </div>
                </div>
            <div class="row doctor-list empty" v-else>
                <p class="title">Порожньо</p>
            </div>
        </div>


    </div>


</template>

<script>

    export default {
        props: ['doctorSlug'],
        data() {
            return {
                CatPrices       : [],
                doctors         : [],
                specializations : [],
                search          :'',
                searchText      :'',
            }
        },
        mounted: function () {
            this.getSpecializations();
            this.getDoctors();
        },


        methods: {



            getSpecializations: function () {
                let url = '/wp-json/wp/v2/specialization?per_page=30&orderby=id';

                axios.get(url)
                    .then(response => {

                        response.data.forEach((val)=>{
                            this.specializations.push(val);
                        });

                    })
                    .catch(e => {
                        console.log(e);
                    })

            },




            getDoctors: function (id) {
                let url = '/wp-json/wp/v2/doctor?per_page=30&orderby=id';

                if ( this.search.length > 2 ) {
                    url += '&search=' + this.search;
                }

                axios.get(url)
                    .then(response => {
                        this.doctors = response.data;

                    })
                    .catch(e => {
                        console.log(e);
                    })

            },

        },

        watch: {

            search: function () {
                this.getDoctors();
            },

            doctorSlug:function () {
                if(this.doctorSlug)
                {

                }
            }
        },
        computed: {
            doctorList(){
                const ar = [];
                if(this.doctors.length > 0)
                this.specializations.forEach((s)=>{
                    ar[s.id]= {
                        's': s,
                        'd': []
                    }
                    this.doctors.forEach((d)=>{
                        d.specialization.forEach( (dS)=> {
                            if( s.id === dS){
                                ar[s.id].d.push(d);
                            }
                        })
                    });
                });
                return ar;
            }
        }
    }
</script>

