<template>

    <nav class="nav">
        <ul class="nav flex-column product-categiry" v-if="catProd.length">
            <li class="nav-item all-products">
                <router-link class="nav-link block-title" :to="{ path: '/prices' }">
                    Shop
                </router-link>
            </li>
            <li v-for="(cat, i) in catProd" class="nav-item categiry-item">
                <router-link class="nav-link" :to="{ path: '/prices/' + cat.slug }">
                    {{ cat.name }} <span>({{ cat.count }})</span>
                </router-link>
            </li>
        </ul>
        <ul class="nav flex-column product-categiry" v-else>
            <li class="nav-item all-products">
                <router-link class="nav-link block-title" :to="{ path: '/prices' }">
                    Shop
                </router-link>
            </li>
            <li style="text-align: center"> Завантаження... </li>
        </ul>
    </nav>
</template>

<script>

    export default {
        data() {
            return {
                list: [],
                catProd: [],
                menu: 'cat'
            }
        },
        mounted() {

            this.start();
            this.getCatProd();
            this.getMenu();


        },


        methods: {

            start() {

            },


            getCatProd() {
                var link = '/wp-json/wp/v2/prices';
                axios.get(link)
                    .then(response => {
                        this.catProd = response.data;
                    })
                    .catch(e => {
                        console.log(e);
                    })
            },

            getMenu() {
                axios.get('/wp-json/wp-api-menus/v2/menu-locations/' + this.menu)
                    .then(response => {
                        this.list = response.data;
                    })
                    .catch(e => {
                        console.log(e);
                    })
            }

        },



    }
</script>