<template>
    <div class="page-site shop-page">
        <div class="container">
            <div class="row">
                <div class="col col-lg-9 col-md-12 col-sm-12 product-list">
                    <div class="row">
                        <div class="col col-lg-12">
                            <h1 class="page-title" v-if="!!catActiv.name">{{ catActiv.name }}</h1>
                            <h1 class="page-title" v-else>{{ title }}</h1>
                        </div>
                    </div>
                    <div class="well well-sm">
                        <div class="btn-group">
                            <a href="#" id="list" class="btn btn-default btn-sm">
                              <span class="glyphicon glyphicon-th-list"></span>List
                            </a>
                            <a href="#" id="grid" class="btn btn-default btn-sm">
                              <span class="glyphicon glyphicon-th"></span>Grid</a>
                        </div>
                    </div>



                            <transition-group name="list-item" tag="div" class="row products-list">
                            <div v-for="(item, i) in products" class="col-lg-3 col-md-6 col-sm-12 item" :key="item.slug">

                                <div class="thumbnail">
                                    <router-link class="image-block" :to="{ path: '/product/' + item.slug }">
                                    <img class="group list-group-image"
                                         v-bind:src="item.images.thumbnail" v-bind:alt="item.title.rendered" />
                                    </router-link>

                                    <div class="buttons-activ">
                                        <a rel="nofollow"
                                           :href="'/product/' + item.slug + '/?add-to-cart=' + item.id"
                                           :data-quantity="1"
                                           :data-product_id="item.id"
                                           data-product_sku=""
                                           class="product_type_simple add_to_cart_button ajax_add_to_cart">
                                            <i aria-hidden="true" class="fa fa-heart"></i>
                                        </a>
                                        <a rel="nofollow"
                                           :href="'/product/' + item.slug + '/?add-to-cart=' + item.id"
                                           :data-quantity="1"
                                           :data-product_id="item.id"
                                           data-product_sku=""
                                           class="product_type_simple add_to_cart_button ajax_add_to_cart">
                                            <i aria-hidden="true" class="fa fa-search"></i>
                                        </a>
                                        <a rel="nofollow"
                                           :href="'/product/' + item.slug + '/?add-to-cart=' + item.id"
                                           :data-quantity="1"
                                           :data-product_id="item.id"
                                           data-product_sku=""
                                           class="product_type_simple add_to_cart_button ajax_add_to_cart">
                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                    <div class="caption">
                                        <router-link :to="{ path: '/product/' + item.slug }" class="product-item-name">
                                            {{ item.title.rendered }}
                                        </router-link>
                                        <div class="group inner list-group-item-text" v-html="item.excerpt.rendered"></div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12">
                                                <p class="lead" v-html="item.price"></p>
                                            </div>
                                        </div>
                                    </div>


                            </div>
                            </transition-group>

                </div>
                <div class="col col-lg-3 col-md-12 col-sm-12">
                    <menu-cat></menu-cat>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Menu from './Menu'
    import { mapGetters, mapActions } from 'vuex'
    export default {
        props: ['slug'],
        components: {
            menuCat : Menu,
        },
        data() {
            return {
                products: [],
                catProd: [],
                title: 'Categories',
                catActiv: {},
                page: 'Catalog'
            }
        },

        mounted() {
            this.getCatProd();
            this.setCat();
        },
        watch: {
            '$route' (to, from) {

            },

            slug(){


                this.setCat();
            },

        },

        methods: {
            setCat(){
                var self = this;
                if(this.slug) {
                    this.getCatActiv();
                } else {
                    this.$store.commit( 'rtChangeTitle', this.title);
                    this.getProducts();
                    this.catActiv = {};
                }

            },

            getProducts() {
                // var data = {
                //     'consumer_key': 'ck_a45d245c4402054bd217c78d841a7871c5af21ec',
                //     'consumer_secret': 'ck_a45d245c4402054bd217c78d841a7871c5af21ec'
                // };
                var link = '/wp-json/wp/v2/product';

                if(this.slug) {
                    link += '?shop=' + this.catActiv.id;
                }


                axios.get(link)
                    .then(response => {
                        this.products = response.data;


                    })
                    .catch(e => {
                        console.log(e);
                    })
            },

            getCatProd() {
                var link = '/wp-json/wp/v2/shop';
                axios.get(link)
                    .then(response => {
                        this.catProd = response.data;
                    })
                    .catch(e => {
                        console.log(e);
                    })
            },
            getCatActiv() {
                var link = '/wp-json/wp/v2/shop?slug=' + this.slug;
                axios.get(link)
                    .then(response => {
                        this.catActiv = response.data[0];
                        this.$store.commit( 'rtChangeTitle', this.catActiv.name + ' : ' + this.title);
                        this.getProducts();
                        return true
                    })
                    .catch(e => {
                        console.log(e);
                    })


            },
        },



    }
</script>

