<template>
    <div class="page-site price-page" v-if="price">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="price_select_info" :style="{ backgroundImage: 'url(' + price.images.large + ')' }">
                        <ul class="breadcrumbs">
                            <li>
                                <router-link class="nav-link" :to="{ path: '/prices' }" >
                                    <span class="fa fa-chevron-left" aria-hidden="true">Всі категорії</span>
                                </router-link>
                            </li>
                        </ul>
                        <span class="product_price"> {{ price.price }} грн</span>
                        <h1> {{ price.title.rendered }} </h1>
                        <div class="row justify-content-md-center">
                            <div class="col-md-10 inform">
                                <div class="disc" v-html="price.content.rendered"></div>
                            </div>
                            <a class="bron-btn btn btn-default" @click.prevent="setShow(true)" href="#">
                                Записатись на прийом
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container price_tabs_info">
            <vue-tabs>
                    <v-tab v-if="price.main_tab_t_1"
                           :title="price.main_tab_t_1.title"
                           class="main_tab_t_1" :style="{ backgroundImage: 'url(' + price.main_tab_t_1.bg + ')' }">
                        <div class="main_tab_t_1_wraper" >
                            <div v-if="price.main_tab_t_1.icon" class="icon" :style="{ backgroundImage: 'url(' + price.main_tab_t_1.icon + ')' }"></div>
                            <div class="list_info" v-for="item in price.main_tab_t_1.list">
                                <div class="sub_title" v-html="item.title"></div>
                                <div class="sub_text" v-html="item.text"></div>
                            </div>
                        </div>
                    </v-tab>
                    <v-tab title="Симптоми" v-if="price.symptom" v-html="price.symptom"></v-tab>
                    <v-tab title="Діагностика" v-if="price.diagnostics" v-html="price.diagnostics"></v-tab>
                    <v-tab title="Лікування" v-if="price.healing" v-html="price.healing"></v-tab>
            </vue-tabs>
        </div>
        <div id="doctors" v-if="doctors.length > 0" class="container-fluid doctors-in-price">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-uppercase mt-0 line-height-1">Наші лікарі</h2>
                            <p>Знайомтесь: лікарі-професіонали медичного центру Базисмед</p>
                        </div>
                    </div>
                    <div class="row mtli-row-clearfix">
                        <div class="col-md-12">
                            <slick  ref="slick" :options="slickOptions">
                                <div class="item" v-for="(doctor, index) in doctors"  :key="doctor.slug">
                                    <div class="team-members">
                                        <div class="row">
                                            <div class="col-md-6 team-thumb">
                                                <img class="img-fullwidth" :alt="doctor.title.rendered" :src="doctor.images.medium">
                                            </div>
                                            <div class="col-md-6 team-details">
                                                <div class="doctor">
                                                    <router-link class="nav-link" :to="{ path: '/doctor/' + doctor.slug }" >
                                                        <h4 class="text-uppercase">{{doctor.title.rendered}}</h4>
                                                    </router-link>
                                                </div>
                                                <h6 class="text-theme-colored">
                                                    {{ doctor.specialization_name }}
                                                </h6>

                                                <div class="doctordetail-experience">
                                                    Стаж роботи: {{doctor.practik}} роки
                                                </div>
                                                <router-link class="read-more" :to="{ path: '/doctor/' + doctor.slug }" >
                                                    Читати докладніше
                                                </router-link>
                                                <ul class="styled-icons icon-theme-colored icon-dark icon-circled icon-sm">
                                                    <li><a href="https://www.facebook.com/bazismed/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="https://ok.ru/profile/574473292264" target="_blank"><i class="fa fa-odnoklassniki fa-lg"></i></a></li>
                                                    <li><a href="https://www.instagram.com/bazismed/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                    <li><a href="https://vk.com/bazismed" target="_blank"><i class="fa fa-vk"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </slick>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="product-form">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                      <div class="title">Щоб записатися</div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-8">
                        <div class="text">
                            Клінічний асистент зв'яжеться <br>
                            з вами після отримання заявки
                        </div>
                        <div class="form">
                            <div class="row">
                                <div class="col-md-4 name">
                                    <input type="text" v-model="form.name" placeholder="Ваше ім'я">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" v-model="form.phone" placeholder="Ваш телефон">
                                </div>
                                <div class="col-md-4">
                                    <button>Записаться</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--    <section class="product-count">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">Наші результати
                            <span>Нам є чим пишатись</span>
                        </div>
                    </div>
                </div>
                <div class="row count-blocs">
                    <div class="col-md-3">
                        <div class="icon"><i class="fa fa-smile-o" aria-hidden="true"></i></div>
                        <div class="count">30 000</div>
                        <div class="sub_title">Постійних клієнтів</div>
                    </div>
                    <div class="col-md-3">
                        <div class="icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
                        <div class="count">50</div>
                        <div class="sub_title">Персоналу</div>
                    </div>
                    <div class="col-md-3">
                        <div class="icon"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                        <div class="count">200</div>
                        <div class="sub_title">Партнерів</div>
                    </div>
                    <div class="col-md-3">
                        <div class="icon"><i class="fa fa-bolt" aria-hidden="true"></i></div>
                        <div class="count">300</div>
                        <div class="sub_title">Проведено операцій</div>
                    </div>
                </div>
            </div>
        </section>-->
        <section class="client-home">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <h2 class="text-uppercase mt-0 line-height-1">Що говорять ті хто нам довіряють? </h2>
                    </div>
                    <div class="col-md-8">
                        <slick v-if="clientList" ref="slick" :options="clientOptions">
                            <div class="item" v-for="(client, index) in clientList">
                                <div class="text-center">
                                    <div class="client">
                                        <div class="client-img">
                                            <img :src="client.images.thumbnail" :alt="client.title.rendered">
                                        </div>
                                        <div class="client-text" v-html="client.content.rendered"></div>

                                        <div class="client-footer">
                                            <i class="fa fa-quote-right font-36 mt-10 text-gray-lightgray"></i>
                                            <p class="name">{{client.title.rendered}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </slick>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog-home" v-if="blogItems">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <h2 class="text-uppercase mt-0 line-height-1">Новини</h2>
                        <p></p>
                    </div>
                    <div class="col-md-12">
                        <slick  ref="slick" :options="blogOptions">
                            <div class="item" v-for="(item, index) in blogItems">
                                <article class="post clearfix bg-lighter">
                                    <div class="entry-header">
                                        <div class="post-thumb thumb"
                                             v-bind:style="{ backgroundImage: 'url(' + item.images.medium +' )' }">
                                            <time :datetime="item.date">
                                                <span class="data">{{item.date | moment("D") }}</span>
                                                <span class="data">{{item.date | moment("MMM") }}</span>
                                            </time>
                                        </div>
                                    </div>
                                    <div class="entry-content">
                                        <div class="entry-meta">
                                            <div class="media-body pl-0">
                                                <div class="event-content">
                                                    <h4 class="entry-title">
                                                        <router-link  :to="{ path: '/post/' + item.slug }"
                                                                      v-html="item.title.rendered">
                                                        </router-link>
                                                    </h4>
                                                    <span class="icon-views"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> {{ (item.post_views) ? item.post_views : 0 }}</span>
                                                    <span  class="icon-comment"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> {{ (item.count_comments) ? item.count_comments : 0 }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="entry-text" v-html="item.excerpt.rendered"></p>
                                    </div>
                                </article>
                            </div>
                        </slick>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
    import {VueTabs, VTab} from 'vue-nav-tabs';
    import Slick from 'vue-slick';
    import { mapGetters, mapActions } from 'vuex'
    export default {
        props: ['priceSlug'],
        data() {
            return {
                showModal: false,
                price: false,
                doctors: [],
                clientList: false,
                slickOptions: {
                    slidesToShow: 2,
                    dots: false,
                    arrows: true,
                    prevArrow:'<span class="slick-arrow prev"><i class="slick-arrow-line"></i></span>',
                    nextArrow:'<span class="slick-arrow next"><i class="slick-arrow-line"></i></span>',
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                dots: false,
                                arrows: false,
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                dots: false,
                                arrows: false,
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                dots: false,
                                arrows: false,
                            }
                        }
                    ]
                },
                blogOptions: {
                    slidesToShow: 3,
                    dots: false,
                    arrows: false,
                    autoplay: true,
                    autoplaySpeed: 2000,
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                dots: false,
                                arrows: false,
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                dots: false,
                                arrows: false,
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                dots: false,
                                arrows: false,
                            }
                        }
                    ]
                },
                clientOptions: {
                    slidesToShow: 1,
                    dots: true,
                    arrows: this,

                },
                blogItems: false,
                totalBlogItems: 0,
                blogPage: 1,
                form: {
                    name        : '',
                    phone       : '',
                    nameProduct : '',
                    doctor      : ''
                }
            }
        },
        components: {
            VueTabs,
            VTab,
            Slick,
        },

        mounted() {
            this.getPrice();
            this.getClients();
            this.getBlogItems();
        },
        watch: {
            '$route' (to, from) {
            },
        },
        methods: {
            getPrice() {
                var link = '/wp-json/wp/v2/price';
                if(this.priceSlug) {
                    link += '?slug=' + this.priceSlug;
                }
                axios.get(link)
                    .then(response => {
                        this.price = response.data[0];
                        this.$store.commit( 'rtChangeTitle', this.price.title.rendered );
                        this.price.prices.forEach((val)=>{
                            this.doctorInfo(val);
                        });
                    })
                    .catch(e => {
                        console.log(e);
                    })
            },
            doctorInfo: function(id) {
                let url = '/wp-json/wp/v2/doctor?prices=' + id; //?prices=69
                axios.get(url)
                    .then(response => {
                        response.data.forEach((val)=>{
                            this.doctors.push(val);
                        });

                    })
                    .catch(e => {
                        console.log(e);
                    })
            },


            getBlogItems: function () {
                this.animate = true;
                const url = '/wp-json/wp/v2/posts?per_page=10&page=' + this.blogPage;
                axios.get(url)
                    .then(response => {
                        var allPostX = '';
                        if (typeof response.headers['x-wp-totalpages'] == 'undefined') allPostX = response.headers['X-WP-TotalPages'];
                        else allPostX = response.headers['x-wp-totalpages'];
                        this.blogItems = response.data;
                        this.totalBlogItems = parseInt(allPostX);
                        setTimeout(()=> {
                            this.animate = false;
                        }, 1000);
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },
            getClients: function () {
                let url = '/wp-json/wp/v2/client?per_page=30&orderby=id';

                axios.get(url)
                    .then(response => {
                        this.clientList = response.data;

                    })
                    .catch(e => {
                        console.log(e);
                    })

            },
            ...mapActions([
                'setShow',
            ]),
        },
        computed: {
            ...mapGetters({
                modalShow: 'modalShow'
            }),
        },



    }
</script>

<style lang="scss">

    #doctors{
        margin-top: 20px;
        font-size: 16px;
        text-align: center;
        h2{
            position: relative;
            line-height: 70px;
            margin-bottom: 20px;
            &:after {
                content: "";
                width: 140px;
                display: block;
                background-color: #9c4944;
                height: 2px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .item{
            position: relative;
            overflow: hidden;
            padding: 0 10px;
            border-bottom: 2px solid rgba(156, 73, 68, 0.41);
        }
        .border-bottom-theme-color-2px {

        }
        .img-fullwidth {
            max-width: 100%;
            width: 100%;
        }
        .owl-carousel .owl-item img {
            display: inline-block;
            -webkit-transform-style: preserve-3d;
        }
        .owl-carousel .owl-item img {
            transform-style: preserve-3d;
        }

        .slick-slider{
            margin-top: 20px;
            padding-bottom: 60px;
            position: relative;
            .slick-arrow{
                display: inline-block;
                font-size: 10px;
                line-height: 30px;
                width: 60px;
                height: 30px;
                overflow: hidden;
                vertical-align: middle;
                cursor: pointer;
                position: absolute;
                bottom: 18px;
                &.next{
                    right: calc(50% - 70px);
                    .slick-arrow-line{
                        position: absolute;
                        top: 15px;
                        left: 0;
                        width: 40px;
                        height: 1px;
                        background: rgb(0, 0, 0);
                        -webkit-transition-property: all 0.12s ease-out;
                        transition-property: all 0.12s ease-out;
                        -webkit-transition-duration: 0.6s;
                        transition-duration: 0.6s;
                        -webkit-transition-timing-function: ease;
                        transition-timing-function: ease;
                        -webkit-transition-delay: 0s;
                        transition-delay: 0s;
                        &:after {
                            content: "";
                            position: absolute;
                            width: 7px;
                            height: 1px;
                            background: rgb(0, 0, 0);
                            margin-left: 100%;
                            left: -7px;
                            top: -3px;
                            -moz-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            width: 7px;
                            height: 1px;
                            background: rgb(0, 0, 0);
                            margin-left: 100%;
                            left: -7px;
                            top: 3px;
                            -moz-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            transform: rotate(-45deg);

                        }
                    }

                }
                &.prev{
                    left: calc(50% - 70px);
                    .slick-arrow-line{
                        position: absolute;
                        top: 15px;
                        right: 0;
                        width: 40px;
                        height: 1px;
                        background: rgb(0, 0, 0);
                        -webkit-transition-property: all 0.12s ease-out;
                        transition-property: all 0.12s ease-out;
                        -webkit-transition-duration: 0.6s;
                        transition-duration: 0.6s;
                        -webkit-transition-timing-function: ease;
                        transition-timing-function: ease;
                        -webkit-transition-delay: 0s;
                        transition-delay: 0s;
                        &:after {
                            content: "";
                            position: absolute;
                            width: 7px;
                            height: 1px;
                            background: rgb(0, 0, 0);
                            margin-left: 0;
                            left: 0;
                            top: -3px;
                            -moz-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            width: 7px;
                            height: 1px;
                            background: rgb(0, 0, 0);
                            margin-left: 0;
                            left: 0;

                            top: 3px;
                            -moz-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);


                        }
                    }

                }
                &:hover{
                    .slick-arrow-line{
                        width: 60px;
                    }
                }

            }
        }
        .team-details {
            transition: all 300ms ease-in-out 0s;
            width: 100%;
            background-color: #F7F8FA;
            position: relative;
            h4{
                margin: 20px 5px 5px 5px;
                font-weight: 600;
                font-size: 18px;
                a{
                    color: #7e7e7e;
                }
            }
            .text-theme-colored {
                color: rgb(158, 158, 158);
            }
            .doctordetail-experience{
                padding: 5px 0;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                margin-bottom: 5px;
            }
            .styled-icons li {
                display: inline-block;
                margin-bottom: 0;
                margin-top: 0;
            }
            .styled-icons.icon-sm a {
                font-size: 13px;
                height: 25px;
                line-height: 25px;
                margin: 2px 7px 2px 0;
                width: 25px;
                display: inline-block;
            }
            .icon-theme-colored.icon-dark a {
                background-color: rgb(126, 126, 126);
                color: #fff;
                border-radius: 50%;
            }
            .icon-dark{
                position: absolute;
                bottom: 10px;
                width: 100%;
                transition: 500ms;

                    a{
                        &:hover{
                            background-color: #9c4944;
                        }

                    }

            }

            .read-more{
                display: block;
                margin-top: 20px;
                color: rgb(158, 158, 158);
                font-size: 17px;
                transition: 500ms;
                &:hover{
                    color: #9c4944;
                }
            }


        }

        .item:hover {
            border-bottom: 2px solid rgba(156, 73, 68, 0.8);
            .team-details {


            }

        }

        .slick-slide{
            padding: 0 10px;
        }

        .nav-link{
            color: #7e7e7e;
        }

        .team-thumb{
            padding: 0;
        }
    }



</style>

