<template>
    <div class="page-site home-page">

        <section class="about-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                       <div class="logo">
                           <img src="/wp-content/uploads/2018/01/cropped-logoBZM.png" alt="">
                       </div>
                        <div class="title">
                            <h1>БазисМед</h1>
                            <h2> Медичний центр для людей!</h2>
                            <div class="text">
                                Ми прагнемо стати найкращими і тому будемо прикладати для цього максимум зусиль.
                   <br>
                   <br>

                                За 6 років нам є чим пишатись! У багато чому Ми найкращі ! і вдається нам це тільки завдяки тому що ми вірні нашим цінностям і принципам!
                            </div>
                            <div class="links">
                                <a href="#" @click.prevent="setShow(true)">Проконсультуватись</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-home">
            <div class="container about-blocks">
                <div class="row">
                    <div class="col-md-4 about-block">
                        <div class="title">Години роботи</div>
                        <div class="disc">
                            <ul class="table-time-work">
                                <li>Понеділок - п'ятниця <span>8.00 – 19.00</span></li>
                                <li>Субота <span>9.00 – 15.00</span></li>
                                <li>Неділя <span>вихідний</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 about-block">
                        <div class="title">Коротко про нас</div>
                        <div class="disc">
                            <p>Ми прагнемо стати найкращими і тому будемо прикладати для цього максимум зусиль.</p>
                            <router-link class="elementor-button-link"  :to="{ path: '/prices' }" >Послуги та ціни</router-link>
                        </div>
                    </div>
                    <div class="col-md-4 about-block hot-line">
                        <div class="title">Телефон гарячої лінії</div>
                        <p class="hot-number"><i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                            <a href="tel:+380952260202">+38 (095) 226-02-02</a></p>
                        <p>Ми відповімо на усі питання і одразу запишемо до лікаря</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="prices-page prices-home">
            <div class="header_price">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 price-cat">
                            <h1><span>ПОСЛУГИ ТА ЦІНИ</span></h1>
                            <div class="row">
                                <div v-if="((CatPrices.length > 0) && cat.img)" v-for="(cat, idC) in CatPrices"
                                     v-model="CatPrices"
                                     v-bind:class="(cat.id == selectCat) ? 'activ': ''"
                                     class="col-md-3 cat-name">
                                    <router-link class="nav-link" :to="{ path: '/prices/' + cat.slug }">
                                        <div class="icon"><img :src="cat.img" alt=""></div>
                                        <span>{{ cat.name }}</span>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hours-home></hours-home>
        <app-our-form title="Главная"></app-our-form>

        <section class="blog-home" v-if="blogItems">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <h2 class="text-uppercase mt-0 line-height-1">Новини</h2>
                        <p>

                        </p>
                    </div>
                    <div class="col-md-12">
                        <slick  ref="slick" :options="blogOptions">
                            <div class="item" v-for="(item, index) in blogItems">
                                <article class="post clearfix bg-lighter">
                                    <div class="entry-header">
                                        <div class="post-thumb thumb"
                                             v-bind:style="{ backgroundImage: 'url(' + item.images.medium +' )' }">
                                            <time :datetime="item.date">
                                                <span class="data">{{item.date | moment("D") }}</span>
                                                <span class="data">{{item.date | moment("MMM") }}</span>

                                            </time>
                                        </div>
                                    </div>
                                    <div class="entry-content">
                                        <div class="entry-meta">
                                            <div class="media-body pl-0">
                                                <div class="event-content">
                                                    <h4 class="entry-title">
                                                        <router-link  :to="{ path: '/post/' + item.slug }"
                                                                      v-html="item.title.rendered">
                                                        </router-link>
                                                    </h4>
                                                    <span class="icon-views"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> {{ (item.post_views) ? item.post_views : 0 }}</span>
                                                    <span  class="icon-comment"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> {{ (item.count_comments) ? item.count_comments : 0 }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="entry-text" v-html="item.excerpt.rendered"></p>
                                    </div>
                                </article>
                            </div>

                        </slick>
                    </div>
                </div>
            </div>
        </section>
        <section class="video-home">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <h2 class="text-uppercase mt-0 line-height-1">Відео</h2>
                        <p class="text">На моєму каналі YouTube ви можете подивитися відео про
                            популярних пластичних операціях. Канал регулярно оновлюється.
                            Слідкуйте за виходом нових відео та підписуйтесь на канал.</p>
                        <div class="links">
                            <a href="#">Записатися на прийом</a>
                            <a href="http://www.youtube.com/channel/UC-owYf90KFUkOMSWHzPQt4Q?view_as=subscriber" target="_blank">Переглянути інші відео</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="video">
                            <iframe width="854" height="480" src="http://www.youtube.com/embed/gP93lNnsqYs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contacts-home">
            <gmap-map class="maps" :center="{lat:48.264559, lng:25.9239991}" :zoom="19" :styles="stylesMaps">
                <gmap-marker :position="{lat:48.2646718, lng:25.9231738}">
                </gmap-marker>
                <gmap-info-window :position="{lat:48.2646718, lng:25.9231738}">
                    Медичний центр "Базисмед"
                </gmap-info-window>
            </gmap-map>
            <div class="contacts-block">
                <div class="blueberry__inner">
                    <div class="blueberry__title">Адреса клініки</div>
                    <div class="blueberry__address">м. Чернівці, вул. Рівенська, 5А</div>
                    <div class="blueberry__list">
                        <div class="blueberry__item">
                            Понеділок - п'ятниця  з 8.00 до 19.00
                        </div>
                        <div class="blueberry__item">
                            Субота з 9.00 до 15.00
                        </div>
                        <div class="blueberry__item">
                            Неділя  - вихідний
                        </div>
                    </div>
                    <div class="blueberry__list">
                        <div class="blueberry__item blueberry__item--links">
                            <a class="contact-link" href="tel:+380952260202">
                                <span class="contact-link__label">Зателефонуйте нам</span>
                                <span class="contact-link__line"></span>
                                <span class="contact-link__value call_phone_1">+38 (095) 226-02-02</span>
                                <i class="contact-link__icon"></i>
                            </a>
                        </div>
                        <div class="blueberry__item blueberry__item--links">

                            <a class="contact-link" href="mailto:info@bazismed.com">
                                <span class="contact-link__label">Напишіть нам</span>
                                <span class="contact-link__line"></span>
                                <span class="contact-link__value">info@bazismed.com</span>
                                <i class="contact-link__icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>


    import MainCarusel from '../partials/Carousel'
    import HoursHome from '../partials/HoursHome'
    import { mapGetters, mapActions } from 'vuex'
    import Slick from 'vue-slick';

    export default {
        components: {
            MainCarusel,
            HoursHome,
            Slick,

        },
        data() {
            return {
                CatPrices: [],
                selectCat: 0,
                doctorList: false,
                clientList: false,
                slickOptions: {
                    slidesToShow: 4,
                    dots: false,
                    arrows: false,
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                dots: false,
                                arrows: false,
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                dots: false,
                                arrows: false,
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                dots: false,
                                arrows: false,
                            }
                        }
                    ]
                },
                clientOptions: {
                    slidesToShow: 1,
                    dots: true,
                    arrows: this,
                },
                blogOptions: {
                    slidesToShow: 3,
                    dots: false,
                    arrows: false,
                    autoplay: true,
                    autoplaySpeed: 2000,
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                dots: false,
                                arrows: false,
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                dots: false,
                                arrows: false,
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                dots: false,
                                arrows: false,
                            }
                        }
                    ]
                },
                blogItems: false,
                totalBlogItems: 0,
                blogPage: 1,
            }
        },
        mounted: function () {
            this.getCatPrices();
            this.getDoctors();
            this.getClients();
            this.getBlogItems();

        },
        methods: {
            getCatPrices: function () {
                axios.get('/wp-json/wp/v2/prices?parent=0&per_page=30&orderby=id')
                    .then(response => {
                        this.CatPrices = response.data;

                        if (this.slug) {

                            this.CatPrices.forEach((val) => {
                                if (this.slug === val.slug) {
                                    this.getListToCat(val.id)
                                    return true;
                                }
                            });
                        }

                    })
                    .catch(e => {
                        console.log(e);
                    })

            },

            next() {
                this.$refs.slick.next();
            },

            prev() {
                this.$refs.slick.prev();
            },

            reInit() {
                // Helpful if you have to deal with v-for to update dynamic lists
                this.$nextTick(() => {
                    this.$refs.slick.reSlick();
                });
            },


            getDoctors: function () {
                let url = '/wp-json/wp/v2/doctor?per_page=30&orderby=id';

                axios.get(url)
                    .then(response => {
                        this.doctorList = response.data;

                    })
                    .catch(e => {
                        console.log(e);
                    })

            },

            getClients: function () {
                let url = '/wp-json/wp/v2/client?per_page=30&orderby=id';

                axios.get(url)
                    .then(response => {
                        this.clientList = response.data;

                    })
                    .catch(e => {
                        console.log(e);
                    })

            },



            getBlogItems: function () {
                this.animate = true;
                const url = '/wp-json/wp/v2/posts?per_page=10&page=' + this.blogPage;
                axios.get(url)
                    .then(response => {
                        var allPostX = '';
                        if (typeof response.headers['x-wp-totalpages'] == 'undefined') allPostX = response.headers['X-WP-TotalPages'];
                        else allPostX = response.headers['x-wp-totalpages'];
                        this.blogItems = response.data;
                        this.totalBlogItems = parseInt(allPostX);
                        setTimeout(()=> {
                            this.animate = false;
                        }, 1000);
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },

            ...mapActions([
                'setShow',
            ]),
        },
        computed: {
            ...mapGetters({
                modalShow: 'modalShow'
            }),

        }
    }
</script>

<style lang="scss">
    .prices-home .header_price {
        margin: 0;
        padding: 20px 0;
    }
    #doctors{
        padding: 60px 0;
        font-size: 16px;
        h2{
            position: relative;
            line-height: 70px;
            margin-bottom: 20px;
            &:after {
                content: "";
                width: 140px;
                display: block;
                background-color: #9c4944;
                height: 2px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .item{
            position: relative;
            overflow: hidden;
            padding: 0 10px;
            border-bottom: 2px solid #9c4944;
            min-height: 300px;
        }
        .border-bottom-theme-color-2px {

        }
        .img-fullwidth {
            max-width: 100%;
            width: 100%;
        }
        .owl-carousel .owl-item img {
            display: inline-block;
            -webkit-transform-style: preserve-3d;
        }
        .owl-carousel .owl-item img {
            transform-style: preserve-3d;
        }

        .slick-slider{
            margin-top: 20px;
        }
        .team-details {
            bottom: -32px;
            position: absolute;
            transition: all 300ms ease-in-out 0s;
            width: 100%;
            background-color: #F7F8FA;
            h4{ margin: 0; }
            h4{
                margin: 5px;
                font-weight: 600;
                font-size: 18px;
                a{
                    color: #7e7e7e;
                }
            }
            .text-theme-colored {
                color: #aed8e4;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                margin-bottom: 5px;
            }
            .styled-icons li {
                display: inline-block;
                margin-bottom: 0;
                margin-top: 0;
            }
            .styled-icons.icon-sm a {
                font-size: 13px;
                height: 25px;
                line-height: 25px;
                margin: 2px 7px 2px 0;
                width: 25px;
                display: inline-block;
            }
            .icon-theme-colored.icon-dark a {
                background-color: #00a3c8;
                color: #fff;
                border-radius: 50%;
            }


        }

        .item:hover .team-details {
            bottom: 0;
            .icon-theme-colored.icon-dark a {
                background-color: #9c4944;
            }
            .text-theme-colored{
                color: #9c4944;;
            }
            .doctor{

                a{
                    color: #7e7e7e;
                }
            }
        }

        .slick-slide{
            padding: 0 10px;
        }

        .nav-link{
            color: #7e7e7e;
        }




    }
    .about-text{
        background-image: url("/img/fullwidth-img-1.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
        margin-top: 0px;
        margin-bottom: 0;
        padding: 200px 0px 140px 0px;
        .logo{
            width: 200px;
            img{
                width: 100%;
            }
            margin-bottom: 20px;
        }
        h1{
            color: rgb(255, 255, 255);
            font-size: 38px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        h2{
            color: rgb(255, 255, 255);
            font-size: 28px;
            font-weight: 400;
            margin-bottom: 40px;
        }
        .text{
            font-size: 18px;
            color: rgb(255, 255, 255);
            margin-bottom: 20px;
        }
        .links{
            a{
                font-size: 12px;

                line-height: 1.1;

                letter-spacing: 2px;

                text-transform: uppercase;

                text-align: center;

                display: inline-block;

                padding: 0 20px;

                border-radius: 3px;

                font-weight: 700;

                border: none;

                -webkit-transition: 200ms;

                transition: 200ms;

                background-color: white;
                color: #9c4944;
                height: 38px;

                line-height: 38px;
                &:hover{
                    background-color: #9c4944;
                    color: white;
                }
            }
        }
    }
</style>
