<template>
    <div class="checkout-page">
        <div class="container">
            <div class="row">
                <div class="col-md-6 miniCart">
                    <h2>Кошик</h2>
                    <div class="mini_cart_body">
                        <ul>
                            <li class="cart_item" v-for="(item, i) in products">
                                <div href="#" class="cart_item">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="item_title">{{ item.title.rendered }}</div>
                                        </div>

                                        <div class="col-md-3"><b>
                                            {{ item.price }} грн
                                        </b>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="switcher">
                                                <input type="checkbox"
                                                       @change="addToCart(item)"
                                                       :checked="isCart(item.id) ? 'checked' : ''"
                                                />
                                                <div class="switcher__indicator"></div>
                                                <span data-on="В кошику" data-off="В кошик"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="total-mini-cart">
                            <div class="row">
                                <div class="col-md-6"><b class="pull-right">Загалом</b></div>
                                <div class="col-md-6"><span class="pull-left">{{ total }} грн</span></div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-6 buyer-information">
                    <h2>Данні клієнта</h2>
                    <div class="row datas">
                        <div class="col-md-6">
                            <input type="text" v-model="name" placeholder="ПІБ">
                        </div>
                        <div class="col-md-6">
                            <input type="text" v-model="mail" placeholder="Email">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6 tell">
                            <masked-input v-model="phone" mask="\+\380 (11) 11-11-111" placeholder="+38 " />
                            <span class="error" v-if="phoneLeng">Вкажить вірний номер телефону!</span>
                        </div>
                        <div class="col-md-6 btnsend">
                            <button class="" @click="sendForm()" :class="!phoneLeng ? 'active' : ''">Замовити</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ok" v-if="ok">Надіслано</div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>


</template>
<script>
    import { mapGetters, mapActions } from 'vuex'
    import MaskedInput from 'vue-masked-input'
    export default {
        data() {
            return {
                cart: [],
                show:true,
                send:false,
                phone: '0',
                name: '',
                mail: '',
                ok:false
            }
        },
        components: {
            MaskedInput
        },
        mounted() {

        },

        computed: {
            ...mapGetters({
                products: 'cartProducts',
                getNumberOfProducts: 'getNumberOfProducts',

            }),
            // TODO this is bug
            total () {
                return this.products.reduce((total, p) => {
                    return parseInt(total) +  parseInt(p.price);
                }, 0)
            },
            quantity(){
                let i = 0;
                return (this.products) ? this.products.length : 0
            },
            phoneLeng(){
                return ((this.phone[this.phone.length-1] != '_') && this.phone.length != 0) ? false : true;
            }

        },
        methods: {
            checkout(){
                alert('Pay us $' + this.total)
            },
            isCart(id){
                return (this.products) ? this.products.find(p => p.id === id) : false
            },
            moveToTop(){
                $("html, body").animate({
                    scrollTop: 0
                }, 600);
                this.isShow = !this.isShow;

            },
            ...mapActions([
                'addToCart',
                'setCart',
            ]),

            sendForm() {
                if(!this.phoneLeng) {
                    var cart = [];
                    this.products.forEach(function (t) {
                        var ob = {
                            id: t.id,
                            title: t.title.rendered,
                            price: t.price
                        }
                        cart.push(ob);
                    });
                    var data = {
                        action: 'orderadd',
                        name   : this.name,
                        phone  : this.phone,
                        mail   : this.mail,
                        total  : this.total,
                        cart   : cart
                    };

                    var that = this;
                    jQuery.post( '/wp-admin/admin-ajax.php', data, function(response) {
                        console.log('Success!:', response);
                        that.ok = true;
                    });
                }

            },

        },





//

    }
</script>