<template>
    <div class="contact-page">
        <img class="profile-img" src="/wp-content/themes/xemlab/dist/img/logo-l.png"/>
        <div class="bio">
            <h3 class="header">Contact Us </h3>
            <div class="contact-info">
                <p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    Ukraine, Chernivtsi
                </p>
                <p>
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    <a href="tel:+380989081864">+38 (098) 908-18-64</a>
                </p>
                <p>
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    <a href="tel:+380989081864">+38 (098) 908-18-64</a>
                </p>
                <p>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <a href="mailto:info@boutique.com">info@boutique.com</a>
                </p>
                <ul class="social_icons">
                    <li><a href="#" title="Youtube" target="_blank" class="fa fa-youtube-square" aria-hidden="true"></a></li>
                    <li><a href="#" title="Instagram" target="_blank" class="fa fa-instagram" aria-hidden="true"></a></li>
                    <li><a href="#" title="Vk" target="_blank" class="fa fa-vk" aria-hidden="true"></a></li>
                    <li><a href="#" title="Facebook" target="_blank" class="fa fa-facebook-official" aria-hidden="true"></a></li>
                    <li><a href="#" title="Pinterest" target="_blank" class="fa fa-pinterest" aria-hidden="true"></a></li>
                </ul>
            </div>

        </div>
        <div class="contact">
            <form id="form">
                <legend class="header">Get In Touch</legend>
                <fieldset>
                    <label class="fa fa-user" for="name-input" aria-hidden="true"></label>
                    <input type="text" placeholder="Your name..." id="name-input"/>
                </fieldset>
                <fieldset>
                    <label class="fa fa-envelope" for="email-input" aria-hidden="true"></label>
                    <input type="email" placeholder="Your email..." id="email-input"/>
                </fieldset>
                <fieldset>
                    <label class="fa fa-comment" for="message-input" aria-hidden="true"></label>
                    <textarea placeholder="Your Message..." id="message-input"></textarea>
                </fieldset>
                <fieldset>
                    <button type="submit" id="btn-submit">Send</button>
                </fieldset>
            </form>
        </div>
    </div>

</template>

<script>


export default {
    data() {
        return {

        }
    },


    watch: {

    }
}
</script>

<style>

    @import "https://fonts.googleapis.com/css?family=Karla";
    .contact-page {
        font-size: 13px;
    }

    @media screen and (min-width: 1000px) {
        .contact-page {
            font-size: 14px;
        }
    }
    @media screen and (min-width: 1240px) {
        .contact-page {
            font-size: 16px;
        }
    }
    @media screen and (min-width: 1480px) {
        .contact-page {
            font-size: 17px;
        }
    }


    .contact-page {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        font-family: "Playfair Display", serif;
        background: linear-gradient(120deg, rgb(242, 242, 242) 50%, rgb(204, 209, 198) 50%);
        letter-spacing: 1px;
        position: relative;
        margin-top: -39px;
        margin-bottom: -42px;
    }
    .contact-page .profile-img{
        position: absolute;
        width: 200px;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        left: 50%;
        top: 40%;
    }
    .contact-page .header,
    .contact-page legend.header {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1.25rem;
        margin: 0.5em 0;
        font-weight: 600;
    }
    .contact-page .bio,
    .contact-page .contact {
        max-width: 320px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .contact-page .bio .profile-img {
        max-width: 200px;
        margin-bottom: 30px;
    }
    .contact-page .contact-info {
        padding: 10px 0 10px 3px;
        line-height: 15px;
    }
    .contact-page .bio a {


        font-size: 1rem;
        display: inline-block;
        text-decoration: none;
        color: rgb(64, 64, 64);
        margin-bottom: 0.25em;
        -webkit-transition: color 300ms ease-in-out;
        transition: color 300ms ease-in-out;
    }
    .contact-page .bio .bio-link i {
        margin-left: 8px;
    }
    .contact-page .bio a::after {
        display: block;
        content: '';
        height: 1px;
        width: 0;
        background: rgb(188, 198, 173);
        -webkit-transition: width 300ms ease-in-out;
        transition: width 300ms ease-in-out;
    }
    .contact-page .bio a:hover::after {
        width: 100%;
    }
    .contact-page .bio a:hover {
        color: rgb(188, 198, 173);
    }
    .contact-page .contact {
        color: #fff;
    }
    .contact-page .contact form fieldset {
        font-size: 1rem;
        position: relative;
        border: none;
        margin-bottom: 0.25em;
        padding: 0.25em 0;
    }
    .contact-page .contact form fieldset label {
        font-size: 0.875rem;
        display: block;
        position: absolute;
        right: 0.125em;
        top: 1.5em;
        color: #fff;
    }
    .contact-page .contact form input,
    .contact-page .contact form textarea,
    .contact-page .contact form button {
        border: 0;
    }
    .contact-page .contact form input:focus,
    .contact-page .contact form textarea:focus,
    .contact-page .contact form button:focus {
        outline: none;
    }
    .contact-page .contact form input,
    .contact-page .contact form textarea {
        display: block;
        font-size: 1rem;
        padding: 0.5em 0;
        width: 280px;
        background: none;
        color: rgb(255, 255, 255);
        border-bottom: 2px solid rgb(255, 250, 250);
        -webkit-transition: border 300ms ease-in-out;
        transition: border 300ms ease-in-out;
        letter-spacing: 2px;
    }
    .contact-page .contact form input:focus,
    .contact-page .contact form textarea:focus {
        border-color: rgb(245, 227, 232);
    }
    .contact-page .contact form input::-webkit-input-placeholder,
    .contact-page .contact form textarea::-webkit-input-placeholder {
        color: #7D6962;
    }
    .contact-page .contact form input::-moz-placeholder,
    .contact-page .contact form textarea::-moz-placeholder {
        color: #7D6962;
    }
    .contact-page .contact form input:-ms-input-placeholder,
    .contact-page .contact form textarea:-ms-input-placeholder {
        color: #7D6962;
    }
    .contact-page .contact form input::placeholder,
    .contact-page .contact form textarea::placeholder {
        color: #7D6962;
    }
    .contact-page .contact button {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 20px;
        display: block;
        background: rgb(237, 237, 237);
        color: rgb(188, 198, 173);
        padding: 0 20px;
        line-height: 46px;
        font-weight: 900;

    }
    .contact-page .contact button:hover {
        -webkit-animation: swell 500ms ease-in-out;
        animation: swell 500ms ease-in-out;
        cursor: pointer;
        background:#fff
    }
    .contact-page .contact textarea {
        resize: none;
    }

    .contact-page {
        overflow: hidden;
        -webkit-animation: Page 600ms ease-in-out forwards;
        animation: Page 600ms ease-in-out forwards;
    }

    .contact-page .bio {
        -webkit-animation: Bio 600ms ease-in-out forwards;
        animation: Bio 600ms ease-in-out forwards;
    }

    .contact-page .contact {
        -webkit-animation: Contact 600ms ease-in-out forwards;
        animation: Contact 600ms ease-in-out forwards;
    }



    .contact-page ul.social_icons {
        list-style: none outside;
        margin-left: 0;
        padding: 10px 0 0 0;
        border-top: 1px solid rgb(222, 214, 199);
        margin-top: 15px;
        text-align: center;
    }
    .contact-page ul.social_icons li {
        display: inline;
        padding-right: 10px;
    }
    .contact-page ul.social_icons li a {
     color: rgb(64, 64, 64);
     font-size: 18px;
    }

    @-webkit-keyframes Page {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes Page {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes Bio {
        0% {
            -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @keyframes Bio {
        0% {
            -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @-webkit-keyframes Contact {
        0% {
            -webkit-transform: translateX(50vw);
            transform: translateX(50vw);
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @keyframes Contact {
        0% {
            -webkit-transform: translateX(50vw);
            transform: translateX(50vw);
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @-webkit-keyframes swell {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        50% {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    @keyframes swell {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        50% {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }



</style>