<style>

</style>
<template>

	<transition name="slide-fade">
		<div class="page-site blog-page">
			<div class="container" v-if="loaded ==='true'">
				<div class="row">
					<div class="col col-lg-12">
						<h1 class="rt-post-title"> {{ page.title.rendered }}</h1>

						<div class="rt-post-content rt-content" v-html="page.content.rendered"></div>

					</div>
				</div>
			</div>
		</div>
	</transition>


</template>

<script>
export default {

	mounted: function() {
		this.getPage();
	},

	data() {
		return {
			page: {},
			loaded: 'false',
			pageTitle: ''
		};
	},
	methods: {
		getPage: function() {

			const vm = this;
			vm.loaded = 'false';

            axios.get( '/wp-json/wp/v2/pages', {
				params: { slug: vm.$route.params.name }
			} )
			.then( ( res ) => {

				vm.page = res.data[ 0 ];
				vm.loaded = 'true';
				vm.pageTitle = vm.page.title.rendered;
				vm.$store.commit( 'rtChangeTitle', vm.pageTitle );


			} )
			.catch( ( res ) => {

				//console.log( `Something went wrong : ${ res }` );

			} );

		}
	},
	watch: {

		'$route'( to, from ) {
			// react to route changes...
			this.getPage();
		}

	}

};
</script>
