<template>


        <div class="page-site vacans-page">

            <div class="container">
                <div class="row">
                    <div class="col col-lg-9">
                        <div class="row">
                            <div class="col col-lg-12">
                                <h1 class="page-title">Вакансія <b v-if="vacance">{{ vacance.title.rendered }}</b></h1>
                            </div>
                        </div>
                        <div class="row" v-if="vacance">
                            <div class="col col-lg-12">
                                <div class="content" v-html="vacance.content.rendered"></div>
                            </div>
                        </div>


                    </div>
                    <div class="col col-lg-3 vacance-list">
                        <div class="title">
                            Інші вакансії
                        </div>
                        <ul>
                            <li v-for="item in vacanceList">
                                <router-link class="menu-item" :to="{ path: '/vacance/' + item.slug }">
                                    {{ item.title.rendered }}
                                </router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



        </div>

</template>

<script>


    export default {
        props: ['vacanceSlug'],
        components: {

        },
        data() {
            return {
                vacanceList: false,
                vacance: false,
            }
        },



        mounted: function () {
            this.getVacances();
        },

        methods: {

            getVacanc() {
                var link = '/wp-json/wp/v2/vacance';
                if(this.vacanceSlug) link += '?slug=' + this.vacanceSlug
                axios.get(link)
                    .then(response => {
                        this.vacance = response.data[0];
                        this.$store.commit( 'rtChangeTitle', this.vacance.name);

                    })
                    .catch(e => {
                        console.log(e);
                    })
            },

            getVacances() {
                var link = '/wp-json/wp/v2/vacance';
                axios.get(link)
                    .then(response => {
                        this.vacanceList = response.data;
                        this.vacance = response.data[0];
                        this.$store.commit( 'rtChangeTitle', 'Вакансії');

                    })
                    .catch(e => {
                        console.log(e);
                    })
            },


        },
        watch: {
            '$route' (to, from) {
            },

            // blogCatActiv() {
            //     this.getCatActiv();
            // },
            vacanceSlug(){
                if (this.vacanceSlug)
                    this.getVacanc();

            }
        },







    }
</script>

<style lang="scss">

    .vacans-page{
        padding: 40px 0;
        .page-title{
            margin-top: 0;
        }

        .vacance-list{
            .title{
                text-transform: uppercase;
            }
            ul{
                margin: 0;
                padding: 20px 0;
                list-style: none;
                li{
                    a{
                        background-color: rgb(234, 234, 234);
                        color: #000;
                        padding: 10px 20px;
                        display: block;
                        transition: 500ms;
                        &:hover{
                            background-color: rgb(156, 73, 68);
                            color:white;
                        }
                    }

                    margin-bottom: 10px;

                }
            }

        }

    }


</style>