<template>
    <div id="blogPage">
        <div class="container">
            <h2>Найсвіжіші</h2>
            <div class="row news_blog">
                <div class="link_news_blog">
                    <span class="arrow-ser-left" v-on:click="getPrevPage" v-bind:class="(page == 1) ? 'arrow-disab': ''"></span>
                    <span class="arrow-ser-right" v-on:click="getNextPage" v-bind:class="(page == totalBlogItems) ? 'arrow-disab': ''"></span>
                </div>
                <div class=""
                     v-model="blogItems"
                     v-bind:class="!index ? 'col-md-8': 'col-md-4'"
                     v-for="(item, index) in blogItems">
                    <div class="blog-item"
                         v-bind:style="{ backgroundImage: 'url(' + (!index ? item.images.large : item.images.medium) + ')' }">
                        <div class="block-overlay"></div>
                        <div class="block-data">
                            <div class="block-data">
                                <div class="body-link" style="cursor: pointer;">
                                    <div class="body">
                                        <div class="table">
                                            <router-link class="name table-cell" :to="{ path: '/post/' + item.slug }">
                                                <span class="block-name" v-html="item.title.rendered"></span>
                                            </router-link>
                                        </div>
                                        <div class="attributes">
                                            <div class="left">
                                                <span  v-if="item.blog_name" class="category">{{item.blog_name}}</span>
                                            </div>
                                            <div class="right"><span class="time"><span class="icon"></span> {{item.date | formatDate}}</span></div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="left">
                                        <span class="author-name"> {{ item.autorb }} </span>
                                    </div>
                                    <div class="right">
                                        <span class="icon-views">{{ (item.post_views) ? item.post_views : 0 }}</span>
                                        <!--<span class="icon-like">13</span>-->

                                        <span  class="icon-comment">{{ (item.count_comments) ? item.count_comments : 0 }}</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="loader-tush" v-if="animate">
                    <div class="loader">
                        <div></div>
                        <svg  xmlns="http://www.w3.org/2000/svg" version="1.1">
                            <defs>
                                <filter id="goo">
                                    <fegaussianblur in="SourceGraphic" stddeviation="15" result="blur"></fegaussianblur>
                                    <fecolormatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 26 -7" result="goo"></fecolormatrix>
                                    <feblend in="SourceGraphic" in2="goo"></feblend>
                                </filter>
                            </defs>
                        </svg>
                    </div>
                </div>

            </div>
        </div>
        <div v-model="blogItems[0]" v-if="blogItems[0]" class="container-fluid current-article current-article-favorite"
             v-bind:style="{ backgroundImage: 'url(' +  blogItems[0].images.large + ')' }">
            <div class="overlay"></div>
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <span class="pin"></span>
                            <div class="info table">
                                <div class="table-cell">
                                    <span  v-if="blogItems[0].blog_name" class="category">{{blogItems[0].blog_name}}</span>
                                    <router-link class="article-name" :to="{ path: '/post/' + blogItems[0].slug }" v-html="blogItems[0].title.rendered"></router-link>

                                </div>
                            </div>
                            <div class="footer">
                                <span class="author-name">{{ blogItems[0].autorb }}</span>
                                <div class="info">
                                    <span class="icon-views">{{ (blogItems[0].post_views) ? blogItems[0].post_views : 0 }}</span>
                                    <!--<span class="icon-like">23</span>-->
                                    <span class="icon-comment">{{ (blogItems[0].count_comments) ? blogItems[0].count_comments : 0 }}</span>
                                </div>
                                <span class="time"><span class="icon"></span> {{blogItems[0].date | formatDate}}</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="subscribe favorite-post-subscribe">
                                <p class="title"><span class="bold">Подписаться</span></p>
                                <p class="description">Ви будете отримувати підбірку корисних статей</p>
                                <input name="wysija[user][firstname]" title="Ваше ім'я" placeholder="Ваше ім'я" value="" class="wysija-input " type="text">
                                <input name="wysija[user][email]" title="Email" placeholder="Email" value="" class="wysija-input validate[required,custom[email]]" type="text">
                                <input value="Підписатися" class="wysija-submit wysija-submit-field" type="submit">
                                <p class="stat">Уже підписалися 2 чоловік</p>
                            </div>
                            <div class="subscribe favorite-post-success" style="height:150px; display:none;">
                                <p class="title"><span class="bold">Спасибо за подписку</span></p>
                                <div class="envelope_img"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="nayItems" class="info-block most-blocks">
            <div class="container">
                <div class="block-title">
                    <h2>Най</h2>
                    <span class="sort" v-bind:class="(blogItemsNai.orderby == 'comment_count') ? 'active': ''" @click="sortPageNai('comment_count')">коментоване</span>
                    <span class="sort" v-bind:class="(blogItemsNai.orderby == 'post_views') ? 'active': ''" @click="sortPageNai('post_views')">популярне</span>
                    <span class="sort"  v-bind:class="(blogItemsNai.orderby == 'date') ? 'active': ''" @click="sortPageNai('date')">нове</span>
                </div>
                <div class="row news_blog">
                    <div class="link_news_blog">
                        <span class="arrow-ser-left" v-on:click="getPrevPageNai" v-bind:class="(blogItemsNai.page == 1) ? 'arrow-disab': ''"></span>
                        <span class="arrow-ser-right" v-on:click="getNextPageNai" v-bind:class="(blogItemsNai.page == blogItemsNai.totalBlogItems) ? 'arrow-disab': ''"></span>
                    </div>
                    <div class="col-md-4 block" v-for="(item, index) in blogItemsNai.post">
                        <div class="block-image"
                             v-bind:style="{ backgroundImage: 'url(' + item.images.medium + ')' }">
                            <router-link class="overlay" :to="{ path: '/post/' + item.slug }"></router-link>
                            <div class="attributes">
                                <div class="cat left">
                                    <span  v-if="item.blog_name" class="category">{{item.blog_name}}</span>
                                </div>
                                <div class="times right"><span class="time"><span class="icon"></span> {{item.date | formatDate}} </span></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="author-block">
                            <span class="author-name left"> {{ item.autorb }} </span>
                            <div class="info right">
                                <span class="icon-views">{{ (item.post_views) ? item.post_views : 0 }}</span>
                                <span class="icon-comment">{{ (item.count_comments) ? item.count_comments : 'Залишити відгук' }}</span>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <router-link class="article-name" :to="{ path: '/post/' + item.slug }" v-html="item.title.rendered"></router-link>
                        <div class="description" v-html="item.excerpt.rendered"></div>
                    </div>
                    <div class="loader-tush" v-if="blogItemsNai.animate">
                        <div class="loader">
                            <div></div>
                            <svg  xmlns="http://www.w3.org/2000/svg" version="1.1">
                                <defs>
                                    <filter id="goo">
                                        <fegaussianblur in="SourceGraphic" stddeviation="15" result="blur"></fegaussianblur>
                                        <fecolormatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 26 -7" result="goo"></fecolormatrix>
                                        <feblend in="SourceGraphic" in2="goo"></feblend>
                                    </filter>
                                </defs>
                            </svg>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container-fluid question-send">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="title">Хочеш поставити запитання<br>
                                про ...?</p>
                        </div>
                        <div class="col-md-8 send-form">
                            <app-form-mini></app-form-mini>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="videoBlog" class="container-fluid videos"  v-if="blogVideos.video[0]">
            <div class="row">
                <div class="container">
                    <div class="row" >
                        <div class="block-title">
                            <h2>Відео</h2>
                        </div>
                        <div class="link_news_blog">
                            <span class="arrow-ser-left" v-on:click="getPrevBogVideos()" v-bind:class="(blogVideos.page == 1) ? 'arrow-disab': ''"></span>
                            <span class="arrow-ser-right" v-on:click="getNextBlogVideos()" v-bind:class="(blogVideos.page == blogVideos.totalBlogItems) ? 'arrow-disab': ''"></span>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-8 block big" @click="see = !see" :class="(see) ? 'see' : ''">
                            <div class="preview">
                                <div class="overlay"></div>
                                <div class="video-info">
                                    <div class="table">
                                        <div class="table-cell">
                                            <span class="icon play"></span>
                                        </div>
                                    </div>
                                    <div class="name" v-html="blogVideos.video[0].title.rendered"></div>
                                </div>
                            </div>
                            <p class="videoblock" v-html="blogVideos.video[0].content.rendered"></p>
                        </div>
                        <div class="col-md-4 col-sm-12 blocks small">
                            <div class="block" v-if="blogVideos.video[1]" @click="see = !see" :class="(see) ? 'see' : ''">
                                <div class="preview">
                                    <div class="overlay"></div>
                                    <div class="video-info">
                                        <div class="table">
                                            <div class="table-cell">
                                                <span class="icon play"></span>
                                            </div>
                                        </div>
                                        <div class="name"  v-model="blogVideos.video[1]" v-html="blogVideos.video[1].title.rendered"></div>
                                    </div>
                                </div>
                                <p class="videoblock" v-html="blogVideos.video[1].content.rendered"></p>
                            </div>
                            <div class="block" v-if="blogVideos.video[2]" @click="see = !see" :class="(see) ? 'see' : ''">
                                <div class="preview">
                                    <div class="overlay"></div>
                                    <div class="video-info">
                                        <div class="table">
                                            <div class="table-cell">
                                                <span class="icon play"></span>
                                            </div>
                                        </div>
                                        <div class="name" v-html="blogVideos.video[2].title.rendered"></div>
                                    </div>
                                </div>
                                <p class="videoblock" v-html="blogVideos.video[2].content.rendered"></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container"  v-model="blogAllCatItems" style="visibility: hidden; position: absolute;">
            {{ blogAllCatItems | json }}
        </div>
        <div v-for="(cat, index) in blogAllCatItems.CatItems"
             v-bind:id="'categoty' + index" class="info-block most-blocks"
             v-bind:style="{ backgroundColor: ((index && (index % 2) ) ? '#f5f4ee' : '#fff')  }">
            <div v-if="cat['countAll'] > 0"   class="container">
                <div class="block-title">
                    <h2>{{ cat['catname'] }}</h2>
                    <span class="sort" v-bind:class="(cat.orderby == 'comment_count') ? 'active': ''" @click="sortItemsToCat(index, 'comment_count')">коментоване</span>
                    <span class="sort" v-bind:class="(cat.orderby == 'post_views') ? 'active': ''" @click="sortItemsToCat(index, 'post_views')">популярне</span>
                    <span class="sort"  v-bind:class="(cat.orderby == 'date') ? 'active': ''" @click="sortItemsToCat(index, 'date')">нове</span>
                </div>
                <div class="row news_blog">
                    <div class="link_news_blog">
                        <span class="arrow-ser-left" v-on:click="getPrevBlogItemsToCat(index)" v-bind:class="(cat.page == 1) ? 'arrow-disab': ''"></span>
                        <span class="arrow-ser-right" v-on:click="getNextBlogItemsToCat(index)" v-bind:class="(cat.page == cat.countAll) ? 'arrow-disab': ''"></span>
                    </div>
                    <div class="col-md-4 block" v-for="(item, index) in cat['posts']">

                        <div class="block-image"
                             v-bind:style="{ backgroundImage: 'url(' + item.images.medium + ')' }">
                            <router-link class="overlay" :to="{ path: '/post/' + item.slug }"></router-link>
                            <div class="attributes">
                                <div class="cat left">
                                    <span  v-if="item.blog_name" class="category">{{item.blog_name}}</span>
                                </div>
                                <div class="times right"><span class="time"><span class="icon"></span> {{item.date | formatDate}} </span></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="author-block">
                            <span class="author-name left"> {{ item.autorb }} </span>
                            <div class="info right">
                                <span class="icon-views">{{ (item.post_views) ? item.post_views : 0 }}</span>
                                <span class="icon-comment">{{ (item.count_comments) ? item.count_comments : 'Залишити відгук' }}</span>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <router-link class="article-name" :to="{ path: '/post/' + item.slug }" v-html="item.title.rendered"></router-link>
                        <div class="description" v-html="item.excerpt.rendered"></div>
                    </div>


                </div>

            </div>
            <div v-else   class="container">
                <div class="block-title">
                    <h2>{{ cat['catname'] }} - <u> категорія порожня</u></h2>
                </div>
            </div>
            <div class="loader-tush" v-if="cat.animate">
                <div class="loader">
                    <div></div>
                    <svg  xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <defs>
                            <filter id="goo">
                                <fegaussianblur in="SourceGraphic" stddeviation="15" result="blur"></fegaussianblur>
                                <fecolormatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 26 -7" result="goo"></fecolormatrix>
                                <feblend in="SourceGraphic" in2="goo"></feblend>
                            </filter>
                        </defs>
                    </svg>
                </div>
            </div>

        </div>



        <div class="more" v-if="blogAllCatItems.catCoun < blogAllCatItems.catCount" @click="addBlogItemsToCat()">Показати більше ({{blogAllCatItems.catCoun}} з {{blogAllCatItems.catCount}})</div>








    </div>



</template>

<script>

    import Menu from './Menu'
    export default {
        props: ['slug'],
        components: {

        },
        data() {
            return {
                message: 'Hello Vue!',
                blogCat: [],
                blogItems: [],
                page   : 1,
                totalBlogItems: 1,
                animate: false,
                pageY : 0,
                see: false,
                blogItemsNai: {
                    post          :[],
                    page          : 1,
                    totalBlogItems: 1,
                    animate       : false,
                    orderby       : 'comment_count',
                },
                blogVideos: {
                    video          :[],
                    page          : 1,
                    totalBlogItems: 1,
                    animate       : false,
                },
                blogAllCatItems: {
                    CatItems: [],
                    catCountCur: 2,
                    catCoun: 0,
                    catCount: 0,
                    catPostCount: 3,
                    rang: 0,
                }
            }
        },



        mounted: function () {
            this.getBlogItems();
            this.getBlogCat();
            this.getBlogItemsNai();
            this.getBlogVideos();


            this.loadStartCat();


        },

        methods: {

            sortItemsToCat: function (catID, orderby) {
                this.blogAllCatItems.CatItems[catID]['orderby'] = orderby;
                this.blogAllCatItems.CatItems[catID].page = 1;
                this.blogAllCatItems.CatItems[catID]['animate']  = true;
                let url = '/wp-json/wp/v2/posts?categories='
                    + this.blogCat[catID].id + '&per_page='
                    + this.blogAllCatItems.catPostCount
                    +'&page='+this.blogAllCatItems.CatItems[catID].page
                    +'&orderby='+this.blogAllCatItems.CatItems[catID]['orderby']
                    +'&order=desc';
                axios.get(url)
                    .then(response => {
                    setTimeout(()=> {
                        this.blogAllCatItems.CatItems[catID]['posts']    = response.data;
                        this.blogAllCatItems.CatItems[catID]['animate'] = false;
                        this.blogAllCatItems.rang--;
                    }, 1000);
                        this.blogAllCatItems.rang++;
                })
                    .catch(e => {
                        console.log(e);
                    });


            },
            getNextBlogItemsToCat: function (catID) {
                if(this.blogAllCatItems.CatItems[catID].page < this.blogAllCatItems.CatItems[catID]['countAll']) {
                    this.blogAllCatItems.CatItems[catID].page++;
                    this.blogAllCatItems.CatItems[catID]['animate'] = true;
                    const url = '/wp-json/wp/v2/posts?categories='
                        + this.blogCat[catID].id + '&per_page='
                        + this.blogAllCatItems.catPostCount
                        + '&page=' + this.blogAllCatItems.CatItems[catID].page
                        + '&orderby=' + this.blogAllCatItems.CatItems[catID]['orderby']
                        + '&order=desc';
                    axios.get(url)
                        .then(response => {
                        setTimeout(()=> {
                            this.blogAllCatItems.CatItems[catID]['posts'] = response.data;
                            this.blogAllCatItems.CatItems[catID]['animate'] = false;
                            this.blogAllCatItems.rang--;
                        }, 1000);

                            this.blogAllCatItems.rang++;
                    })
                        .catch(e => {
                            console.log(e);
                        });
                }
            },
            getPrevBlogItemsToCat: function (catID) {
                if(this.blogAllCatItems.CatItems[catID].page > 1) {
                    this.blogAllCatItems.CatItems[catID].page--;
                    this.blogAllCatItems.CatItems[catID]['animate'] = true;

                    const url = '/wp-json/wp/v2/posts?categories='
                        + this.blogCat[catID].id
                        + '&per_page=' + this.blogAllCatItems.catPostCount
                        + '&page=' + this.blogAllCatItems.CatItems[catID].page
                        + '&orderby=' + this.blogAllCatItems.CatItems[catID]['orderby']
                        + '&order=desc';

                    axios.get(url)
                        .then(response => {

                        setTimeout( ()=> {
                            this.blogAllCatItems.CatItems[catID]['posts'] = response.data;
                            this.blogAllCatItems.CatItems[catID]['animate'] = false;
                            this.blogAllCatItems.rang--;
                        }, 1000);

                            this.blogAllCatItems.rang++;
                    })
                        .catch(e => {
                            console.log(e);
                        });

                }
            },


            loadStartCat: function () {
                setTimeout( ()=> {
                    this.blogAllCatItems.catCount = this.blogCat.length;
                    this.getBlogItemsToCat();
                }, 3000);
            },


            getBlogItemsToCat: function () {
                const url = '/wp-json/wp/v2/posts?categories='
                    + this.blogCat[this.blogAllCatItems.catCoun].id
                    + '&per_page='+ this.blogAllCatItems.catPostCount
                    +'&page=1&orderby=comment_count&order=desc';

                if (this.blogCat[this.blogAllCatItems.catCoun]
                    &&
                    (this.blogAllCatItems.catCoun < this.blogAllCatItems.catCountCur))
                    axios.get(url)
                        .then(response => {
                        var ar = [];
                        var allPostX = '';
                        if (typeof response.headers['x-wp-totalpages'] == 'undefined') allPostX = response.headers['X-WP-TotalPages'];
                        else allPostX = response.headers['x-wp-totalpages'];

                        ar['catname']  = this.blogCat[this.blogAllCatItems.catCoun].name ;
                        ar['posts']    = response.data;
                        ar['countAll'] = allPostX;
                        ar['page']  = 1;
                        ar['orderby']  = 'comment_count';
                        ar['animate']  = false;
                        this.blogAllCatItems.CatItems.push(ar);
                        this.blogAllCatItems.catCoun++;
                        return this.getBlogItemsToCat();
                    })
                        .catch(e => {
                            console.log(e);
                        });

            },

            addBlogItemsToCat: function () {
                this.blogAllCatItems.catCountCur++;
                this.getBlogItemsToCat();
            },



            come: function (elem) {
                var docViewTop = $(window).scrollTop(),
                    docViewBottom = docViewTop + $(window).height(),
                    elemTop = $(elem).offset().top,
                    elemBottom = elemTop + $(elem).height();
                return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
            },

            getNextBlogVideos: function () {
                if(this.blogVideos.page < this.blogItemsNai.totalBlogItems) {
                    this.blogVideos.page++;
                    this.getBlogVideos();
                } else this.blogVideos.page = this.blogItemsNai.totalBlogItems;
            },
            getPrevBogVideos: function () {
                if(this.blogVideos.page > 1) {
                    this.blogVideos.page--;
                    this.getBlogVideos();
                } else this.blogVideos.page = 1;
            },


            getBlogVideos: function () {
                this.blogVideos.animate = true;
                const url = '/wp-json/wp/v2/video?per_page=3&page='
                            + this.blogVideos.page;
                axios.get(url)
                    .then(response => {
                    var allPostX = '';
                    if (typeof response.headers['x-wp-totalpages'] == 'undefined') allPostX = response.headers['X-WP-TotalPages'];
                    else allPostX = response.headers['x-wp-totalpages'];

                    this.blogVideos.video = response.data;
                    this.blogVideos.totalBlogItems = allPostX;
                    setTimeout( ()=> {
                        this.blogVideos.animate = false;
                    }, 1000);
                })
                    .catch(e => {
                        console.log(e);
                    });
            },
            getBlogItemsNai: function () {
                this.blogItemsNai.animate = true;
                const url = '/wp-json/wp/v2/posts?orderby='
                    + this.blogItemsNai.orderby
                    +'&order=desc&per_page=6&page='
                    + this.blogItemsNai.page;
                axios.get(url)
                    .then(response => {
                        var allPostX = '';
                        if (typeof response.headers['x-wp-totalpages'] == 'undefined') allPostX = response.headers['X-WP-TotalPages'];
                        else allPostX = response.headers['x-wp-totalpages'];
                    this.blogItemsNai.post = response.data;
                    this.blogItemsNai.totalBlogItems = parseInt(allPostX);
                    setTimeout( ()=> {
                        this.blogItemsNai.animate = false;
                    }, 1000);
                })
                    .catch(e => {
                        console.log(e);
                    });
            },
            getNextPageNai: function () {
                if(this.blogItemsNai.page < this.blogItemsNai.totalBlogItems) {
                    this.blogItemsNai.page++;
                    this.getBlogItemsNai();
                } else this.blogItemsNai.page = this.blogItemsNai.totalBlogItems;
            },
            getPrevPageNai: function () {
                if(this.blogItemsNai.page > 1) {
                    this.blogItemsNai.page--;
                    this.getBlogItemsNai();
                } else this.blogItemsNai.page = 1;
            },
            sortPageNai: function (orderby) {
                this.blogItemsNai.orderby = orderby;
                this.getBlogItemsNai();
            },


            getBlogCat: function () {
                const url = '/wp-json/wp/v2/categories?orderby=id';
                axios.get(url)
                    .then(response => {
                    this.blogCat = response.data;
                    this.catCountCur = this.blogCat.length;
                })
                    .catch(e => {
                        console.log(e);
                    });

            },
            getBlogItems: function () {
                this.animate = true;
                const url = '/wp-json/wp/v2/posts?per_page=5&page=' + this.page;
                axios.get(url)
                    .then(response => {
                    var allPostX = '';
                    if (typeof response.headers['x-wp-totalpages'] == 'undefined') allPostX = response.headers['X-WP-TotalPages'];
                    else allPostX = response.headers['x-wp-totalpages'];
                    this.blogItems = response.data;
                    this.totalBlogItems = parseInt(allPostX);
                    setTimeout(()=> {
                        this.animate = false;
                    }, 1000);
                })
                    .catch(e => {
                        console.log(e);
                    });
            },
            getNextPage: function () {
                if(this.page < this.totalBlogItems) {
                    this.page++;
                    this.getBlogItems();
                } else this.page = this.totalBlogItems;
            },
            getPrevPage: function () {
                if(this.page > 1) {
                    this.page--;
                    this.getBlogItems();
                } else this.page = 1;

            },
            isVisible:  ()=> {

                console.log(this);
            }
        },




        filters: {
            json: function (value)  {
                return JSON.stringify(value, null, 2)
            },

        },



    }
</script>

<style lang="scss">

    #blogPage{
        padding: 60px 0;


        .news_blog{
            position: relative;
        }
        .news_blog .link_news_blog{
            position: absolute;
            right: 15px;
            top: -40px;
            width: 100px;
        }
        .news_blog .link_news_blog .arrow-ser-right, .news_blog .link_news_blog .arrow-ser-left{
            height: 26px;
            width: 14px;
            background-size: cover !important;
            cursor: pointer;
            -webkit-transition: background .5s;
            -moz-transition: background .5s;
            -ms-transition: background .5s;
            -o-transition: background .5s;
            transition: background .5s;
        }
        .news_blog .link_news_blog .arrow-ser-right{
            right: 0;
        }
        .news_blog .link_news_blog .arrow-ser-left{
            left: 0;
        }
        .news_blog .link_news_blog .arrow-disab{
            opacity: 0.5;
            -webkit-transition: background .5s;
            -moz-transition: background .5s;
            -ms-transition: background .5s;
            -o-transition: background .5s;
            transition: background .5s;
            cursor: default;
        }
        h2 {
            color: black;
            font-size: 30px;
            margin: 0 0 30px;
            display: inline-block;

        }
        @media (max-width: 768px) {

            .page-content__article-wrap.smaller .page-content__article_show-count,
            .page-content__article-wrap.smaller .page-content__article__category{
                display: inline-block !important;
            }
        }
        .page-content__article-wrap.smaller .page-content__article_show-count,
        .page-content__article-wrap.smaller .page-content__article__category{
            display: none;
        }
        /*.page-content__article-wrap.small .page-content__article-background{
            background-size: cover !important;
        }*/
        .page-content__article-wrap.smaller .page-content__article__footer_white{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: rgba(255, 255, 255, 0.5);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            height: 40%;
            color: black;
        }
        .page-content__article-wrap.smaller .page-content__article:hover > .page-content__article__footer_white .page-content__article__title{
            color: rgb(156, 73, 68);
        }
        .page-content__article{
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: flex-end;
            color: white;
            position: relative;
            box-shadow: 0px 8px 10px -5px #000000;
            border-radius: 10px;
            transition: 0.2s;
        }

        .page-content__article:hover{
            box-shadow: 0px -1px 10px 0px #000000;
        }

        .page-content__article__title{
            margin: 10px;
            position: relative;
            overflow: hidden;
            padding: 5px;
            text-overflow: ellipsis;
            height: 75%;
        }
        .page-content__article-wrap a:hover{
            text-decoration: none;
        }
        .page-content__article-background{
            width: 100%;
            height: 100%;
            background-size: cover;
            background: no-repeat center;
            border-radius: 10px;
        }
        /*.page-content__grid{
            display: flex;
            flex-wrap: wrap;
        }*/
        .page-content__article__author{
            margin: 10px;
        }
        .page-content__article_show-count{
            white-space: nowrap;
        }
        .page-content__article__author .fa,
        .page-content__article__category .fa{
            color: #a6a6a6;
            margin-right: 5px;
        }

        .page-content__article-wrap.smaller .page-content__article__author .fa,
        .page-content__article-wrap.smaller .page-content__article__category .fa {
            color: #000;
        }
        .page-content__article__author__name{
            margin-right: 15px;
        }
        .page-content__article__category{
            position: absolute;
            top: 20px;
            padding: 5px 10px;
            background: rgba(93, 93, 92, 0.8);
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        .page-content__pagination{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
        }
        .page-content__pagination .page-numbers{
            margin-right: 40px;
            font-weight: bold;
            font-size: 14px;
            color: black;
        }
        .page-content__pagination .page-numbers.current{
            color: rgb(156, 73, 68);
        }
        .page-content__pagination .fa{
            color: rgb(156, 73, 68);
        }
        .wow { visibility: hidden; }
        .page-content_white{
            display: block;
            background-color: #fff;
            margin-top: 100px;
        }
        .article_wrap{
            background-color: white;
            margin-top: 20px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        .article_head{
        }
        .article__head__wrap{
            display: flex;
            padding-top: 40px;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
        }
        .article__head__title{
            margin: 10px;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .article_head__background{
            height: 370px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            position: relative;
        }
        .article__body{
            padding-bottom: 20px;
            overflow: hidden;
        }
        .page-content__article__category.black{
            background: rgba(0, 0, 0, 0.5);
            color: white;
        }
        .article_head__background.white{
            color: white;
        }
        .article_date{
            display: inline-block;
            background-color: #f0f1f2;
            color: black;
            padding: 5px 10px;
            margin: 15px 0;
            border-radius: 30px;
        }
        .article_text{
            border-bottom: 1px dotted #7b7b7b;
        }
        .last_articles_title{
            display: inline-block;
            background-color: rgb(156, 73, 68);
            color: white;
            padding: 5px 15px;
            margin: 15px 0;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            position: relative;
        }
        .last_article{
            border: 1px solid #cccccc;
        }
        .last_article__img{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            position: absolute;
            top: 0;
        }
        .last_articles .page-content__article{
            box-shadow: none;
            border: 1px solid #cccccc;
        }
        .last_articles .page-content__article-wrap.smaller .page-content__article_show-count,
        .last_articles .page-content__article-wrap.smaller .page-content__article__category{
            display: inline-block;
        }
        .last_article > .page-content__article-wrap.smaller{
            height: 380px !important;
        }
        .read_also_title{
            font-size: 16px;
            font-weight: bold;
        }
        .read_also{
            flex-direction: column;
            display: flex;
        }
        .read_also__item{
            display: block;
            padding: 10px 0;
            border-bottom: 1px dashed #7b7b7b;
            color: #005999;
            font-size: 16px;
            font-weight: bold;
        }
        .read_also__item:last-child{
            border-bottom: none;
        }
        .last_articles{
            margin-bottom: 20px;
        }
        .last_articles_slider .owl-pagination{
            display: block;
        }
        .last_articles_slider .owl-controls .owl-page span{
            width: 22px;
            height: 22px;
            border: 2px solid #d9d9d9;
            background: #ffffff;
            opacity: 1;
        }
        .last_articles_slider .owl-controls .owl-page.active span{
            border: 2px solid rgb(156, 73, 68);
        }
        .arrow-ser-right {
            background: url(/img/serv-arrow-right.png) !important;
            width: 19px;
            height: 35px;
            position: absolute;
            content: '';
            top: 50%;
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            right: -15px
        }

        .arrow-ser-left {
            background: url(/img/serv-arrow-left.png) !important;
            width: 19px;
            height: 35px;
            position: absolute;
            content: '';
            top: 50%;
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            left: -15px
        }

        .arrow-ser-right:hover {
            background: url(/img/serv-arrow-right-hover.png) !important
        }

        .arrow-ser-left:hover {
            background: url(/img/serv-arrow-left-hover.png) !important
        }

        .blog-item {
            height: 185px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            margin-bottom: 30px;
            position: relative;
        }
        .blog-item .block-overlay {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            -webkit-transition: background .5s;
            -moz-transition: background .5s;
            -ms-transition: background .5s;
            -o-transition: background .5s;
            transition: background .5s;
        }

        .blog-item .block-data {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
        }
        .blog-item:hover .block-overlay {
            background: rgba(0, 0, 0, 0.8);
        }


        .blog-item .block-data .body-link {
            cursor: pointer;
        }
        .blog-item .block-data .body {
            height: 155px;
        }

        .blog-item .block-data .body .table {
            height: 80%;
            display: table;
            table-layout: fixed;
            margin-bottom: 0;
        }

        .blog-item .block-data .body .table-cell {
            padding: 0 10px; text-decoration: none;
        }
        .blog-item .table-cell {
            display: table-cell;
            vertical-align: middle;
        }

        .blog-item .block-data .footer {
            background-color: transparent;
        }

        .blog-item .block-name {
            color: white;
            text-decoration: none;
            font-size: 17px;

            line-height: 22px;
            -webkit-transition: color .5s;
            -moz-transition: color .5s;
            -ms-transition: color .5s;
            -o-transition: color .5s;
            transition: color .5s;
        }
        .blog-item  .attributes {
            padding: 0 10px 0 0;
            box-sizing: border-box;
        }
        .blog-item  .left {
            float: left;
        }
        .blog-item  .right {
            float: right;
        }
        .blog-item  .attributes .clear {
            clear: both;
        }

        .blog-item  .attributes .category {
            color: white;
            text-decoration: none;
            font-size: 13px;

            display: inline-block;
            padding: 3px;
            -webkit-transition: background .5s;
            -moz-transition: background .5s;
            -ms-transition: background .5s;
            -o-transition: background .5s;
            transition: background .5s;
            background: rgb(156, 73, 68);
            text-decoration: none;

        }
        .blog-item  .attributes .time {
            color: white;
            font-size: 12px;
        }
        .blog-item  .attributes .time .icon {
            background: url("/img/time.svg");
            width: 17px;
            height: 17px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }

        .blog-item:hover .block-data .footer {
            background: rgb(156, 73, 68);
        }
        .blog-item .block-data .footer {
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 30px;
            line-height: 30px;
            padding: 0 10px;
            box-sizing: border-box;
            background: #b2b2b2;
            color: white;
            -webkit-transition: background .5s;
            -moz-transition: background .5s;
            -ms-transition: background .5s;
            -o-transition: background .5s;
            transition: background .5s;
        }



        .blog-item .icon-views::before,
        .blog-item .icon-like::before,
        .blog-item .icon-comment::before
        {
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            vertical-align: sub;
            margin: 0 4px 0 0;
        }
        .blog-item .icon-views::before {
            background: url("/img/views-white.svg");
        }
        .blog-item .icon-like::before {
            background: url("/img/likes-white.svg");
        }
        .blog-item .icon-comment::before {
            background: url("/img/comment-white.svg");
        }



        .blog-item .icon-views,
        .blog-item .icon-like,
        .blog-item .icon-comment,
        .blog-item .icon-comment a {
            display: inline-block;
            font-size: 12px;
            color: white;
            margin: 0 4px;
        }

        .most-blocks {
            position: relative;
        }
       .more::after {
            content: "";
            display: block;
            position: absolute;
            background: url("/img/ar.svg");
            width: 9px;
            height: 6px;
            right: 11px;
            top: 14px;
        }


        .videos .block .overlay {
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            overflow: hidden;
            display: block !important;
            -webkit-transition: background .5s;
            -moz-transition: background .5s;
            -ms-transition: background .5s;
            -o-transition: background .5s;
            transition: background .5s;
        }



        .see .preview{
            display: none !important;
        }

        .linktovac{
            background: transparent;
            color: white;
            border: solid 1px white;
            border-radius: 3px;
            font-size: 14px;

            margin: 0 0 0 20px;
            cursor: pointer;
            -webkit-transition: background .5s;
            -moz-transition: background .5s;
            -o-transition: background .5s;
            -ms-transition: background .5s;
            transition: background .5s;
            text-decoration: none;
            padding: 14px;
            font-size: 18px;
            display: inline-block;
            padding: 0;
            line-height: 44px;
            padding: 0 20px;
        }
        .attributes .category {
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-size: 13px;
            display: inline-block;
            padding: 3px;
            -webkit-transition: background .5s;
            -moz-transition: background .5s;
            -ms-transition: background .5s;
            -o-transition: background .5s;
            transition: background .5s;
            background: RGB(216, 14, 0);
            text-decoration: none;
        }

        .current-article-favorite {
            background: url(/img/vacancy.png) center center no-repeat;
            background-image: url("/img/vacancy.png");
            background-attachment: scroll;
            background-position-x: center;
            background-position-y: center;
            background-size: auto auto;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            height: 430px;
            box-sizing: border-box;
            padding-top: 40px;
            padding-bottom: 40px;
            position: relative;
        }

        .block-loaded{
            opacity: .3;
            -webkit-transition: background .5s;
            -moz-transition: background .5s;
            -ms-transition: background .5s;
            -o-transition: background .5s;
            transition: background .5s;
        }
        .loader.loaded{
            display: block;
        }
        .loader-tush{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 3;
            background-color: RGBA(250,250,250, .6);
        }
        .loader {
            -webkit-filter: url("#goo");
            filter: url("#goo");
            position: relative;
            position: absolute;
            z-index: 9;
            width: 500px;
            height: 127px;
            left: 0;
            right: 0;
            margin: auto;
            top: 0;
            bottom: 0;
            z-index: 4;
        }
        .loader::after {
            content: '';
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: rgb(156, 73, 68);
            margin: 0 auto;
            position: absolute;
            top: 30px;
            left: 220px;
            -webkit-animation: scale 2.5s ease-in-out infinite;
            animation: scale 2.5s ease-in-out infinite;
        }
        .loader div {
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: rgb(156, 73, 68);
            top: 45px;
            left: 235px;
            -webkit-animation: move 2.5s ease-in-out infinite alternate;
            animation: move 2.5s ease-in-out infinite alternate;
        }
        .loader div::after, .loader div::before {
            content: '';
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: rgb(156, 73, 68);
        }
        .loader div::before {
            left: -75px;
        }
        .loader div::after {
            left: 75px;
        }
        .loader svg {
            position: absolute;
            z-index: -100;
            pointer-events: none;
        }


        @-webkit-keyframes move {
            0% {
                -webkit-transform: translateX(-150px);
                transform: translateX(-150px);
            }
            100% {
                -webkit-transform: translateX(150px);
                transform: translateX(150px);
            }
        }

        @keyframes move {
            0% {
                -webkit-transform: translateX(-150px);
                transform: translateX(-150px);
            }
            100% {
                -webkit-transform: translateX(150px);
                transform: translateX(150px);
            }
        }
        @-webkit-keyframes scale {
            10% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            50% {
                -webkit-transform: scale(1.25);
                transform: scale(1.25);
            }
            90% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
        @keyframes scale {
            10% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            50% {
                -webkit-transform: scale(1.25);
                transform: scale(1.25);
            }
            90% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }

        .current-article-favorite {
            background: url(/img/vacancy.png) center center no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            height: 430px;
            box-sizing: border-box;
            padding-top: 40px;
            padding-bottom: 40px;
            position: relative;
        }
        .current-article{
            position: relative;
        }
        .current-article .row {
            z-index: 2;
            position: relative;
        }
        .current-article .pin {
            background: url("/img/for-01.svg");
            width: 17px;
            height: 17px;
            display: block;
            top: -20px;
            position: absolute;
        }

        .current-article .table-cell {
            display: table-cell;
            vertical-align: middle;
        }
        .current-article .col-md-8 {



        }
        .current-article .table {
            display: table;
            table-layout: fixed;
            margin-bottom: 0;
            height: 310px;
        }
        .current-article .category {
            color: white;
            text-decoration: none;
            font-size: 13px;
            display: inline-block;
            padding: 3px;
            -webkit-transition: background .5s;
            -moz-transition: background .5s;
            -ms-transition: background .5s;
            -o-transition: background .5s;
            transition: background .5s;
            background: rgb(156, 73, 68);
        }
        .current-article .article-name {
            display: block;
            margin: 15px 0 0;
            color: white;
            text-decoration: none;
            font-size: 30px;
            line-height: 33px;
            -webkit-transition: color .5s;
            -moz-transition: color .5s;
            -ms-transition: color .5s;
            -o-transition: color .5s;
            transition: color .5s;
        }
        .current-article .footer{
            background-color: transparent;
        }
        .current-article .footer .author-name {
            max-width: 32%;
        }
        .current-article .footer .author-name, .current-article .footer .info, .current-article .footer .time , .current-article .icon-views , .current-article a.icon-comment{
            display: inline-block;
            width: 32%;
            vertical-align: middle;
            display: inline-block;
            font-size: 12px;
            color: white;
        }

        .current-article .icon-views::before, .current-article .icon-comment::before {
            content: "";
            display: inline-block;
            width: 22px;
            height: 22px;
            vertical-align: middle;
            margin: 0 3px 0 0;
            margin-bottom: 0px;
            background-position: center;
            -webkit-background-size: contain;
            background-size: 22px;
            background-repeat: no-repeat;
            margin-bottom: 3px;
        }
        .current-article .icon-comment::before {
            background-image: url("/img/comment-white.svg");
        }

        .current-article .icon-views::before {
            background-image: url("/img/views-white.svg");
        }

        .current-article .subscribe {
            height: 320px;
            width: 100%;
            box-sizing: border-box;
            background: rgba(156, 73, 68, 0.8);
            padding: 20px 10px;
        }

        .current-article .subscribe .title {
            color: white;
            font-size: 14px;
            line-height: 22px;
            margin: 0 0 15px;
        }

        .current-article .subscribe .description {
            color: #ceedf5;
            font-size: 14px;
            line-height: 17px;
            margin: 0 0 20px;
        }


        .current-article .subscribe .stat {
            font-size: 14px;
            color: white;
            margin-bottom: 0;
        }



        .current-article .subscribe .wysija-input {
            width: 100%;
            margin: 0 0 15px;
            font-size: 14px;
            color: #9b9b9b;
            background: white;
            border: none;
            height: 35px;
            box-sizing: border-box;
            padding: 0 10px;
            border-radius: 3px;
        }

        .current-article .subscribe .wysija-submit, .post-subscribe button {
            background: #fff;
            width: 125px;
            height: 35px;
            border: none;
            color: rgb(156, 73, 68);
            font-size: 14px;
            border-radius: 3px;
            margin: 0 0 25px;
            cursor: pointer;
        }
        .current-article .subscribe .widget_wysija_cont .allmsgs .updated {
            display: block !important;
            margin-top: 40px;
            margin-bottom: 40px;
            background: transparent;
            color: #fff;
            padding: 10px;
            text-align: center;
            font-size: 16px;
            border-color: #fff;
        }


        .current-article .time .icon {
            background: url("/img/time.svg");
            width: 17px;
            height: 17px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }

        .current-article .overlay {
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            overflow: hidden;
        }
        .info-block {
            padding: 55px 0 0;
        }


        .info-block .block {
            overflow: hidden;
            position: relative;
            vertical-align: top;
            margin: 0 0 40px;
        }


        .block .block-image {
            height: 155px;
            position: relative;
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .block .overlay {
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            overflow: hidden;
            display: none;
            -webkit-transition: background .5s;
            -moz-transition: background .5s;
            -ms-transition: background .5s;
            -o-transition: background .5s;
            transition: background .5s;
        }
        .block:hover .overlay {
            display: block;
            -webkit-transition: background .5s;
            -moz-transition: background .5s;
            -ms-transition: background .5s;
            -o-transition: background .5s;
            transition: background .5s;
        }
        .block .block-image .attributes {
            position: absolute;
            bottom: 15px;
            width: 100%;
            left: 0;
            z-index: 2;
            padding: 0 10px 0 0;
            box-sizing: border-box;
        }

        .block .left {
            float: left;
        }
        .block .right {
            float: right;
        }
        .block .category {
            color: white;
            text-decoration: none;
            font-size: 13px;
            display: inline-block;
            padding: 3px;
            -webkit-transition: background .5s;
            -moz-transition: background .5s;
            -ms-transition: background .5s;
            -o-transition: background .5s;
            transition: background .5s;
            background-color: rgb(156, 73, 68);
        }

        .block .block-image .attributes .favorites, #blogPage .block .block-image .attributes .time {
            display: none;
        }

        .block:hover .block-image .attributes .favorites, #blogPage .block:hover .block-image .attributes .time {
            display: block;
        }
        .time {
            color: white;
            font-size: 12px;
        }
        .time .icon {
            background: url("/img/time.svg");
            width: 17px;
            height: 17px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }

        .block .author-block {
            margin: 15px 0;
        }

        .block .article-name {
            color: #1b1b1b;
            font-size: 17px;
            line-height: 20px;
            margin: 0 0 15px;
            text-decoration: none;
            display: block;
            font-weight: 600;
            height: 60px;
        }
        .block .description {
            color: #232323;
            font-size: 13px;
            line-height: 17px;
            height: 70px;
        }
        .block .clear {
            clear: both;
        }

        .block  .author-name {
            font-size: 12px;
            color: rgb(156, 73, 68);
            max-width: 150px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-block;
            white-space: nowrap;
            text-decoration: none;
        }

        .block .icon-views, #blogPage .block .icon-like, #blogPage .block .icon-comment {
            color: #9b9b9b;
        }

        .block .icon-views::before,  #blogPage .block .icon-comment::before{
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            vertical-align: sub;
            margin: 0 2px 0 0;
        }

        .block .icon-like::before {
            background: url("/img/likes-01.svg");
        }
        .block .icon-comment::before {
            background: url("/img/comment-01.svg");
        }
        .block .icon-views::before {
            background: url("/img/views-01.svg");
        }



        .block-title .sort {
            color: rgb(156, 73, 68);
            cursor: pointer;
            margin: 0 10px;
            font-weight: bold;
        }


        .block-title .sort:hover, #blogPage .block-title .sort.active {
            color: black;
            -webkit-transition: background .5s;
            -moz-transition: background .5s;
            -ms-transition: background .5s;
            -o-transition: background .5s;
            transition: background .5s;
        }
        .question-send {
            background: rgb(156, 73, 68);
            padding-bottom: 30px;
            padding-top: 30px;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
            .title {
                color: rgb(255, 255, 255);
                font-size: 21px;
                line-height: 22px;
                margin: 0 5% 0 0;
                text-align: left;
            }

        }





        .videos {
            background: #f5f4ee;
            padding-top: 40px;
            padding-bottom: 80px;
            position: relative;
        }


        .videos .block.big {

            height: 350px;
        }
        .videos .block {
            cursor: pointer;
            position: relative;
        }

        .videos .preview {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
        }

        .videos .block .overlay {
            opacity: 0;
            -webkit-transition: opacity .5s;
            -moz-transition: opacity .5s;
            -ms-transition: opacity .5s;
            -o-transition: opacity .5s;
            transition: opacity .5s;
        }
        .videos .block .overlay {
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            overflow: hidden;
            display: block;
        }

        .videos .video-info {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        .videos .table {
            width: 100%;
            height: 100%;
        }
        .table {
            display: table;
            table-layout: fixed;
            margin-bottom: 0;
        }
        .videos .table-cell {
            text-align: center;
        }
        .table-cell {
            display: table-cell;
            vertical-align: middle;
        }

        .videos .block.big .icon.play {
            width: 110px;
            height: 110px;
        }
        .videos .icon.play {
            display: block;
            background: url("/img/video.svg");
            background-repeat: repeat;
            background-size: auto auto;
            background-repeat: no-repeat;
            background-size: cover;
            width: 66px;
            height: 66px;
            margin: 0 auto;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
        }
        .videos .name {
            position: absolute;
            bottom: 0;
            opacity: 0;
            color: white;
            width: 100%;
            box-sizing: border-box;
            padding: 0 10px;
            font-size: 18px;
            line-height: 24px;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
        }
        .videos .block:hover .name {
            bottom: 20px;
            opacity: 1;
        }

        .videos .block:hover .overlay {
            opacity: 1;
        }



        .videos .blocks.small {
            display: inline-block;
            vertical-align: top;
            margin: 0;
        }
        .videos .blocks.small .block:first-child {
            margin: 0 0 30px;
        }
        .videos .blocks.small .block {
            display: block;
            width: 100%;
            height: 160px;
            margin: 0;
        }
        .videos .block:hover .icon.play {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }

        .info_block_blocks .block {
            display: inline-block;
            vertical-align: top;
            margin-bottom: 40px;
        }

        p.videoblock{

        }

        p.videoblock iframe {
            width: 100% !important;
            height: 350px !important;
        }

        .small p.videoblock iframe {
            height: 160px !important;
        }

        .videos .link_news_blog {
            position: absolute;
            right: 30px;
            top: 10px;
            width: 100px;
        }
        .videos .row {
            position: relative;
        }



        .more {
            position: relative;
            margin: 0 auto;
            width: 230px;
            height: 35px;
            line-height: 35px;
            border: solid 1px black;
            border-radius: 4px;
            color: #010101;
            font-size: 16px;
            cursor: pointer;
            text-align: left;
            padding: 0 13px;
            box-sizing: border-box;
            margin-top: 40px;
        }

        .most-blocks {
            position: relative;
        }
        .more::after {
            content: "";
            display: block;
            position: absolute;
            background: url("/img/ar.svg");
            width: 9px;
            height: 6px;
            right: 11px;
            top: 14px;
        }

        .send-form{
            input{
                resize: none;
                vertical-align: middle;
                border-right: solid 1px rgb(199, 199, 199);
                border-radius: 2px;
                width: 32%;
                padding: 0 10px;
                line-height: 38px;
                display: block;
                float: left;
                margin-right: 1%;
            }
            button{
                resize: none;
                vertical-align: middle;
                border-right: solid 1px rgb(199, 199, 199);
                border-radius: 2px;
                width: 33%;
                padding: 0 10px;
                line-height: 38px;
                display: block;
                float: left;
                margin: 0;
            }
        }

    }


</style>