<template>
    <aside class="widget-block widget_nav_menu">
        <router-link class="title" :to="{ path: '/blog' }">
            Блог
        </router-link>
        <ul class="nav flex-column blog-categiry">
            <li v-for="(cat, i) in blogCat" class="nav-item">
                <router-link class="nav-link" :to="{ path: '/blog/' + cat.slug }">
                    {{ cat.name }}
                </router-link>
            </li>

        </ul>
    </aside>

</template>



<script>

    export default {
        data() {
            return {
                blogCat: [],
            }
        },
        mounted() {

            this.getBlogCat();

        },

        methods: {
            getBlogCat() {

                var link = '/wp-json/wp/v2/categories'

                // if(this.slug) {
                //     link += '?slug=' + this.slug;
                // }

                axios.get(link)
                    .then(response => {
                        this.blogCat = response.data;
                    })
                    .catch(e => {
                        console.log(e);
                    })
            },

        },
    }
</script>


<style>
    .blog-categiry .router-link-active {
        border-bottom: 1px solid red;
    }

</style>