<template>

    <div class="page-site blog-page">

        <div class="container">
            <div class="row">
                <div class="col col-lg-9">
                    <div class="row">
                        <div class="col col-lg-12">
                            <h1 class="page-title">Blog <b v-if="blogCatActiv">{{ blogCatActiv.name }}</b></h1>
                        </div>
                    </div>
                    <transition-group name="list-item" tag="div" class="row list_ul">
                        <div v-for="(item, i) in catItem" class="col col-lg-4 list_item"  :key="item.slug">
                            <router-link class="menu-item" :to="{ path: '/post/' + item.slug }">
                                <img v-bind:src="item.images.medium" v-bind:alt="item.title.rendered">
                                {{ item.title.rendered }}
                            </router-link>
                        </div>
                    </transition-group>

                </div>
                <div class="col col-lg-3">
                    <menu-cat></menu-cat>
                </div>
            </div>
        </div>



    </div>

</template>

<script>

    import Menu from './Menu'
    export default {
        props: ['slug'],
        data() {
            return {
                blogCatActiv: {},
                page: 'Blog',
                catItem: [],
                routeParams: {}
            }
        },
        components: {
            menuCat : Menu,
        },


        mounted() {
            this.$store.commit( 'rtChangeTitle', this.page );

            if(this.slug) {
                this.getCatActiv();
            } else {
                this.getCatItem();
            }

        },
        watch: {
            '$route' (to, from) {
            },

            // blogCatActiv() {
            //     this.getCatActiv();
            // },
            slug(){
                if (this.slug)
                    this.getCatActiv();
                else this.getCatItem();
            }
        },

        methods: {

            getCatActiv() {
                var link = '/wp-json/wp/v2/categories?slug=' + this.slug;
                axios.get(link)
                    .then(response => {
                    this.blogCatActiv = response.data[0];
                this.$store.commit( 'rtChangeTitle', this.blogCatActiv.name + ' : ' + this.page);
                this.getCatItem();

            })
            .catch(e => {
                    console.log(e);
            })
            },

            getCatItem() {

                var link = '/wp-json/wp/v2/posts';


                if(this.slug) {
                    link += '?categories=' + this.blogCatActiv.id;
                }

                axios.get(link)
                    .then(response => {
                    this.catItem = response.data;
            })
            .catch(e => {
                    console.log(e);
            })
            }

        },


    }
</script>

<style>

    .list-item-enter-active, .list-item-leave-active {
        transition: opacity 0.3s, transform 0.3s;
        transform-origin: left center;

    }
    .list-item-enter, .list-item-leave-to /* .list-leave-active for <2.1.8 */ {
        opacity: 0;
        transform: scale(0.5);
    }

</style>