<template>
    <transition name="company">
        <div class="blog-post" v-if="item">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-8">
                        <div class="row">
                            <div class="col col-lg-12">
                                <figure class="block-img"
                                        v-bind:style="{ backgroundImage: 'url(' + item.images.large  + ')' }">

                                </figure>
                                <div class="post__date">
                                    <time :datetime="item.date">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                        {{item.date | moment("Do MMMM YYYY") }}
                                    </time>
                                </div>
                                <h1 class="page-title" v-html="item.title.rendered"></h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-lg-12">
                                <div class="content" v-html="item.content.rendered"></div>


                                <div class="related-posts hentry posts-list" v-if="relatedPosts">
                                    <h3 class="entry-title">Пов'язані публікації</h3>
                                    <div class="row">
                                        <div class="related-post page-content col-xs-12 col-sm-6 col-md-6 col-lg-6"
                                             v-for="(it, i) in relatedPosts">
                                            <figure class="post-thumbnail" v-bind:style="{ backgroundImage: 'url(' + it.images.large  + ')' }">
                                                <router-link class="post-thumbnail__link post-thumbnail--fullwidth" :to="{ path: '/post/' + it.slug }" >
                                                </router-link>
                                            </figure>
                                            <header class="entry-header">
                                                <div class="post__date">
                                                    <time :datetime="item.date">
                                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                                        {{it.date | moment("Do MMMM YYYY") }}
                                                    </time>
                                                </div>
                                                <h5 class="entry-title">
                                                    <router-link  :to="{ path: '/post/' + it.slug }" v-html="it.title.rendered">
                                                    </router-link>
                                                </h5></header>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-4">
                        <menu-cat></menu-cat>

                        <aside class="widget-block widget-last-news">
                            <p class="title">Останні новини</p>
                            <recent-posts-widget limit="5"></recent-posts-widget>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import RecentPostsWidget from '../../widgets/RecentPosts'
    import Menu from './Menu'

    export default {
        data() {
            return {
                item: false,
                curCat: false,
                relatedPosts: false
            }
        },
        props: ['slug'],
        components: {
            menuCat: Menu,
            RecentPostsWidget,
        },
        mounted() {
            this.getItem();
        },
        methods: {

            getItem() {

                var link = '/wp-json/wp/v2/posts';


                if (this.slug) {
                    link += '?slug=' + this.slug;
                }

                axios.get(link)
                    .then(response => {
                        this.item = response.data[0];
                        this.$store.commit('rtChangeTitle', this.item.title.rendered);
                        this.getCatActiv();
                    })
                    .catch(e => {
                        console.log(e);
                    })
            },


            getCatActiv() {
                var link = '/wp-json/wp/v2/categories?id=' + this.item.categories[0].id;
                axios.get(link)
                    .then(response => {
                        this.curCat = response.data[0];
                        this.getCatItem();
                    })
                    .catch(e => {
                        console.log(e);
                    })
            },

            getCatItem() {

                var link = '/wp-json/wp/v2/posts?per_page=2';


                if (this.curCat) {
                    link += '&categories=' + this.curCat.id;
                }

                axios.get(link)
                    .then(response => {
                        this.relatedPosts = response.data;
                    })
                    .catch(e => {
                        console.log(e);
                    })

            }

        },

        watch: {
            '$route' (to, from) {
            },

            // blogCatActiv() {
            //     this.getCatActiv();
            // },
            slug(){
                if (this.slug)this.getItem();
            }
        },
    }
</script>
<style>


</style>
