<template>
  <div class="latest-posts" v-if="recentPostsLoaded">
      <article class="post media-post clearfix" v-for="post in recentPosts(limit)" :key="post.id">
        <router-link class="post-thumb" :to="{ path: '/post/' + post.slug }">
          <img :src="post.images.thumbnail" :alt="post.title.rendered">
        </router-link>
        <div class="post-right">
          <div class="post-title">
            <router-link :to="{ path: '/post/' + post.slug }">
              {{ post.title.rendered }}
            </router-link>
          </div>
          <p class="post-date">{{ post.date | moment("Do MMMM YYYY") }}</p>
        </div>
      </article>
  </div>
  <div v-else>Завантажую...</div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  props: ["limit"],
  computed: {
    ...mapGetters({
      recentPosts: 'recentPosts',
      recentPostsLoaded: 'recentPostsLoaded'
    })
  },

  mounted() {
    this.$store.dispatch('getPosts', { limit: parseInt(this.limit) })
  }
}
</script>
